<template>
    <documents-form></documents-form>
</template>

<script>
    import DocumentsForm from "../../../components/admin/documents/form";

    export default {
        name:       "documents-create",
        components: {
            DocumentsForm
        },
        mounted() {
            this.$title.set('Добавление документа');
        }
    };
</script>
