<template>
    <documents-form :id="id"></documents-form>
</template>

<script>
    import DocumentsForm from "../../../components/admin/documents/form";

    export default {
        name:       "documents-edit",
        components: {
            DocumentsForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование документа');
            this.id = this.$route.params.id;
        }
    };
</script>

