<template>
    <items-list title="Документы"
                add-button-text="Добавить документ"
                admin-link="/admin/documents"
                api-link="/api/documents"
                download-file-prop="file"
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";

    export default {
        name:       "documents-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Название',
                        value: 'name'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Документы')
        }
    };
</script>
