<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate() ? 'Добавление' : 'Изменение'} отзыва`"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push('/admin/reviews')">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate()"
                                    v-model="review.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="review.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-text-field v-model="review.work_position"
                                      label="Должность"
                                      name="work_position"
                                      :rules="[rules.required]"
                                      required></v-text-field>


                        <image-field v-model="review.logo" label="Логотип"></image-field>

                        <v-textarea v-model="review.text"
                                    label="Текст"
                                    auto-grow
                                    required></v-textarea>

                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate() ? 'Добавить' : 'Сохранить'}} отзыв
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {createEntity}  from "../../../api/createEntity";
    import ImageField      from "../common/fields/image";
    import {updateEntity}  from "../../../api/updateEntity";
    import {last}          from "lodash";

    export default {
        name:       "reviews-form",
        components: {
            ImageField,
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                sending:   false,
                formValid: true,
                review:    {},
                rules:     {
                    required: value => !!value || 'Обязательно'
                }
            };
        },
        methods:    {
            hasHistory() {
                return window.history.length > 2;
            },
            isCreate() {
                return !this.id;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeReview();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeReview() {
                if (this.isCreate()) {
                    this.createReview();
                }
                else {
                    this.updateReview();
                }
            },
            createReview() {
                this.sending = true;
                createEntity('reviews', this.review)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/reviews/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateReview() {
                this.sending = true;
                updateEntity('reviews', this.review)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            loadReview() {
                axios.get(`/api/reviews/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let review = data.data;
                            fetch(`/storage/${data.data.logo}`)
                                .then(res => res.blob())
                                .then(blob => {
                                    const type = data.data.logo.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                    const fileName = last(data.data.logo.split(/\s*\/\s*/));

                                    review.logo = new File([blob], fileName, {type});

                                    this.review = {...review};
                                });

                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate()) {
                this.loadReview();
            }
        }
    };
</script>
