<template>
    <services-form></services-form>
</template>

<script>
    import ServicesForm from "../../../components/admin/services/form";

    export default {
        name:       "service-create",
        components: {
            ServicesForm
        },
        mounted() {
            this.$title.set('Добавление услуги');
        }
    };
</script>
