<template>
    <services-form :id="id"></services-form>
</template>

<script>
    import ServicesForm from "../../../components/admin/services/form";

    export default {
        name:       "service-edit",
        components: {
            ServicesForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование услуги');
            this.id = this.$route.params.id;
        }
    };
</script>

