<template>
    <services-list :category-id="id"></services-list>
</template>

<script>
    import ServicesList from "../../../components/admin/services/list";

    export default {
        name:       "services-index",
        components: {
            ServicesList
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Услуги в категории');
            this.id = this.$route.params.id;
        }
    };
</script>
