<template>
    <post-form> </post-form>
</template>

<script>
    import PostForm from "../common/post-form/post-form";
    export default {
        name: "edit",
        components: {PostForm}
    };
</script>

<style scoped>

</style>
