<template>
    <div>
        <v-card>
            <v-card-title>
                <v-toolbar-title>{{ title }}</v-toolbar-title>

                <v-btn icon
                       :disabled="loader"
                       class="ml-3"
                       @click="loadItems()">
                    <v-icon>
                        mdi-reload
                    </v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Поиск"
                    single-line
                    hide-details
                ></v-text-field>

                <v-spacer></v-spacer>
                <v-btn v-if="addButtonText"
                       color="primary"
                       dark
                       class="mb-2"
                       :to="`${adminLink}/create`">
                    {{ addButtonText }}
                </v-btn>
            </v-card-title>
            <v-data-table :headers="headers"
                          :items="items"
                          :loading="loader"
                          :search="search"
                          :page.sync="page"
                          :options.sync="options"
                          sort-by="id"
                          sort-desc
                          :server-items-length="total"
                          :items-per-page="count"
                          loading-text="Загрузка..."
                          :footer-props="tableFooterProps"
                          @page-count="pageCount = $event">
                <template v-slot:no-data>
                    <div class="body-2 mb-4 mt-4">
                        {{ noElementsText }}
                    </div>
                    <v-btn v-if="addButtonText"
                           color="primary"
                           dark
                           class="mb-4"
                           :to="`${adminLink}/create`">
                        {{ addButtonText }}
                    </v-btn>
                </template>
                <template v-slot:no-results>
                    <div class="body-2 mb-4 mt-4">
                        По данному запросу ничего не найдено. Попробуйте изменить поисковый запрос.
                    </div>
                </template>
                <template v-slot:item.user_email="{ item }">
                    <div>
                        <v-avatar size="34" class="mr-2">
                            <v-img v-if="item.profile.image"
                                   :src="`/storage/${item.profile.image}`"
                                   :alt="`${item.name} ${item.last_name}`"></v-img>
                        </v-avatar>
                        <a :href="`mailto:${item.email}`">{{ item.email }}</a>
                    </div>
                </template>
                <template v-slot:item.active="{ item }">
                    {{ item.active ? 'Да' : 'Нет' }}
                </template>
                <template v-slot:item.actions="{ item }">

                    <v-btn v-if="downloadFileProp"
                           icon
                           target="_blank"
                           :href="`/storage/${item[downloadFileProp]}`">
                        <v-icon small>
                            mdi-download
                        </v-icon>
                    </v-btn>

                    <v-btn v-if="actions.show"
                           icon
                           :to="`${adminLink}/${item.id}`">
                        <v-icon small>
                            mdi-eye
                        </v-icon>
                    </v-btn>

                    <v-btn v-if="actions.showExternal"
                           icon
                           :href="`${externalLink}/${item.id}`"
                           target="_blank">
                        <v-icon small>
                            mdi-eye
                        </v-icon>
                    </v-btn>

                    <v-btn v-if="actions.edit"
                           icon
                           :to="`${adminLink}/${item.id}/edit`">
                        <v-icon small>
                            mdi-pencil
                        </v-icon>
                    </v-btn>
                    <v-btn
                        v-if="actions.delete"
                        @click="showDeleteModal(item.id)"
                        icon>
                        <v-icon
                            small>
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>
        <v-row justify="center" v-if="actions.delete">
            <v-dialog
                v-model="deleteDialog"

                max-width="290"
            >
                <v-card>
                    <v-card-title class="headline">
                        Подтвердите действие
                    </v-card-title>
                    <v-card-text>
                        Вы действительно хотите удалить элемент? Это действие не обратимо.

                    </v-card-text>
                    <v-progress-linear
                        v-if="deleting"
                        indeterminate
                        color="primary"
                        class="mb-0"
                    ></v-progress-linear>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="green darken-1"
                            text
                            @click="deleteDialog = false"
                        >
                            Отмена
                        </v-btn>
                        <v-btn
                            color="red darkred-1"
                            text
                            @click="deleteItem">
                            Удалить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>
import {createNamespacedHelpers} from "vuex";
import {deleteEntity}            from "../../api/deleteEntity";

const {mapActions} = createNamespacedHelpers('snackbar');

export default {
    name:  "items-list",
    props: {
        title:            {
            default: 'Новости'
        },
        addButtonText:    {
            default: null
        },
        apiLink:          {
            default: '/api/news'
        },
        adminLink:        {
            default: '/admin/news'
        },
        externalLink:     {
            default: '/news'
        },
        noElementsText:   {
            default: 'В списке пока нет элементов. Попробуйте добавить новый.'
        },
        downloadFileProp: {
            default: null
        },
        actions:          {
            default: () => ({
                show:         false,
                showExternal: false,
                edit:         true,
                delete:       true
            })
        },
        headers:          {
            default: [
                {
                    text:  'ID',
                    value: 'id'
                },
                {
                    text:  'Заголовок',
                    value: 'title'
                },
                {
                    text:  'Создано',
                    value: 'created_at'
                },
                {
                    text:     '',
                    value:    'actions',
                    sortable: false,
                    align:    'end'
                }
            ]
        }
    },
    data() {
        return {
            items:            [],
            page:             1,
            count:            50,
            total:            0,
            loader:           true,
            search:           null,
            options:          {},
            tableFooterProps: {
                'items-per-page-all-text': 'Все',
                'items-per-page-text':     'Элементов на страницу:',
                'items-per-page-options':  [-1, 10, 20, 50],
                'page-text':               '{0}-{1} из {2}'
            },
            deleteDialog:     false,
            deleteItemId:     0,
            deleting:         false
        };
    },
    watch: {
        options: {
            handler () {
                this.loadItems();
            },
            deep: true,
        },
    },
    methods: {
        ...mapActions([
            'setSnack'
        ]),
        showDeleteModal(id) {
            this.deleteDialog = !this.deleteDialog;
            this.deleteItemId = id;
        },
        deleteItem() {
            this.deleting = true;
            deleteEntity(this.apiLink, this.deleteItemId)
                .then(() => this.$notify.success('Успешно удалено!'))
                .catch((err) => this.$notify.error(err))
                .finally(() => {
                    this.deleting = false;
                    this.deleteDialog = false;
                    this.loadItems();
                });
        },
        loadItems() {
            const { page, itemsPerPage } = this.options
            this.loader = true;
            axios.get(this.apiLink + '?page=' + page + '&count=' + itemsPerPage)
                .then(({data}) => {
                    if (data.status === 'success') {
                        this.items = data.data;
                        this.total = data.total;
                        this.loader = false;
                    }
                });

        }
    },
    mounted() {
        this.loadItems();
    }
};
</script>
