<template>
    <v-app v-if="user" class="admin-panel">
        <v-app-bar color="primary"
                   dense
                   dark
                   fixed>
            <div class="container panel-container">
                <v-menu offset-y bottom nudge-width="100" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn outlined
                               class="mr-3"
                               v-bind="attrs"
                               v-on="on">
                            Меню
                        </v-btn>
                    </template>
                    <v-card>
                        <v-list dense nav>
                            <v-list-item-group color="primary">
                                <template v-for="(item,i) in routes">
                                    <v-list-group
                                        v-if="item.isGroup"
                                        :value="item.active"
                                        :prepend-icon="item.icon">
                                        <template v-slot:activator>
                                            <v-list-item-title>{{item.title}}</v-list-item-title>
                                        </template>

                                        <v-list-item
                                            v-for="({title, icon, path, isExact}, i) in item.children"
                                            :key="i"
                                            class="ml-5"
                                            link
                                            :href="path"
                                            target="_blank">
                                            <v-list-item-icon>
                                                <v-icon v-text="icon"></v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-title v-text="title"></v-list-item-title>
                                        </v-list-item>
                                    </v-list-group>
                                    <v-divider v-else-if="item.divider"
                                               :key="`divider-${i}`"></v-divider>
                                    <v-list-item v-else :key="item.title" link :href="item.path" target="_blank">
                                        <v-list-item-icon>
                                            <v-icon>{{ item.icon }}</v-icon>
                                        </v-list-item-icon>

                                        <v-list-item-content>
                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </template>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                </v-menu>

                <v-btn outlined color="white" href="/admin/" target="_blank">
                    Панель управления
                    <v-icon class="ml-2">mdi-view-dashboard</v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-menu offset-y bottom nudge-width="200">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            dark
                            outlined
                            class="mr-3 no-outline"
                            v-bind="attrs"
                            v-on="on">
                            {{user.name}} {{user.last_name}}
                            <v-avatar size="34" class="ml-2">
                                <v-img :src="`/storage/${user.profile.image}`" :aspect-ratio="1"></v-img>
                            </v-avatar>
                        </v-btn>
                    </template>
                    <user-menu :user="user"></user-menu>
                </v-menu>
            </div>
        </v-app-bar>
    </v-app>
</template>

<script>
    import UserMenu from "./user-menu";
    import {routes} from "../../router";

    export default {
        name:       "site-admin-panel",
        components: {UserMenu},
        props:      [
            'user',
            'siteInfo'
        ],
        data() {
            return {
                routes: []
            };
        },
        mounted() {
            this.routes = routes.filter(link => link.title || link.divider);
        }
    };
</script>


<style>
    .admin-panel .v-application--wrap {
        min-height: auto;
    }

    .wrapper {
        margin-top: 48px;
    }

    .header {
        top: 48px;
        z-index: 7;
    }

    .publication-1::before {
        z-index: 3;
    }

    .publication-1__group {
        z-index: 3;
    }

    .no-outline {
        outline: none;
        border: none;
    }

    .panel-container {
        display: flex;
    }
</style>
