<template>
    <v-card>
        <v-list>
            <v-list-item>
                <v-list-item-avatar >
                    <v-img :src="`/storage/${user.profile.image}`"
                         :alt="user.name"/>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>{{user.name}} {{user.last_name}}</v-list-item-title>
                    <v-list-item-subtitle>{{user.work_position}}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list>
            <v-list-item
                v-for="(item, i) in items"
                :key="i"
                link
                @click="clickHandler(item.click)"
                :href="item.path">
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-card>
</template>

<script>
    export default {
        name:     "user-menu",
        props:    [
            'user'
        ],
        computed: {
            items() {
                return [
                    {
                        icon:  'mdi-account-circle',
                        title: 'Профиль',
                        path:  `/admin/users/${this.user.id}/edit`
                    },
                    {
                        icon:  'mdi-logout',
                        title: 'Выйти',
                        click: this.logout
                    }
                ];
            }
        },
        methods:  {
            clickHandler(execute) {
                if (execute) {
                    execute();
                }
            },
            logout() {
                axios.post('/api/logout').then(({data}) => {
                    this.$notify.info('Выход из системы');
                    window.history.go();
                });
            }
        }
    };
</script>
