<template>
    <post-form type="articles"></post-form>
</template>

<script>
    import PostForm from "../../../components/admin/common/post-form/post-form";
    export default {
        name:    "articles-create",
        components: {PostForm},
        mounted() {
            this.$title.set('Добавление статьи')
        }
    };
</script>

