<template>
    <post-form :id="id" type="articles"></post-form>
</template>

<script>
    import PostForm from "../../../components/admin/common/post-form/post-form";

    export default {
        name:       "articles-edit",
        components: {PostForm},
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование статьи');
            this.id = this.$route.params.id;
        }
    };
</script>

<style scoped>

</style>
