<template>
    <items-list title="Статьи"
                add-button-text="Добавить статью"
                admin-link="/admin/articles"
                api-link="/api/articles"
                :headers="headers"
    ></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";
    export default {
        name:    "articles-index",
        components: {ItemsList},
        data() {
            return {
                headers:  [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Заголовок',
                        value: 'title'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align: 'end',
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Статьи')
        }
    };
</script>
