<template>
    <projects-categories-form></projects-categories-form>
</template>

<script>
    import ProjectsCategoriesForm from "../../../../components/admin/projects-categories/form";

    export default {
        name:       "projects-category-create",
        components: {
            ProjectsCategoriesForm
        },
        mounted() {
            this.$title.set('Добавление категории проектов');
        }
    };
</script>
