<template>
    <projects-categories-form :id="id"></projects-categories-form>
</template>

<script>
    import ProjectsCategoriesForm from "../../../../components/admin/projects-categories/form";

    export default {
        name:       "projects-category-edit",
        components: {
            ProjectsCategoriesForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Изменение категории проектов');
            this.id = this.$route.params.id;
        }
    };
</script>
