<template>
    <projects-categories-list></projects-categories-list>
</template>

<script>
    import ProjectsCategoriesList from "../../../../components/admin/projects-categories/categories-list";

    export default {
        name:       "projects-categories-index",
        components: {
            ProjectsCategoriesList,
        },
        mounted() {
            this.$title.set('Категории проектов');
        }
    };
</script>
