<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate ? 'Добавление' : 'Редактирование'} услуги`"
                           @onBack="goBack">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate"
                                    v-model="service.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="service.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-select :items="servicesCategories"
                                  v-model="service.services_category_id"
                                  :rules="[rules.required]"
                                  label="Категория"
                                  item-text="name"
                                  item-value="id"></v-select>

                        <v-text-field v-model="service.minimal_price"
                                      label="Минимальная цена"
                                      name="minimal_price"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-text-field v-model="service.total_price"
                                      label="Итоговая цена"
                                      name="total_price"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-text-field v-model="service.price_note"
                                      label="Примечание цены"
                                      name="price_note"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-card-title>
                            Подуслуги:
                        </v-card-title>

                        <array class="mb-5"
                               namespace="service_sub_services"
                               v-model="service.sub_services"
                               :components="{name: 'v-text-field', sort: 'v-text-field', price: 'v-text-field'}"
                               no-items-text="Добавьте подуслугу"></array>

                        <v-card-title>
                            Шаги (максимум 3):
                        </v-card-title>

                        <array class="mb-5"
                               namespace="service_steps"
                               v-model="service.steps"
                               max-items="3"
                               :components="{name: 'v-text-field', sort: 'v-text-field', time: 'v-text-field'}"
                               no-items-text="Добавьте шаг"></array>

                        <ckeditor :editor="editor" v-model="service.text" :config="config"></ckeditor>

                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate ? 'Добавить' : 'Сохранить'}} услугу
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {UploadAdapter} from "../../../utils/uploadAdapter";
    import ClassicEditor   from "@alex_hi/ckeditor5-build-abp";
    import {createEntity}  from "../../../api/createEntity";
    import {
        mapState,
        mapActions
    }                      from "vuex";
    import {updateEntity}  from "../../../api/updateEntity";

    export default {
        name:       "services-form",
        components: {
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                loading:   true,
                sending:   false,
                formValid: true,
                service:   {},
                rules:     {
                    required: value => !!value || 'Обязательно'
                },
                editor:    ClassicEditor,
                config:    {
                    image:        {
                        styles:  [
                            'alignLeft', 'alignCenter', 'alignRight'
                        ],
                        toolbar: [
                            'imageStyle:alignLeft',
                            'imageStyle:alignCenter',
                            'imageStyle:alignRight',
                            '|',
                            'imageTextAlternative'
                        ]
                    },
                    extraPlugins: [this.uploader],
                    mediaEmbed:   {previewsInData: true}
                }
            };
        },
        computed:   {
            ...mapState({
                servicesCategories:   state => state.servicesCategories,
                lastServicesCategory: state => state.lastServicesCategory
            }),
            isCreate() {
                return !this.id;
            }
        },
        methods:    {
            ...mapActions([
                'getServicesCategories'
            ]),
            hasHistory() {
                return window.history.length > 2;
            },
            goBack() {
                if (this.isCreate && this.hasHistory()) {
                    this.$router.go(-1);
                }
                else if (this.service.services_category_id) {
                    this.$router.push(`/admin/services/category/${this.service.services_category_id}`);
                }
                else {
                    this.$router.push('/admin/services/categories/');
                }
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeService();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeService() {
                const service = {
                    ...this.service,
                    sub_services: JSON.stringify(this.service.sub_services),
                    steps:        JSON.stringify(this.service.steps)
                };

                this.sending = true;

                if (this.isCreate) {
                    this.createService(service);
                }
                else {
                    this.updateService(service);
                }
            },
            createService(service) {
                createEntity('services', service)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/services/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateService(service) {
                updateEntity('services', service)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            getService() {
                axios.get(`/api/services/${this.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let service = data.data;

                            service.sub_services = JSON.parse(service.sub_services);
                            service.steps = JSON.parse(service.steps);

                            this.service = service;
                        }
                        this.loading = false;
                    });
            },
            uploader(editor) {
                editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                    return new UploadAdapter(loader, 'services');
                };
            }
        },
        mounted() {
            if (!this.isCreate) {
                this.getService();
            }
            else {
                this.loading = false;
            }

            if (!this.servicesCategories || !this.servicesCategories.length) {
                this.getServicesCategories();
            }
            if (this.lastServicesCategory) {
                Vue.set(this.service, 'services_category_id', this.lastServicesCategory.id);
            }
        }
    };
</script>

<style scoped>

</style>
