.error-common {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e9f1fa;

    & .container {
        flex-grow: 1;
    }

    &__row {
        position: relative;
        padding: 6.5% 0 4% 0;
        text-align: center;
    }

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-weight: bold;
        font-size: 822px;
        text-align: center;
        color: rgba(10, 39, 131, 0.05);
    }

    &__code {
        position: relative;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-weight: bold;
        font-size: 240px;
        line-height: 120%;
        color: #0a2783;
        z-index: 100;
    }

    &__button {
        position: relative;
        display: inline-block;
        width: 420px;
        padding: 1.5%;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        background-color: #0a2783;
        z-index: 100;
    }

    &__name {
        position: relative;
        margin-bottom: 3%;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-weight: bold;
        font-size: 64px;
        line-height: 120%;
        color: #0a2783;
        z-index: 100;
    }

    &__subname {
        position: relative;
        margin-bottom: 6%;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        color: #000000;
        z-index: 100;
    }

    &__text {
        position: relative;
        margin-bottom: 30px;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        color: #000000;
        z-index: 100;
    }

    &__phone {
        position: relative;
        display: block;
        margin-bottom: 10px;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: #0a2783;
        z-index: 100;
    }

    &__mail {
        position: relative;
        display: block;
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: #0a2783;
        z-index: 100;
    }
}

.error-404 {
}

.error-403 {
}

.error-work {
    .error-common__row {
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1880px) {
    .error-common {
        &__bg {
            @include adaptiv-font(700, 150);
        }

        &__code {
            @include adaptiv-font(240, 90);
        }

        &__text {
            @include adaptiv-font(24, 16);
        }

        &__button {
            @include adaptiv-font(24, 20);
        }

        &__phone {
            @include adaptiv-font(24, 20);
        }

        &__mail {
            @include adaptiv-font(24, 20);
        }

        &__name {
            @include adaptiv-font(64, 30);
        }

        &__subname {
            @include adaptiv-font(36, 18);
        }
    }
}

@media (max-width: 1320px) {
    .error-common {
        &__button {
            width: 350px;
        }
    }
}

@media (max-width: 1024px) {
    .error-common {
        &__button {
            width: 250px;
        }
    }
}

@media (max-width: 510px) {
    .error-common {
        &__button {
            width: 200px;
        }
    }
}
