.footer {
    padding: 60px 0;
    background: url("../img/dots-footer.svg") no-repeat 0% 70%, #0a2783;

    &__row {
        &:first-child {
            display: flex;
            margin-bottom: 60px;
            flex-wrap: wrap;
        }

        &:last-child {
            display: flex;
            justify-content: flex-end;

            .footer__column {
            }
        }
    }

    &__group {
        display: flex;
        flex: 0 1 1320px;
    }

    &__column {
        &:first-child {
            flex: 0 1 270px;
            margin-right: 180px;
        }

        &:nth-child(2) {
            flex: 0 1 150px;
            margin-right: 90px;
        }

        &:nth-child(3) {
            flex: 0 1 200px;
            margin-right: 90px;
        }

        &:nth-child(4) {
            flex: 0 1 250px;
            margin-right: 105px;
        }

        &:nth-child(5) {
            flex: 0 1 330px;
        }
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__social {
        display: flex;

        & a {
            display: block;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__name {
        @include font-param("Gordita-Medium", 18px, #ffffff, 500, 120%);
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 30px;
        @include font-param("Gordita-Regular", 18px, rgba(255, 255, 255, 0.7), 400, 120%);

        & a {
            color: inherit;

            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    &__contact {
        flex: 0 1 280px;

        .footer__item {
            color: #ffffff;
        }
    }

    &__subscribe {
        flex: 0 1 355px;
    }

    &__form {
        display: flex;
        flex-direction: column;

        input[type="email"] {
            max-width: 270px;
            padding: 18px 18px 18px 30px;
            margin-bottom: 15px;
            @include font-param("Gordita-Regular", 18px, #000000, 400, 120%);
            background: #fff;
        }
    }

    &__button {
        position: relative;
        margin-bottom: 30px;
        @include font-param("Gordita-Medium", 18px, #ffffff, 500, 140%);
        background: none;
        border: 2px solid #ffffff;
        padding: 17px 0 14px 0;
        max-width: 270px;

        & span {
            display: inline-block;
            position: relative;
            padding-right: 50px;

            &::before {
                content: "";
                position: absolute;
                width: 31px;
                height: 16px;
                top: 20%;
                right: 0%;
                background: url("../img/icon/icon-arrow-footer.svg") no-repeat;
            }
        }
    }

    &__sub {
        color: #ffffff;

        & a {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }

        .checkbox-form__checkmark {
            top: 0;
            transform: translate(0, 0);
            border-color: #ffffff;

            &::after {
                border-color: #0a2783;
            }
        }

        & input[type="checkbox"]:checked + .checkbox-form__checkmark {
            background: #ffffff;
        }
    }

    &__poilicy {
        text-align: center;
        margin-right: 90px;

        & a {
            @include font-param("Gordita-Regular", 18px, rgba(255, 255, 255, 0.5), 400, 120%);
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
