.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    background-color: #f5faff;
    padding: 25px 0;
    @include font-param("Gordita-Medium", 20px, #000000, 500, 120%);

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(10, 39, 131, 0.1);
        z-index: 1000;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.active {
            .header__logo {
                & img {
                    transition: all 0.5s ease 0.15s;
                    filter: invert(1) grayscale(1) brightness(10);
                }
            }

            .header__phone {
                display: none;
            }

            .header__lang {
                display: none;
            }

            .header__search {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 65px;

        &:last-child {
            margin-right: 0;
        }

        & a {
            position: relative;
            color: inherit;

            &:hover {
                color: #0a2783;
            }

            &.active {
                color: #0a2783;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #0a2783;
                }
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__phone {
        margin-right: 30px;

        & a {
            color: #0a2783;
        }
    }

    &__lang {
        margin-right: 30px;

        & a {
            text-transform: uppercase;
            color: inherit;

            &:hover {
                color: #0a2783;
            }
        }
    }

    &__search {
        width: 22px;
        height: 22px;
        background: url("../img/icon/icon-search.svg");

        &:hover {
            cursor: pointer;
        }
    }

    &__burger {
        display: none;
        margin-left: 30px;
        position: relative;
        width: 45px;
        height: 30px;

        & span {
            position: absolute;
            width: 45px;
            height: 3px;
            top: 14px;
            left: 0;
            background: #0a2783;
            transition: all 0.3s ease;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 45px;
            height: 3px;
            top: 0;
            left: 0;
            background: #0a2783;
            transition: all 0.3s ease;
        }

        &::after {
            top: auto;
            bottom: 0;
        }

        &.active {
            & span {
                background: #ffffff;
                transform: scale(0);
            }

            &::before {
                background: #ffffff;
                transform: rotate(45deg);
                top: 13px;
            }

            &::after {
                background: #ffffff;
                transform: rotate(-45deg);
                bottom: 14px;
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    padding-top: 100px;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #0a2783;
    opacity: 0;
    transition: all 0.3s ease;

    & .container-wrap {
        overflow-y: auto;
        height: 100%;
    }

    &.active {
        opacity: 1;
        right: 0;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
        width: 100%;
    }

    &__group {
        flex: 1 1 calc(100% / 2 - 60px);
        margin: 0 30px 30px 30px;

        &_link {
            display: flex;
            flex-wrap: wrap;
        }

        &_language {
            display: none;
            margin-bottom: 60px;
        }

        &_contact {
        }

        &_info {
        }
    }

    &__item {
        flex: 1 1 calc(100% / 2);
        margin-bottom: 30px;
        @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);

        & a {
            color: inherit;

            &.active {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #ffffff;
                }
            }
        }
    }

    &__lang-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include font-param("Gordita-Regular", 24px, #ffffff, 500, 140%);

        & span {
            display: inline-block;
            padding: 2px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 40px;

            & a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-size: 14px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.5);

                &.active {
                    border: 1px solid #ffffff;
                    color: #ffffff;
                }
            }
        }
    }

    &__text {
        margin-bottom: 30px;

        & a {
            color: inherit;
        }

        @include font-param("Gordita-Regular", 24px, #ffffff, 500, 140%);

        &_phone {
            margin-bottom: 15px;
            @include font-param("Gordita-Medium", 36px, #ffffff, 500, 120%);
        }

        &_email {
            font-family: "Gordita-Medium", "Arial", "sans-serif";
        }

        &_addres {
            max-width: 340px;
        }

        &_time-work {
            max-width: 250px;
        }
    }
}

@media (max-width: 1880px) {
    .header {
        padding: 20px 0;
        font-size: 15px;

        &__item {
            margin-right: 40px;
        }

        &__logo {
            & img {
                max-width: 261px;
            }
        }

        &__phone {
            margin-right: 24px;
        }

        &__lang {
            margin-right: 24px;
        }
    }
}

@media (max-width: 1320px) {
    .header {
        &__burger {
            display: block;
        }

        &__nav {
            display: none;
        }

        &__logo {
            z-index: 1000;

            & img {
                max-width: 180px;
            }
        }

        &__info {
            z-index: 1000;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__logo {
            & img {
                max-width: 135px;
            }
        }

        &__lang {
            display: none;
        }

        &__phone {
            display: none;
        }
    }

    .mobile-menu {
        &__wrap {
            flex-direction: column;
            margin: 0;
        }

        &__group {
            flex: 1 1 calc(100%);
            margin: 0 0 30px 0;

            &_link {
                flex-direction: column;
                order: 1;
            }

            &_language {
                display: block;
                order: 2;
                margin-bottom: 60px;
            }

            &_contact {
                order: 3;
            }

            &_info {
                order: 4;
            }
        }

        &__text {
            &_addres {
                max-width: initial;
            }
        }
    }
}

@media (max-width: 510px) {
    .mobile-menu {
        &__item {
            margin-bottom: 20px;
            font-size: 20px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 20px;

            &_phone {
                font-size: 24px;
            }

            &_email {
                font-size: 18px;
            }
        }

        &__lang-item {
            font-size: 18px;

            & span {
                & a {
                    font-size: 14px;
                }
            }
        }

        &__group {
            margin: 0 0 20px 0;

            &_language {
                margin-bottom: 35px;
            }
        }
    }
}
