//////////////////////////////////////*МЕДИАЗАПРОСЫ*///////////////////////////////////////////////////////////////////////////////
@media (max-width: 1880px) {
    .container-wrap {
        max-width: 1300px;
    }

    .title {
        font-size: 36px;
    }

    .btn {
        padding: 23px 0 23px 0;
        width: 315px;
        font-size: 18px;

        & span {
            padding-right: 34px;

            &::before {
                background: url("../img/icon/btn-arrow.svg") no-repeat 100% / 75%;
            }
        }
    }

    .phone-form {
        h3 {
            font-size: 21px;
        }
    }

    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ 1========================================================
    .juridical {
        background: url("../img/image-1.png") no-repeat 100% 25% / 48%, #f5faff;
        padding: 177px 0 65px 0;

        &.scrolled {
            margin-top: 108px;
        }

        &__title {
            margin-bottom: 90px;
        }

        &__column {
            gap: 40px;
        }

        &__item {
            padding: 19px 0 0 0;
            font-size: 21px;

            &::before {
                width: 90px;
                left: 0;
            }
        }

        &__text {
            font-size: 21px;
            //@include adaptiv-font(21, 14);
        }

        &__promo {
            margin-top: 64px;
        }
    }

    .trust {
        &__title {
            margin-bottom: 45px;
        }

        padding: 68px 0;
        background: url("../img/dots.svg") no-repeat 100% 7% / 43%;
    }

    .services {
        &__title {
            margin-bottom: 45px;
        }

        &__column {
            & .swiper-wrapper {
                margin: 0 -11px 23px -11px;
            }
        }

        &__wrap {
            padding: 0 11px;
            margin-bottom: 23px;
            min-height: 360px;
        }

        &__item {
            padding: 23px 23px 23px 45px;
        }

        &__group {
            margin-bottom: 23px;
        }

        &__logo {
            margin-right: 19px;

            & img {
                width: 45px;
                height: 45px;
            }
        }

        &__name {
            font-size: 22px;
        }

        &__text {
            max-width: 330px;
            padding-left: 23px;
            font-size: 14px;
            margin-bottom: 15px;

            &::before {
                top: 8px;
                width: 11px;
            }
        }

        padding: 23px 0 49px 0;
        background: url("../img/dots.svg") no-repeat 100% 0% / 43%, url("../img/dots-rewers.svg") no-repeat 0% 95% / 35%;
    }

    .publish {
        &__title {
            margin-bottom: 45px;
        }

        padding: 68px 0;
        background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 17% / 43%, #f5faff;
    }
    .tabs {
        &__control {
            margin-bottom: 45px;
        }

        &__button {
            font-size: 18px;
            width: 227px;
            padding: 24px 0;
            margin-left: -1px;

            &.active {
                font-size: 18px;
            }
        }

        &__wrap {
            margin-bottom: 45px;
        }
    }
    .publication-1 {
        padding: 0px 8px 34px 23px;
        height: 214px;

        &__date {
            font-size: 14px;
            margin-bottom: 8px;
        }

        &__name {
            font-size: 18px;
        }

        &__group {
            z-index: 10;
        }
    }

    .publication-2 {
        height: 214px;

        &__name {
            font-size: 27px;
            margin-bottom: 23px;
        }

        &__text {
            font-size: 18px;
            max-height: 150px;
        }

        &__discription {
            padding-right: 23px;
        }
    }

    .tabs__item:first-child {
        & .tabs__wrap {
            grid-template-rows: 214px 214px;
            gap: 23px;

            & .publication-1 {
                &:nth-child(1) {
                    .publication-1__name {
                        font-size: 27px;
                    }

                    &::before {
                        background: url("../img/dots-publish.svg") no-repeat 23px 15px / 13%, rgba(4%, 14%, 51%, 0.7);
                    }

                    &:hover {
                        &::before {
                            background: url("../img/dots-publish.svg") no-repeat 30px 20px, rgba(4%, 14%, 51%, 1);
                        }
                    }
                }
            }
        }
    }
    .tabs__item:nth-child(2) {
        & .tabs__wrap {
            grid-template-rows: 214px 214px;
            gap: 23px;
        }
    }
    .tabs__item:nth-child(3) {
        & .tabs__wrap {
            grid-template-rows: 214px 214px;
            gap: 23px;
        }
    }

    .reviews {
        &__title {
            margin-bottom: 45px;
        }
    }
    .slider-1 {
        margin-bottom: 23px;

        &__slide {
            padding: 41px 0 45px 0;
            background: url("../img/dots-slider.svg") no-repeat 2% 10% / 14%,
            url("../img/dots-slider.svg") no-repeat 98% 90% / 14%, #ffffff;
        }

        &__post {
            margin-bottom: 11px;
            font-size: 18px;
        }

        &__firm {
            margin-bottom: 23px;
            font-size: 27px;
        }

        &__coment {
            max-width: 825px;
            font-size: 18px;
        }
    }
    .slider-2 {
        padding: 53px 0 68px 0;

        &::before {
            content: "";
            width: 26px;
            height: 12px;
            border: 20px solid transparent;
            border-top: 20px solid #0a2783;
        }

        &__slide {
            // margin: 0 30px;
            & img {
                max-width: 220px;
                max-height: 120px;
            }
        }
    }
    .reviews__slider-1 .slick-arrow,
    .mass-media__slider .slick-arrow {
        background: url("../img/icon/icon-arrow-slider.svg") no-repeat 100% / 75%;
        width: 17px;
        height: 32px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background: url("../img/icon/icon-arrow-slider.svg") no-repeat 100% / 75%;
        width: 17px;
        height: 32px;
    }

    .mass-media {
        padding: 68px 0;

        &__title {
            margin-bottom: 60px;
        }

        &__slide img {
            max-width: 210px;
            object-fit: contain;
            height: 90px;
        }
    }

    .message {
        &__title {
            margin-bottom: 45px;
            max-width: 870px;
        }

        &__column {
            max-width: 544px;
        }

        padding: 68px 0;
        background: url("../img/message-bg.svg") no-repeat 100% 86% / 48%,
        url("../img/dots-message.svg") no-repeat 100% 10% / 30%;
    }

    .form {
        & input:not([type="submit"]),
        textarea {
            font-size: 18px;
        }

        &__group {
            margin-bottom: 23px;
        }

        &__name-group {
            margin-right: 23px;
        }

        &__email-group {
        }

        &__message-group {
            margin-bottom: 23px;
        }

        &__phone-group {
            margin-bottom: 23px;
        }

        &__name {
            padding: 23px;
        }

        &__email {
            padding: 23px;
        }

        &__phone {
            padding: 23px;
        }

        &__letter {
            padding: 23px;
            min-height: 135px;
        }

        &__submit {
            max-width: 315px;
            padding: 23px 0;
            font-size: 18px;
            margin-bottom: 15px;
        }

        &__sub {
            font-size: 11px;
        }
    }

    .footer {
        padding: 45px 0;
        background: url("../img/dots-footer.svg") no-repeat 0% 80% / 20%, #0a2783;

        &__row {
            &:first-child {
                margin-bottom: 45px;
            }
        }

        &__group {
            flex: 0 1 880px;
        }

        &__column {
            &:first-child {
                flex: 0 1 190px;
                margin-right: 126px;
            }

            &:nth-child(2) {
                flex: 0 1 105px;
                margin-right: 63px;
            }

            &:nth-child(3) {
                flex: 0 1 140px;
                margin-right: 63px;
            }

            &:nth-child(4) {
                flex: 0 1 175px;
                margin-right: 74px;
            }

            &:nth-child(5) {
                flex: 0 1 230px;
            }
        }

        &__logo {
            margin-bottom: 23px;
        }

        &__social {
            & a {
                margin-right: 23px;
            }
        }

        &__name {
            font-size: 14px;
            margin-bottom: 23px;
        }

        &__item {
            margin-bottom: 23px;
            font-size: 14px;
        }

        &__form {
            input[type="email"] {
                max-width: 213px;
                padding: 14px 14px 14px 23px;
                margin-bottom: 11px;
                font-size: 14px;
            }
        }

        &__button {
            margin-bottom: 23px;
            font-size: 14px;
            padding: 13px 0 11px 0;
            max-width: 213px;

            & span {
                padding-right: 38px;

                &::before {
                    width: 31px;
                    height: 16px;
                    background: url("../img/icon/icon-arrow-footer.svg") no-repeat 100% / 75%;
                }
            }
        }

        &__sub {
            font-size: 11px;
        }

        &__poilicy {
            margin-right: 68px;

            & a {
                font-size: 14px;
            }
        }
    }

    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ УСЛУГ========================================================
    .support {
        padding: 176px 0 0 0;
        background: url("../img/dots-team.svg") no-repeat 100% 9rem / 43%;

        &__title {
            margin-bottom: 45px;
        }
    }
    .tabs-support {
        &__controls {
            flex: 0 1 338px;
        }

        &__button {
            padding: 18px 11px;
            margin-right: -4px;

            font-size: 21px;

            & img {
                margin-right: 23px;
            }

            & span {
                max-width: 250px;
            }

            &.active {
                border: 4px solid rgba(10, 39, 131, 0.5);
                border-right: none;
            }
        }

        &__content {
            flex: 0 1 990px;
            padding: 45px;
            border: 4px solid rgba(10, 39, 131, 0.5);
        }

        &__text {
            font-size: 21px;
            margin-bottom: 23px;
            max-width: 563px;
        }

        &__element-2 {
            margin-bottom: 30px;

            & a {
                font-size: 18px;

                & span {
                    font-size: 14px;
                }
            }
        }
    }

    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОМАНДЫ========================================================
    .team {
        background: url("../img/dots-team.svg") no-repeat 100% 130px / 43%, #f5faff;
        padding: 144px 0 45px 0;

        &__title {
            margin-bottom: 45px;
        }

        &__list {
            grid-template-columns: repeat(4, 295px);
        }
    }

    .item-team {
        &__space {
            flex: 0 0 270px;
        }

        &__wrap {
            min-height: 390px;
            padding: 0 23px 23px 32px;

            &::before {
                width: 425px;
                height: 425px;
            }

            &::after {
                right: 12%;
                width: 68px;
                height: 68px;
                background: url("../img/icon/icon-arrow-team.svg") no-repeat 50% 50% / 50%, #ffffff;
            }

            &:hover {
                &::before {
                    width: 225px;
                    height: 225px;
                }

                &::after {
                    background: url("../img/icon/icon-arrow-team.svg") no-repeat 50% 50% / 50%, #b9c6e4;
                }
            }
        }

        &__image {
            & svg image {
                clip-path: url("#clipping-mobile");
            }
        }

        &__name {
            margin-bottom: 8px;
            font-size: 24px;
        }

        &__post {
            font-size: 18px;
        }
    }

    //=====================================================САЛЙДЕР=========================================
    .slick-dots li {
        margin-right: 23px;
    }
    .person__dots-1 .slick-dots li button,
    .person__dots-2 .slick-dots li button {
        width: 11px;
        height: 11px;
    }
    .person__arrow-1 .slick-arrow,
    .person__arrow-2 .slick-arrow {
        width: 45px;
        height: 45px;
        background: url("../img/icon/icon-arrow-slider-team-person.svg") no-repeat center / 25%, #0a2783;
    }
}

@media (max-width: 1320px) {
    .btn {
        width: 280px;
        border-width: 1px;
    }

    .juridical {
        padding: 148px 0 45px 0;

        &__column {
        }

        &__title {
            margin-bottom: 60px;
        }

        &__item {
            padding-top: 12px;
            font-size: 16px;

            &::before {
                width: 63px;
                height: 2px;
            }
        }

        &__text {
            font-size: 16px;
        }

        &__promo {
            margin-top: 60px;
        }
    }

    .trust {
        padding: 60px 0;
    }

    .services {
        padding: 0px 0 45px 0;
        background: url("../img/dots.svg") no-repeat 100% 0%/43%;

        &__column {
            & .swiper-wrapper {
                margin: 0 -15px 0px -15px;
            }
        }

        &__wrap {
            flex: 0 1 calc(100% / 2);
            padding: 0 15px;
            margin-bottom: 30px;
        }

        &__name {
            font-size: 28px;
        }

        &__text {
            font-size: 16px;

            &::before {
                width: 10px;
                height: 2px;
            }
        }

        &__promo {
            margin-left: 10px;
        }
    }

    .publish {
        background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 13%/43%, #f5faff;
        padding: 60px 0;

        &__title {
            max-width: 750px;
        }
    }

    .tabs {
        &__button {
            width: 160px;
            padding: 22px 0;
            font-size: 16px;
        }

        &__button.active {
            font-size: 16px;
        }

        &__control {
            margin-bottom: 30px;
        }

        &__wrap {
            margin-bottom: 30px;
        }
    }

    .tabs__item:first-child {
        & .tabs__wrap {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 260px 260px;
            gap: 20px;
            grid-template-areas: "clo1 clo2" "clo3 clo4";
        }

        .publication-1 {
            padding: 0px 8px 30px 15px;

            &:last-child {
                display: none;
            }

            &__name {
                font-size: 24px !important;
            }

            &__date {
                font-size: 16px !important;
            }

            &::before {
                background: url("../img/dots-publish.svg") no-repeat 23px 15px/7%, rgba(10, 36, 130, 0.7) !important;
            }
        }
    }

    .tabs__item:last-child {
        & .tabs__wrap {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 260px 260px;
            gap: 20px;
        }

        .publication-1 {
            height: initial;

            &:nth-child(7) {
                display: none;
            }

            &:last-child {
                display: none;
            }
        }
    }

    .reviews {
        background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 0%/38%, #f5faff;
    }

    .slider-1 {
        &__slide {
            padding: 30px 0 30px 0;
        }

        &__coment {
            max-width: 600px;
        }
    }

    .slider-2 {
        &__slide {
            & img {
                max-width: 170px;
                height: 35px;
            }
        }
    }

    .mass-media {
        padding: 60px 0 0 0;
        background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 50%/45%;

        &__title {
            max-width: 380px;
        }

        &__slider {
            margin: 0;
        }

        &__slide {
            & img {
                max-width: 150px;
                height: 45px;
            }
        }

        .swiper-button-next {
            right: 0 !important;
        }

        .swiper-button-prev {
            left: 0 !important;
        }
    }

    .mass-media__slider .slick-arrow.slick-prev {
        left: 0;
    }

    .mass-media__slider .slick-arrow.slick-next {
        right: 0;
    }

    .message {
        padding: 60px 0;
        background: url("../img/message-bg.svg") no-repeat 100% 86%/48%;

        &__column {
            max-width: 480px;
        }
    }
    .form {
        & input {
            padding: 25px 15px;
            border: 1px solid #0a2783;
        }

        & textarea {
            padding: 25px 15px;
            border: 1px solid #0a2783;
        }

        &__submit {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    .footer {
        background: url("../img/dots-footer.svg") no-repeat 0% 35%/17%, #0a2783;

        &__row {
            &:first-child {
                display: flex;
                margin-bottom: 0px;
            }

            &:last-child {
                justify-content: center;
            }
        }

        &__column {
            margin-bottom: 45px;

            &:first-child {
                flex: 0 1 270px;
                margin-right: 4%;
            }

            &:nth-child(2) {
                flex: 0 1 150px;
                margin-right: 4%;
            }

            &:nth-child(3) {
                flex: 0 1 200px;
                margin-right: 4%;
            }

            &:nth-child(4) {
                flex: 0 1 250px;
                margin-right: 0px;
            }

            &:nth-child(5) {
                flex: 0 1 440px;
            }
        }

        &__group {
            flex: initial;
        }

        &__form {
            & input[type="email"] {
                max-width: initial;
                padding: 27px 14px 27px 23px;
                font-size: 16px;
            }
        }

        &__button {
            max-width: initial;
            border-width: 1px;
            padding: 27px 0 27px 0;
        }

        &__sub {
            font-size: 16px;
        }

        &__name {
            font-size: 18px;
        }
    }

    .team {
        &__list {
            grid-template-columns: repeat(2, 295px);
        }
    }

    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ УСЛУГ========================================================
    .support {
        padding: 147px 0 0 0;
    }
    .tabs-support {
        &__content {
            padding: 30px;
        }

        &__text {
            font-size: 16px;
        }

        &__element-2 {
            & a {
                font-size: 16px;
            }
        }

        &__button {
            padding: 25px 15px;
            font-size: 16px;

            & img {
                width: 20px;
                height: 20px;
            }

            & span {
                max-width: 160px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .container-wrap {
        max-width: 480px;
    }
    .btn {
        width: 280px;
        font-size: 16px;
    }
    .title {
        font-size: 24px;
    }

    .media-d-flex {
        flex-direction: column;
    }

    .phone-form {
        width: auto;
        margin-top: 30px;
    }

    .juridical {
        padding: 121px 0 0 0;
        background: url("../img/image-1.png") no-repeat 50% 50%/33rem, #f5faff;

        &__row {
            padding-bottom: 0;
            position: relative;
        }

        &__promo {
            position: inherit;
            bottom: 5%;
        }

        &__title {
            margin-bottom: 45px;
        }

        &__column {
            grid-template-columns: 0.9fr 1fr;
            width: 100%;
            column-gap: 25px;
            row-gap: 30px;
        }

        &__phone_wrapper {
            flex-direction: column-reverse;
            padding-top: 80%;
        }

        &__item {
            font-size: 14px;
        }

        &__item {
            font-size: 14px;
        }

        &__promo {
            margin: inherit;
        }
    }

    .trust {
        background: url("../img/dots-mobil.svg") no-repeat 100% 2rem/23%;
        padding: 45px 0;

        &__wrap {
            display: block;
        }

        &__column {
            & .swiper-slide {
                flex-shrink: 0;
            }
        }

        &__image {
            max-height: 300px;
            height: 100%;
        }
    }

    .services {
        background: none;

        &__title {
            margin-bottom: 30px;
        }

        &__wrap {
            padding: 0;
            flex: initial;
            flex-shrink: 0;
        }

        &__column {
            position: relative;
            overflow: hidden;

            & .swiper-wrapper {
                position: relative;
                display: flex !important;
                margin: 0 !important;
                flex-wrap: initial !important;
            }
        }

        &__name {
            font-size: 18px;
        }

        &__text {
            font-size: 14px;
        }

        &__dots {
            position: absolute;
            bottom: initial !important;
            top: 20px;
            z-index: 3;
        }

        &__item {
            padding: 30px 20px 20px 20px;
            border-width: 2px;

            &:hover {
                cursor: inherit;
                background-color: inherit;
                border-color: #f0f6fb;

                .services__logo {
                    & img {
                        filter: initial;
                    }
                }

                .services__name {
                    color: #0a2783;
                }

                .services__text {
                    color: #000000;

                    &::before {
                        background-color: #0a2783;
                    }
                }
            }
        }
    }

    .publish {
        padding: 45px 0 0 0;
        background: #f5faff;
    }

    .tabs {
        &__button {
            padding: 18px;
            font-size: 14px;

            &.active {
                font-size: 14px;
            }
        }
    }

    .tabs__item:first-child {
        & .tabs__wrap {
            grid-template-columns: 1fr;
            grid-template-rows: 220px 220px 220px;
            grid-template-areas: "clo1" "clo2" "clo3";
        }

        .publication-1 {
            &__name {
                font-size: 18px !important;
            }

            &__date {
                font-size: 14px !important;
            }

            &:nth-child(4) {
                display: none;
            }
        }
    }

    .tabs__item:nth-child(2) {
        & .tabs__wrap {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "clo1";

            & .publication-2 {
                &__wrap {
                    margin-bottom: 30px;

                    &:nth-child(2) {
                        display: block !important;
                    }

                    &:nth-child(3) {
                        display: block !important;
                        margin-bottom: 0px;
                    }

                    & iframe {
                        max-height: 100%;
                        height: 300px;
                    }

                    .publication-2__name {
                        display: block;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    .publication-2__text {
                        display: block;
                        font-size: 14px;
                        max-height: 97px;
                    }
                }

                &:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    display: none;
                }

                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    .tabs__item:last-child {
        & .tabs__wrap {
            grid-template-columns: 1fr;
            grid-template-rows: 220px 220px 220px;
            grid-template-areas: "clo1" "clo2" "clo3";
        }

        .publication-1 {
            &:nth-child(4) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }

            &:nth-child(6) {
                display: none;
            }
        }
    }

    .reviews {
        padding: 45px 0 0 0;
        background: url("../img/dots-mobil.svg") no-repeat 100% 2rem/23%, #f5faff;
    }

    .slider-1 {
        &__slide {
            background: #ffffff;
        }

        &__post {
            font-size: 14px;
        }

        &__firm {
            font-size: 24px;
        }

        &__coment {
            max-width: 400px;
            font-size: 14px;
        }
    }

    .slider-2 {
        padding: 30px 0 45px 0;

        &::before {
            width: 16px;
            height: 6px;
            border: 11px solid transparent;
            border-top: 7px solid #0a2783;
        }

        &__slide {
            // margin: 0 15px;
            & img {
                max-width: 130px;
                height: 25px;
            }
        }
    }

    .mass-media {
        background: url("../img/dots-mobil.svg") no-repeat 100% 2rem/23%;
        padding: 45px 0 0 0;

        &__title {
            max-width: 260px;
            margin-bottom: 50px;
        }

        &__slide {
            & img {
                height: 40px;
            }
        }
    }

    .message {
        padding: 45px 0;
        background: none;
    }

    .form {
        & input:not([type="submit"]),
        & textarea {
            font-size: 14px;
        }

        & input {
            padding: 18px 15px;
        }

        &__group {
            flex-direction: column;
            margin-bottom: 25px;
        }

        &__name-group {
            margin-right: 0;
            margin-bottom: 25px;
        }

        &__email-group {
        }

        &__message-group {
            margin-bottom: 25px;
        }

        &__phone-group {
            margin-bottom: 25px;
        }

        & textarea {
            padding: 18px 15px;
            min-height: 90px;
        }

        &__submit {
            font-size: 12px;
        }

        &__sub {
            font-size: 14px;
        }
    }

    .footer {
        padding: 30px 0;
        background: #0a2783;

        &__row {
            &:last-child {
                justify-content: flex-start;
            }
        }

        &__logo {
            & img {
                max-height: 60px;
            }
        }

        &__contact {
            & .footer__item {
                flex: 0 1 calc(100% / 2 - 30px);
                margin: 0 15px 20px;
            }

            & .footer__list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
            }
        }

        &__column {
            margin-bottom: 30px;

            &:first-child {
                flex: 0 1 270px;
                margin-right: 0;
            }

            &:nth-child(2) {
                flex: 0 1 50%;
                margin-right: 0;
            }

            &:nth-child(3) {
                flex: 0 1 50%;
                margin-right: 0;
            }

            &:nth-child(4) {
                flex: 0 1 100%;
                margin-right: 0px;
            }

            &:nth-child(5) {
                flex: 0 1 100%;
            }
        }

        &__group {
            flex-direction: column;
            text-align: start;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__poilicy {
            margin-right: 0;
            text-align: start;

            &:first-child {
                margin-bottom: 20px;
            }
        }

        &__form {
            & input[type="email"] {
                padding: 22px 14px 22px 23px;
                font-size: 14px;
            }
        }

        &__button {
            padding: 22px 0 22px 0;
        }
    }

    .article {
        &__back {
            & span {
                font-size: 14px;

                &::before {
                    width: 20px;
                    height: 10px;
                }
            }
        }
    }
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНТАКТОВ ОТДЕЛЬНОГО СОТРУДНИКА========================================================
    .team {
        padding: 100px 0 45px 0;
        background: url("../img/dots-team.svg") no-repeat 100% 100px / 43%, #f5faff;

        &__list {
            grid-template-columns: repeat(1, 295px);
            gap: 10px;
        }

        &__title {
            margin-bottom: 30px;
        }
    }

    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ УСЛУГ========================================================
    .support {
        padding: 120px 0 0 0;
        background: none;

        &__title {
            margin-bottom: 30px;
        }
    }
    .tabs-support {
        flex-direction: column;

        &__controls {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 100%;
            margin: -10px;
        }

        &__content {
            flex: 1 1 100%;
            padding: 45px 0 10px 0;
            border: none;
        }

        &__column {
        }

        &__element-2 {
            flex: 1 1 100%;
        }

        &__list-2 {
            flex-direction: column;
        }

        &__text {
            margin-bottom: 15px;
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 1 calc(100% / 2 - 20px);
            height: 60px;
            margin: 10px;
            padding: 0 10px;
            font-size: 14px;
            border: 2px solid #0a2783;
            color: #0a2783;

            & img {
                display: none;
            }

            & span {
                max-width: initial;
                text-align: center;
            }

            &.active {
                background: #0a2783;
                border-color: #0a2783;
                color: #ffffff;
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 510px) {
    .title {
        font-size: 16px;
    }
    .btn {
        width: 180px;
        padding: 16px 0;
        font-size: 12px;
    }

    .phone-form {
        margin-top: 30px;
    }

    .juridical {
        padding: 106px 0 0 0;
        background: url("../img/image-1.png") no-repeat 50% 50%/100%, #f5faff;

        &__row {
            padding-bottom: 0;
        }

        &__promo {
            position: inherit;
        }
    }
    .tabs {
        &__button {
            font-size: 11px;

            &.active {
                font-size: 11px;
            }
        }

        &__wrap {
            margin-bottom: 20px;
        }
    }
    .trust {
        background: url("../img/dots-mobil.svg") no-repeat 100% 2.5rem/30%;

        &__title {
            margin-bottom: 25px;
        }
    }
    .publish {
        padding: 30px 0 0 0;

        &__title {
            margin-bottom: 20px;
        }
    }
    .tabs__item:first-child {
        & .tabs__wrap {
            grid-template-rows: 180px 180px 180px;
        }

        .publication-1 {
            &__name {
                font-size: 11px !important;
            }

            &__date {
                font-size: 12px !important;
            }
        }
    }
    .tabs__item:nth-child(2) {
        & .tabs__wrap {
            & .publication-2 {
                &__wrap {
                    & iframe {
                        height: 250px;
                    }
                }
            }
        }
    }
    .reviews {
        padding: 30px 0 0 0;
        background: url("../img/dots-mobil.svg") no-repeat 100% 1.5rem/30%, #f5faff;

        &__title {
            margin-bottom: 20px;
        }
    }
    .mass-media {
        padding: 30px 0 0 0;

        &__title {
            max-width: 170px;
            margin-bottom: 35px;
        }

        &__slider {
            overflow: initial;
        }

        &__slide {
            & img {
                height: 30px;
            }
        }
    }
    .message {
        padding: 30px 0;
    }
    .slider-1 {
        &__post {
            font-size: 11px;
        }

        &__firm {
            font-size: 16px;
        }

        &__coment {
            max-width: 240px;
            font-size: 11px;
        }
    }
    .slider-2 {
        padding: 20px 0 30px 0;

        &__slide {
            // margin: 0 10px;
        }

        & .slick-list {
            overflow: initial;
        }
    }
    .mass-media {
        background: url("../img/dots-mobil.svg") no-repeat 100% 1.5rem/30%;

        & .slick-list {
            overflow: initial;
        }
    }
    .footer {
        padding: 20px 0;

        &__column {
            margin-bottom: 20px;
        }

        &__logo {
            & img {
                max-height: 35px;
            }
        }

        &__name {
            font-size: 14px;
        }

        &__item {
            font-size: 11px;
            margin-bottom: 20px;
        }

        &__form {
            & input[type="email"] {
                padding: 15px 14px 15px 23px;
                font-size: 12px;
            }
        }

        &__button {
            padding: 15px 0 15px 0;
            font-size: 12px;
        }

        &__sub {
            font-size: 14px;
        }
    }

    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ УСЛУГ========================================================
    .support {
        padding: 105px 0 0 0;

        &__title {
            margin-bottom: 20px;
        }
    }
    .tabs-support {
        &__button {
            height: 45px;
            font-size: 11px;
            flex: 0 1 calc(100% / 2 - 10px);
            margin: 5px;
            border-width: 1px;
        }

        &__controls {
            margin: -5px;
        }

        &__content {
            padding: 30px 0 10px 0;
        }

        &__column {
            flex: 1 1 100% !important;
        }

        &__text {
            font-size: 12px;
        }

        &__element-2 {
            margin-bottom: 15px;

            & a {
                font-size: 12px;

                & span {
                    margin-top: 5px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
