//========================================================АДАПТИВ ШРИФТОВ========================================================

$maxWidth: 1800; /*ШИРИНА МАКЕТА*/

@mixin adaptiv-font($pcSize, $mobSize) {
    /*pcSize - МАКЕТНЫЙ РАЗМЕР ШРИФТА*/
    /*МИНИМАЛЬНЫЙ РАЗМЕР ШРИФТА*/
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//========================================================СТИЛИ ШРИФТОВ========================================================

@mixin font-param($family, $size, $color, $weight, $line) {
    font-family: $family, "Arial", "sans-serif";
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: $line;
}
