body.lock {
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-wrap {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @include font-param("Gordita-Bold", 48px, #000000, 700, 120%);
}

.btn {
    display: block;
    position: relative;
    padding: 30px 0 30px 0;
    text-align: center;
    width: 420px;
    border: 2px solid #0a2783;
    @include font-param("Gordita-Bold", 24px, #0a2783, 700, 120%);

    & span {
        display: inline-block;
        position: relative;
        padding-right: 45px;

        &::before {
            content: "";
            position: absolute;
            width: 31px;
            height: 16px;
            right: 0;
            top: 60%;
            transform: translate(0, -50%);
            background: url("../img/icon/btn-arrow.svg");
        }
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

h2:not(.title) {
    font-size: 36px;
    line-height: 46px;
    margin: 20px 0;
}

h3:not(.title) {
    font-size: 28px;
    line-height: 38px;
    margin: 15px 0;
}

h4:not(.title) {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0;
}

@media (max-width: 1880px) {
    h2:not(.title) {
        font-size: 30px;
        line-height: 40px;
        margin: 15px 0;
    }

    h3:not(.title) {
        font-size: 24px;
        line-height: 34px;
        margin: 10px 0;
    }

    h4:not(.title) {
        font-size: 20px;
        line-height: 30px;
        margin: 5px 0;
    }
}

@media (max-width: 1320px) {
    h2:not(.title) {
        font-size: 24px;
        line-height: 34px;
    }

    h3:not(.title) {
        font-size: 20px;
        line-height: 30px;
    }

    h4:not(.title) {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width: 1024px) {
    h2:not(.title) {
        font-size: 20px;
        line-height: 30px;
    }

    h3:not(.title) {
        font-size: 18px;
        line-height: 28px;
    }

    h4:not(.title) {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 510px) {
    h2:not(.title) {
        font-size: 18px;
        line-height: 28px;
        margin: 10px 0;
    }

    h3:not(.title) {
        font-size: 16px;
        line-height: 26px;
        margin: 5px 0;
    }

    h4:not(.title) {
        font-size: 14px;
        line-height: 24px;
    }
}

blockquote {
    & p {
        position: relative;
        padding-left: 20px;
        font-style: italic;

        &::before {
            content: "“";
            position: absolute;
            left: 0;
            font-size: 36px;
            color: #0a2783;
        }
    }
}

ul,
ol {
    list-style-position: inside;
}

.article__text ul li {
    list-style: initial;
    list-style-position: inside;
}
