/* Слайдер */
.slick-slider {
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.reviews__slider-1 .slick-list {
    overflow: hidden;
}

.trust__column .slick-list {
    overflow: initial;
}

.reviews__slider-2 .slick-list {
    overflow: hidden;
}

.mass-media__slider .slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.reviews__slider-1 .slick-track {
    display: flex;
    align-items: center;
}

.reviews__slider-2 .slick-track {
    // display: flex;
    // align-items: center;
}

.mass-media__slider .slick-track {
    display: flex;
    align-items: center;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.reviews__slider-2 .slick-slide.slick-current {
    & img {
        filter: none;
    }
}

/* Слайд по центру */
.reviews__slider-2 .slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.reviews__slider-1 .slick-arrow,
.mass-media__slider .slick-arrow {
    position: absolute;
    font-size: 0;
    background: url("../img/icon/icon-arrow-slider.svg");
    width: 22px;
    height: 43px;
}

.person__arrow-1 .slick-arrow,
.person__arrow-2 .slick-arrow {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 0;
    background: url("../img/icon/icon-arrow-slider-team-person.svg") no-repeat center, #0a2783;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.person__button-prev,
.person__button-next {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 0;
    background: url("../img/icon/icon-arrow-slider-team-person.svg") no-repeat center, #0a2783;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.person__button-prev {
    margin-right: 60px;
}

.person__button-next {
    margin-left: 60px;
}

/* Стрелка влево */
.reviews__slider-1 .slick-arrow.slick-prev,
.mass-media__slider .slick-arrow.slick-prev {
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    z-index: 1;
}

.person__arrow-1 .slick-arrow.slick-prev,
.person__arrow-2 .slick-arrow.slick-prev {
    margin-right: 60px;
}

/* Стрелка вправо */
.reviews__slider-1 .slick-arrow.slick-next,
.mass-media__slider .slick-arrow.slick-next {
    top: 50%;
    right: 30px;
    transform: translate(0, -50%) rotate(180deg);
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    font-size: 0;
    background: url("../img/icon/icon-arrow-slider.svg") no-repeat;
    width: 30px;
    height: 47px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
}

.swiper-button-next {
    left: initial !important;
    right: 30px;
    transform: rotate(180deg);
    z-index: 1;
}

.swiper-button-prev {
    left: 30px !important;
}

.person__arrow-1 .slick-arrow.slick-next,
.person__arrow-2 .slick-arrow.slick-next {
    margin-left: 60px;
    transform: rotate(180deg);
}

.person__button-next {
    transform: rotate(180deg);
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.person__dots-1 .slick-dots,
.person__dots-2 .slick-dots {
    display: flex;
}

.slick-dots li {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

/* Активная точка */
.person__dots-1 .slick-dots li.slick-active button,
.person__dots-2 .slick-dots li.slick-active button {
    background-color: rgba(10, 39, 131, 1);
}

/* Элемент точки */
.person__dots-1 .slick-dots li button,
.person__dots-2 .slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(10, 39, 131, 0.3);
}

.person__dots-2 .swiper-pagination-bullet {
    margin-right: 30px;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(10, 39, 131, 0.3);

    &:last-child {
        margin-right: 0;
    }
}

.person__dots-2 .swiper-pagination-bullet-active {
    background-color: rgba(10, 39, 131, 1);
}

.services__column .slick-dots {
    display: flex;
    position: absolute;
    padding: 0 20px 0 30px;
    flex-grow: 1;
    width: 100%;
    margin: 0 -6px;
}

.services__column .slick-dots li {
    flex: 1 0 calc(100% / 6);
    margin: 0;
    padding: 0 3px;
}

.services__column .slick-dots li button {
    font-size: 0;
    background-color: rgba(10, 39, 131, 0.29);
    height: 2px;
    width: 100%;
}

.services__column .slick-dots li.slick-active button {
    background-color: #0a2783;
}

@media (max-width: 1024px) {
    .services__column .services__dots {
        display: flex;
        padding: 0 20px;
    }
}

.services__column .services__dots .swiper-pagination-bullet {
    font-size: 0;
    background-color: rgba(10, 39, 131, 0.29);
    height: 2px;
    width: 100%;
    opacity: 1 !important;
    border-radius: initial !important;
}

.services__column .services__dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgba(10, 39, 131, 1);
}
