.video {
    padding: 231px 0 90px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 13rem;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__row-1 {
        margin-bottom: 60px;
    }

    &__entry {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, minmax(350px, 1fr));
        grid-auto-rows: 1fr;
        height: initial;
    }

    &__item {
        & img {
            height: 290px;
            margin-bottom: 15px;
        }

        &:first-child {
            grid-column: span 2;
            grid-row: span 2;

            & img {
                height: 600px;
            }

            & .video__name {
                font-size: 36px;
                margin-bottom: 30px;
            }

            & .video__text {
                font-size: 24px;
                max-height: 285px;
            }
        }

        &:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;

            & img {
                height: 600px;
            }

            & .video__name {
                font-size: 36px;
                margin-bottom: 30px;
            }

            & .video__text {
                font-size: 24px;
                max-height: 400px;
            }
        }
    }

    &__prev {
        display: block;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        @include font-param("Gordita-Medium", 24px, #000000, 500, 120%);
        margin-bottom: 15px;

        & a {
            color: inherit;
        }
    }

    &__text {
        @include font-param("Gordita-Regular", 18px, #000000, 400, 120%);
        max-height: 145px;
        overflow: hidden;
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ ВИДЕО========================================================
    .video {
        padding: 176px 0 68px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 10rem / 15%;

        &__title {
            margin-bottom: 45px;
        }

        &__row-1 {
            margin-bottom: 45px;
        }

        &__entry {
            gap: 23px;
            grid-template-columns: repeat(4, minmax(263px, 1fr));
        }

        &__item {
            & img {
                height: 220px;
            }

            &:first-child {
                & img {
                    height: 450px;
                }

                & .video__name {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                & .video__text {
                    font-size: 18px;
                    max-height: 230px;
                }
            }

            &:nth-child(8) {
                & img {
                    height: 450px;
                }

                & .video__name {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                & .video__text {
                    font-size: 18px;
                    max-height: 200px;
                }
            }
        }

        &__name {
            font-size: 18px;
        }

        &__text {
            font-size: 14px;
            max-height: 97px;
        }
    }
}

@media (max-width: 1320px) {
    .video {
        background: url("../img/dots-news.svg") no-repeat 100% 9rem / 15%;
        padding: 147px 0 60px 0;

        &__title {
            margin-bottom: 30px;
        }

        &__row-1 {
            margin-bottom: 30px;
        }

        &__entry {
            gap: 30px;
            grid-template-columns: repeat(4, minmax(223px, 1fr));
        }

        &__item {
            & img {
                height: 150px;
            }

            &:first-child {
                & img {
                    height: 330px;
                }

                & .video__name {
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                & .video__text {
                    font-size: 16px;
                }
            }

            &:nth-child(8) {
                & img {
                    height: 330px;
                }

                & .video__name {
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                & .video__text {
                    font-size: 16px;
                }
            }
        }

        &__name {
            font-size: 14px;
        }

        &__text {
            font-size: 12px;
        }
    }
}

@media (max-width: 1024px) {
    .video {
        background: none;
        padding: 120px 0 60px 0;

        &__entry {
            gap: 20px;
            grid-template-columns: repeat(2, minmax(223px, 1fr));
        }

        &__item {
            & img {
                height: 140px;
            }

            &:first-child {
                & img {
                    height: 300px;
                }

                & .video__name {
                    font-size: 16px;
                }

                & .video__text {
                    font-size: 14px;
                    max-height: 225px;
                }
            }

            &:nth-child(6) {
                grid-column: span 2;
                grid-row: span 2;

                & img {
                    height: 300px;
                }

                & .video__name {
                    font-size: 16px;
                }

                & .video__text {
                    font-size: 14px;
                    max-height: 225px;
                }
            }

            &:nth-child(8) {
                & img {
                    height: 140px;
                }

                grid-column: initial;
                grid-row: initial;

                & .video__name {
                    font-size: 14px;
                }

                & .video__text {
                    font-size: 12px;
                    max-height: 225px;
                }
            }
        }

        &__name {
            font-size: 14px;
        }

        &__text {
            font-size: 12px;
        }
    }
}

@media (max-width: 510px) {
    .video {
        padding: 105px 0 30px 0;

        &__entry {
            gap: 10px;
            grid-template-columns: repeat(2, minmax(130px, 1fr));
        }

        &__item {
            & img {
                height: 90px;
            }

            &:first-child {
                & img {
                    height: 190px;
                }

                & .video__name {
                    font-size: 12px;
                }

                & .video__text {
                    font-size: 11px;
                    max-height: 185px;
                }
            }

            &:nth-child(6) {
                grid-column: span 2;
                grid-row: span 2;

                & img {
                    height: 190px;
                }

                & .video__name {
                    font-size: 12px;
                }

                & .video__text {
                    font-size: 11px;
                    max-height: 185px;
                }
            }

            &:nth-child(8) {
                & img {
                    height: 90px;
                }

                grid-column: initial;
                grid-row: initial;

                & .video__name {
                    font-size: 12px;
                }

                & .video__text {
                    font-size: 11px;
                    max-height: 185px;
                }
            }
        }

        &__name {
            font-size: 12px;
        }

        &__text {
            font-size: 11px;
            max-height: 76px;
        }
    }
}
