.vacancy {
    padding: 231px 0 90px 0;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__row-1 {
        display: flex;
        margin-bottom: 90px;
    }

    &__row-2 {
    }

    &__column {
        flex: 0 1 50%;

        &:first-child {
            margin-right: 131px;
        }
    }

    &__name {
        margin-bottom: 30px;
        @include font-param("Gordita-Medium", 36px, #000000, 500, 120%);
    }

    &__text {
        @include font-param("Gordita-Regular", 24px, #000000, 400, 120%);
        margin-bottom: 30px;
    }

    &__text-2 {
        position: relative;
        max-width: 483px;
        padding-left: 45px;
        margin-bottom: 30px;
        @include font-param("Gordita-Medium", 24px, #000000, 500, 140%);

        &::before {
            content: "";
            position: absolute;
            top: 16px;
            left: 0;
            width: 15px;
            height: 3px;
            background-color: #0a2783;
        }
    }

    &__discription {
        position: relative;
        padding-top: 30px;
        @include font-param("Gordita-Regular", 48px, #000000, 400, 120%);

        & a {
            color: #0a2783;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 6px;
            background-color: #0a2783;
        }
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ ВАКАНСИЙ========================================================

    .vacancy {
        padding: 176px 0 68px 0;

        &__title {
            margin-bottom: 45px;
        }

        &__row-1 {
            margin-bottom: 68px;
        }

        &__column {
            &:first-child {
                margin-right: 98px;
            }
        }

        &__name {
            margin-bottom: 23px;
            font-size: 27px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 23px;
        }

        &__text-2 {
            max-width: 362px;
            padding-left: 34px;
            margin-bottom: 23px;
            font-size: 18px;

            &::before {
                top: 10px;
                width: 11px;
            }
        }

        &__discription {
            padding-top: 23px;
            font-size: 36px;

            &::before {
                width: 90px;
            }
        }
    }
}

@media (max-width: 1320px) {
    .vacancy {
        padding: 147px 0 60px 0;

        &__title {
            margin-bottom: 30px;
        }

        &__row-1 {
            margin-bottom: 60px;
        }

        &__column {
            &:first-child {
                margin-right: 30px;
            }
        }

        &__name {
            margin-bottom: 30px;
            font-size: 24px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 20px;
        }

        &__text-2 {
            max-width: 362px;
            padding-left: 34px;
            margin-bottom: 20px;
            font-size: 16px;

            &::before {
                width: 15px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .vacancy {
        padding: 120px 0 60px 0;

        &__row-1 {
            flex-direction: column;
            margin-bottom: 45px;
        }

        &__name {
            margin-bottom: 10px;
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 15px;
        }

        &__text-2 {
            font-size: 14px;
        }

        &__discription {
            font-size: 24px;

            &::before {
                height: 3px;
            }
        }
    }
}

@media (max-width: 510px) {
    .vacancy {
        padding: 105px 0 30px 0;

        &__row-1 {
            margin-bottom: 30px;
        }

        &__name {
            font-size: 11px;
        }

        &__text {
            font-size: 11px;
            margin-bottom: 10px;
        }

        &__text-2 {
            font-size: 11px;
        }

        &__discription {
            font-size: 14px;

            &::before {
                height: 3px;
            }
        }
    }
}
