.article-video {
    & iframe {
        height: 600px;
        margin-bottom: 20px;
    }

    .article__group {
        padding-top: 0 !important;
        border: none !important;
    }
}

@media (max-width: 1880px) {
    .article-video {
        & iframe {
            height: 400px;
        }
    }
}

@media (max-width: 1024px) {
    .article-video {
        & iframe {
            height: 350px;
        }
    }
}

@media (max-width: 510px) {
    .article-video {
        & iframe {
            height: 200px;
        }
    }
}
