.contact {
    padding: 231px 0 0 0;
    background: url("../img/dots-news.svg") no-repeat 100% 13rem;

    &__row {
        &:first-child {
            margin-bottom: 60px;
        }

        &:last-child {
            display: flex;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
    }

    &__column {
        &:first-of-type {
            flex: 0 1 1020px;
            margin-right: 30px;

            .contact__name {
                flex: 0 1 300px;
            }

            .contact__text {
                flex: 0 1 520px;
            }
        }

        &:last-of-type {
            flex: 0 1 720px;
        }
    }

    &__item {
        display: flex;
    }

    &__requisites {
        position: relative;
        margin-top: 50px;
        padding-left: 75px;

        &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            top: 0;
            left: 0;
            background: url("../img/icon/icon-contact-document.svg") no-repeat center / 100%;
        }
    }

    &__name {
        @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
    }

    &__name-2 {
        @include font-param("Gordita-Medium", 28px, #0a2783, 500, 140%);
    }

    &__download {
        @include font-param("Gordita-Regular", 18px, #0a2783, 400, 140%);

        & a {
            color: inherit;
        }
    }

    &__group {
        display: flex;
        margin-top: 30px;
    }

    &__image {
        margin-right: 30px;

        & img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    &__image-2 {
        margin-bottom: 60px;

        & img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    &__group-2 {
        & .contact__name-2 {
            margin-bottom: 10px;
        }
    }

    &__text {
        margin-bottom: 15px;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 140%);

        & a {
            color: inherit;
        }
    }

    &__map {
        width: 1020px;
        height: 600px;
        margin-bottom: 60px;
    }
}

//========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНТАКТОВ========================================================
@media (max-width: 1880px) {
    .contact {
        padding: 176px 0 0 0;
        background: url("../img/dots-news.svg") no-repeat 100% 10rem / 20%;

        &__row {
            &:first-child {
                margin-bottom: 45px;
            }
        }

        &__title {
            margin-bottom: 45px;
        }

        &__column {
            &:first-of-type {
                flex: 0 1 765px;
                margin-right: 23px;

                .contact__name {
                    flex: 0 1 225px;
                }

                .contact__text {
                    flex: 0 1 390px;
                }
            }

            &:last-of-type {
                flex: 0 1 540px;
            }
        }

        &__requisites {
            margin-top: 38px;
            padding-left: 57px;

            &::before {
                width: 45px;
                height: 45px;
            }
        }

        &__name {
            font-size: 18px;
        }

        &__name-2 {
            font-size: 21px;
        }

        &__download {
            font-size: 14px;
        }

        &__group {
            margin-top: 23px;
        }

        &__image {
            & img {
                width: 120px;
                height: 120px;
            }
        }

        &__image-2 {
            margin-bottom: 45px;

            & img {
                height: 450px;
            }
        }

        &__text {
            margin-bottom: 11px;
            font-size: 21px;
        }

        &__map {
            width: 765px;
            height: 450px;
            margin-bottom: 45px;
        }
    }
}

@media (max-width: 1320px) {
    .contact {
        padding: 147px 0 0 0;
        background: url("../img/dots-news.svg") no-repeat 100% 8rem / 20%;

        &__title {
            margin-bottom: 30px;
        }

        &__name {
            font-size: 16px;
        }

        &__name-2 {
            font-size: 24px;
        }

        &__text {
            font-size: 18px;
        }

        &__row {
            &:first-child {
                margin-bottom: 40px;
            }
        }

        &__column {
            flex: 1 1 50% !important;
        }

        &__map {
            width: 100%;
            height: 350px;
            margin-bottom: 30px;
        }

        &__image-2 {
            margin-bottom: 30px;

            & img {
                height: 350px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .contact {
        padding: 120px 0 0 0;

        &__row {
            &:first-child {
                margin-bottom: 20px;
            }

            &:last-child {
                flex-direction: column;

                & .contact__column:first-child {
                    margin-bottom: 30px;
                }
            }
        }

        &__list {
            flex-direction: column;

            .contact__column:first-child {
                margin-bottom: 30px;
            }
        }

        &__column {
            margin-right: 0 !important;
        }

        &__name {
            font-size: 14px;
        }

        &__text {
            font-size: 16px;
        }

        &__requisites {
            margin-top: 30px;
            padding-left: 35px;

            &::before {
                width: 30px;
                height: 30px;
            }

            .contact__name-2 {
                font-size: 14px;
            }
        }

        &__group {
            margin-top: 20px;
        }
    }
}

@media (max-width: 510px) {
    .contact {
        padding: 105px 0 0 0;
        background: url("../img/dots-news.svg") no-repeat 100% 6rem / 30%;

        &__name {
            font-size: 11px;
        }

        &__text {
            font-size: 11px;
        }

        &__requisites {
            .contact__name-2 {
                font-size: 12px;
            }
        }

        &__download {
            font-size: 12px;
        }

        &__group {
            flex-direction: column;
        }

        &__image {
            margin-right: 0;
            margin-bottom: 15px;

            & img {
                width: 65px;
                height: 65px;
            }
        }

        &__name-2 {
            font-size: 14px;
        }

        &__map {
            height: 240px;
            margin-bottom: 20px;
        }

        &__image-2 {
            margin-bottom: 20px;

            & img {
                height: 240px;
            }
        }
    }
}
