.art-projects {
    padding: 231px 0 90px 0;

    &__row {
        &:first-of-type {
            border-bottom: 2px solid #0a2783;
            padding-bottom: 60px;
        }

        &:nth-of-type(2) {
            padding-top: 30px;

            .art-projects__column {
                display: flex;
            }
        }
    }

    &__title {
        @extend .article__title;
        max-width: 1050px;
    }

    &__column {
        &_one {
            display: flex;
        }
    }

    &__group {
    }

    &__group-info {
        display: flex;

        .art-projects__text {
            max-width: 800px;
        }
    }

    &__group-logo {
        margin-right: 120px;
    }

    &__left {
        @extend .article__left;
    }

    &__right {
        @extend .article__right;
    }

    &__client {
        @include font-param("Gordita-Medium", 24px, #0a2783, 500, 120%);
        margin-bottom: 10px;
    }

    &__firm {
        @include font-param("Gordita-Medium", 24px, #000000, 500, 120%);
        margin-bottom: 30px;
    }

    &__subtitle {
        @include font-param("Gordita-Medium", 36px, #000000, 500, 120%);
        margin: 30px 0;
    }

    &__logo {
        & img {
            object-fit: contain;
            width: auto;
            max-height: 120px;
        }
    }

    &__text {
        @extend .article__text;
        font-size: 24px;

        &_dash {
            & p {
                position: relative;
                padding-left: 45px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: 0;
                    width: 15px;
                    height: 3px;
                    background-color: #0a2783;
                }
            }
        }
    }

    & ul {
        & li {
            list-style: none;
            position: relative;
            padding-left: 45px;
            margin-bottom: 20px;

            &::before {
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                width: 15px;
                height: 3px;
                background-color: #0a2783;
            }
        }
    }

    & .article__group {
        border: none;
    }

    & .article__back {
        padding: 60px 0 0 0;
    }
}

@media (max-width: 1880px) {
    .article.art-projects {
        padding: 176px 0 60px 0;

        & ul {
            & li {
                padding-left: 34px;

                &::before {
                    top: 9px;
                    width: 11px;
                }
            }
        }

        & .article__back {
            padding: 30px 0 0 0;
        }
    }

    .article .art-projects {
        &__row {
            &:first-of-type {
                padding-bottom: 45px;
            }

            &:nth-of-type(2) {
                padding-top: 23px;
            }
        }

        &__title {
            max-width: 788px;
        }

        &__group-info {
            .art-projects__text {
                max-width: 600px;
            }
        }

        &__group-logo {
            margin-right: 90px;
        }

        &__client {
            font-size: 18px;
            margin-bottom: 8px;
        }

        &__firm {
            font-size: 18px;
            margin-bottom: 23px;
        }

        &__subtitle {
            font-size: 27px;
            margin: 23px 0;
        }

        &__logo {
            & img {
                max-height: 90px;
            }
        }

        &__text {
            font-size: 18px;

            &_dash {
                & p {
                    padding-left: 34px;

                    &::before {
                        top: 9px;
                        width: 11px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1320px) {
    .article.art-projects {
        padding: 147px 0 45px 0;
    }
    .article .art-projects {
        &__row {
            &:first-of-type {
                padding-bottom: 30px;
            }

            &:nth-of-type(2) {
                padding-top: 20px;
            }
        }

        &__group-info {
            .art-projects__text {
                max-width: 400px;
            }
        }

        &__title {
            max-width: initial;
            margin-bottom: 30px;
        }

        &__subtitle {
            margin: 20px 0;
            font-size: 18px;
        }

        &__firm {
            font-size: 16px;
        }

        &__client {
            font-size: 16px;
        }

        &__text {
            font-size: 16px;
        }
    }
}

@media (max-width: 1024px) {
    .article.art-projects {
        padding: 120px 0 45px 0;

        & ul {
            & li {
                padding-left: 20px;

                &::before {
                    top: 9px;
                    width: 10px;
                    height: 1px;
                }
            }
        }

        & .article__back {
            padding: 25px 0 0 0;
        }
    }
    .article .art-projects {
        &__row {
            &:first-of-type {
                padding-bottom: 20px;
                border-width: 1px;
            }

            &:nth-of-type(2) {
                padding-top: 10px;

                & .art-projects__column {
                    flex-direction: column;
                }
            }
        }

        &__left {
            padding-right: 0;
            margin-bottom: 0;
            flex: initial;
        }

        &__right {
            flex: initial;
        }

        &__group-info {
            flex-direction: column;
        }

        &__group-logo {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__client {
            font-size: 14px;
        }

        &__text {
            font-size: 14px;

            &_dash {
                & p {
                    padding-left: 20px;

                    &::before {
                        top: 9px;
                        width: 10px;
                        height: 1px;
                    }
                }
            }
        }

        &__firm {
            font-size: 14px;
        }
    }
}

@media (max-width: 510px) {
    .article.art-projects {
        padding: 105px 0 30px 0;

        & .article__back {
            padding: 10px 0 0 0;
        }
    }
    .article .art-projects {
        &__row {
            &:nth-of-type(2) {
                padding-top: 0;
            }
        }

        &__title {
            margin-bottom: 20px;
        }

        &__logo img {
            max-height: 40px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__client {
            font-size: 12px;
        }

        &__text {
            font-size: 12px;
        }

        &__firm {
            font-size: 12px;
        }
    }
}
