.analytics {
    padding: 230px 0 90px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 13rem;

    &__row {
        &:first-child {
            margin-bottom: 60px;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__column {
    }

    &__entry {
        display: flex;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #0a2783;
    }

    &__group-description {
        flex: 1 1 75%;
        margin-right: 30px;
    }

    &__group-person {
        flex: 1 1 25%;
    }

    &__name {
        @include font-param("Gordita-Medium", 48px, #000000, 500, 140%);
        margin-bottom: 15px;

        &:hover {
            color: #0a2783;
        }
    }

    &__data {
        @include font-param("Gordita-Regular", 24px, #0a2783, 400, 120%);
        margin-bottom: 30px;
    }

    &__discription {
        @include font-param("Gordita-Regular", 18px, #000000, 400, 140%);
        max-width: 1300px;
    max-height: 55px;
    overflow: hidden;
  }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ АНАЛИТИКИ========================================================
    .analytics {
        padding: 176px 0 60px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 10rem / 20%;

        &__row {
            &:first-child {
                margin-bottom: 45px;
            }
        }

        &__title {
            margin-bottom: 45px;
        }

        &__entry {
            margin-bottom: 30px;
        }

        &__group-description {
            margin-right: 23px;
        }

        &__name {
            font-size: 36px;
            margin-bottom: 11px;
        }

        &__data {
            font-size: 18px;
            margin-bottom: 23px;
        }

        &__discription {
            font-size: 14px;
            max-width: 978px;
        }
    }
}

@media (max-width: 1320px) {
    .analytics {
        padding: 147px 0 45px 0;
        background: none;

        &__title {
            margin-bottom: 20px;
        }

        &__name {
            font-size: 24px;
        }

        &__discription {
            font-size: 18px;
        }

        &__group-description {
            flex: 1 1 60%;
        }

        &__group-person {
            flex: 1 1 40%;

            & .team-article {
                flex-direction: row;

                &__img {
                    margin-bottom: 0;
                    margin-right: 30px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .analytics {
        padding: 120px 0 45px 0;

        &__entry {
            flex-direction: column;
        }

        &__discription {
            font-size: 14px;
        }

        &__group-description {
            flex: 1 1 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__group-person {
            flex: 1 1 100%;

            & .team-article {
                flex-direction: row;
                margin-bottom: 0;
            }
        }

        &__data {
            font-size: 14px;
        }
    }
}

@media (max-width: 510px) {
    .analytics {
        padding: 105px 0 30px 0;

        &__entry {
            padding-bottom: 20px;
            border-bottom: 1px solid #0a2783;
        }

        &__name {
            font-size: 14px;
        }

        &__data {
            font-size: 11px;
        }

        &__discription {
            font-size: 11px;
            max-height: 48px;
        }

        &__group-description {
            margin-bottom: 20px;
        }
    }
}
