.projects {
    padding: 231px 0 90px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 13rem;

    &__row {
        &:first-child {
            margin-bottom: 60px;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__entry {
        display: flex;
        margin-bottom: 60px;
    }

    &__column {
        max-height: 800px;
    }

    &__group {
        margin-bottom: 20px;

        &_firm {
            display: flex;
            flex-direction: column;
            margin-right: 60px;
            flex: 1 1 30%;
        }

        &_discription {
            flex: 1 1 70%;
        }
    }

    &__logo {
        margin-right: 25px;
        margin-bottom: 15px;
        height: 50px;

        & img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__name-firm {
        max-width: 720px;
        @include font-param("Gordita-Medium", 24px, #000000, 500, 140%);
    }

    &__name {
        max-width: 1100px;
        margin-bottom: 20px;
        @include font-param("Gordita-Bold", 36px, #000000, 700, 140%);
    }

    &__discription {
        max-width: 1500px;
        margin-bottom: 20px;
        @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
    }

    &__service {
        @include font-param("Gordita-Medium", 24px, #000000, 500, 140%);

        & span {
            font-family: "Gordita-Regular", "Arial", "sans-serif";
        }
    }

    &__idustry {
        @extend .projects__service;
    }

    &__button {
        margin-top: 10%;
        flex-grow: 1;
        @extend .entry__btn;
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ ПРОЕКТОВ========================================================
    .projects {
        padding: 176px 0 90px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 9rem / 18%;

        &__row {
            &:first-child {
                margin-bottom: 45px;
            }
        }

        &__title {
            margin-bottom: 45px;
        }

        &__entry {
            margin-bottom: 45px;
        }

        &__group {
            margin-bottom: 15px;
        }

        &__logo {
            margin-right: 19px;
            height: 38px;
        }

        &__name-firm {
            max-width: 540px;
            font-size: 18px;
        }

        &__name {
            max-width: 825px;
            margin-bottom: 15px;
            font-size: 27px;
        }

        &__discription {
            max-width: 1125px;
            margin-bottom: 15px;
            font-size: 18;
        }

        &__service {
            font-size: 18px;
        }
    }
}

@media (max-width: 1320px) {
    .projects {
        padding: 147px 0 60px 0;

        &__name {
            font-size: 18px;
            line-height: 140%;
        }

        &__discription {
            font-size: 14px;
        }

        &__name-firm {
            font-size: 14px;
        }
    }
}

@media (max-width: 1024px) {
    .projects {
        padding: 120px 0 60px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 7rem/25%;

        &__entry {
            flex-direction: column;
            margin-bottom: 35px;
        }

        &__group_firm {
            margin-right: 0;
        }

        &__button {
            margin-top: 5%;
        }
    }
}

@media (max-width: 510px) {
    .projects {
        padding: 105px 0 30px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 6rem/29%;

        &__title {
            margin-bottom: 20px;
        }

        &__name-firm {
            font-size: 12px;
        }

        &__name {
            font-size: 16px;
        }

        &__discription {
            font-size: 11px;
        }

        &__logo {
            font-size: 30px;
        }
    }
}
