.news {
    padding: 231px 0 90px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 13rem;

    &.scrolled {
        margin-top: 141px;
    }

    &__row {
        &:first-child {
            margin-bottom: 60px;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__column {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, minmax(350px, 1fr));
        grid-auto-rows: 1fr;
    }
}

.entry {
    display: flex;

    &:first-child {
        grid-column: span 2;
        grid-row: span 2;

        .entry__image {
            height: 535px;
        }

        .entry__name {
            font-size: 36px;
        }

        .entry__discription {
            max-height: 400px;
            overflow: hidden;
            font-size: 24px;
        }

        .entry__btn {
            & span {
                font-size: 36px;
                padding-right: 60px;

                &::before {
                    width: 48px;
                    background: url("../img/news-arrow-icon.svg") no-repeat 100%;
                }
            }
        }
    }

    &:nth-child(8) {
        grid-column: span 2;
        grid-row: span 2;

        .entry__image {
            height: 535px;
        }

        .entry__name {
            font-size: 36px;
        }

        .entry__discription {
            font-size: 24px;
            max-height: 400px;
            overflow: hidden;
        }

        .entry__btn {
            & span {
                padding-right: 60px;
                font-size: 36px;

                &::before {
                    width: 48px;
                    background: url("../img/news-arrow-icon.svg") no-repeat;
                }
            }
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 400px;
        border: 5px solid #f0f6fb;
        color: #000000;
    }

    &__image {
        height: 260px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 30px 30px 60px 30px;
    }

    &__data {
        @include font-param("Gordita-Medium", 24px, inherit, 500, 120%);
        margin-bottom: 15px;
    }

    &__name {
        @include font-param("Gordita-Medium", 24px, inherit, 500, 140%);
        margin-bottom: 30px;

        & a {
            color: #000000;
        }
    }

    &__discription {
        @include font-param("Gordita-Regular", 18px, inherit, 400, 140%);
        margin-bottom: 20px;
        max-height: 150px;
        overflow: hidden;
    }

    &__btn {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;

        & span {
            position: relative;
            padding-right: 45px;
            @include font-param("Gordita-Medium", 24px, #0a2783, 500, 120%);

            &::before {
                content: "";
                position: absolute;
                width: 31px;
                height: 16px;
                right: 0;
                top: 60%;
                transform: translate(0, -50%);
                background: url("../img/icon/btn-arrow.svg");
                transition: all 0.3s ease;
            }

            &:hover {
                cursor: pointer;

                &::before {
                    right: -15px;
                }
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;

    & ul {
        display: flex;
        align-items: center;
        margin: 0 -30px;

        & li {
            padding: 0 30px;
        }
    }

    &__page-num {
        @include font-param("Gordita-Medium", 28px, rgba(0, 0, 0, 0.5), 500, 140%);

        &.current {
            color: #0a2783;
        }

        &:hover {
            color: #0a2783;
        }

        &.inactively {
            opacity: 0.2;

            &:hover {
                cursor: initial !important;
                opacity: 0.2 !important;
            }
        }
    }

    & .prev {
        display: block;
        position: relative;
        background: #0a2783;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        & svg {
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    & .next {
        @extend .prev;

        & svg {
            left: 55%;
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ НОВОСТЕЙ========================================================
    .news {
        padding: 176px 0 68px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 9rem / 20%;

        &__row {
            &:first-child {
                margin-bottom: 45px;
            }
        }

        &__title {
            margin-bottom: 45px;
        }

        &__column {
            gap: 23px;
            grid-template-columns: repeat(4, minmax(263px, 1fr));
        }
    }
    .entry {
        &:first-child {
            .entry__image {
                height: 401px;
            }

            .entry__name {
                font-size: 27px;
            }

            .entry__discription {
                max-height: 300px;
                font-size: 18px;
            }

            .entry__btn {
                & span {
                    font-size: 27px;
                    padding-right: 45px;

                    &::before {
                        width: 48px;
                        background: url("../img/news-arrow-icon.svg") no-repeat 100% / 75%;
                    }
                }
            }
        }

        &:nth-child(8) {
            .entry__image {
                height: 401px;
            }

            .entry__name {
                font-size: 27px;
            }

            .entry__discription {
                max-height: 300px;
                font-size: 18px;
            }

            .entry__btn {
                & span {
                    font-size: 27px;
                    padding-right: 45px;

                    &::before {
                        width: 48px;
                        background: url("../img/news-arrow-icon.svg") no-repeat 100% / 75%;
                    }
                }
            }
        }

        &__item {
            min-height: 300px;
        }

        &__image {
            height: 195px;
        }

        &__group {
            padding: 23px 23px 23px 23px;
        }

        &__data {
            font-size: 18px;
            margin-bottom: 11px;
        }

        &__name {
            font-size: 18px;
            margin-bottom: 23px;
        }

        &__discription {
            font-size: 14px;
            margin-bottom: 15px;
            max-height: 97px;
        }

        &__btn {
            & span {
                padding-right: 26px;
                font-size: 18px;

                &::before {
                    background: url("../img/icon/btn-arrow.svg") no-repeat 100% / 55%;
                }
            }
        }
    }

    .pagination {
        & ul {
            margin: 0 -23px;

            & li {
                padding: 0 23px;
            }
        }

        &__page-num {
            font-size: 21px;
        }

        & .prev {
            width: 45px;
            height: 45px;

            & svg {
                width: 10px;
                height: 17px;
            }
        }
    }
}

@media (max-width: 1320px) {
    .news {
        background: none;
        padding: 147px 0 60px 0;

        &__row {
            &:first-child {
                margin-bottom: 30px;
            }
        }

        &__title {
            margin-bottom: 20px;
        }

        &__column {
            gap: 30px;
            grid-template-columns: repeat(4, minmax(223px, 1fr));
        }
    }
    .entry {
        &:first-child {
            .entry__image {
                height: 290px;
            }

            .entry__name {
                font-size: 24px;
            }

            .entry__data {
                font-size: 18px;
            }

            .entry__discription {
                font-size: 14px;
            }

            .entry__btn {
                & span {
                    font-size: 18px;
                    padding-right: 30px;

                    &::before {
                        width: 23px;
                    }
                }
            }
        }

        &:nth-child(8) {
            .entry__image {
                height: 290px;
            }

            .entry__name {
                font-size: 24px;
            }

            .entry__data {
                font-size: 18px;
            }

            .entry__discription {
                font-size: 14px;
            }

            .entry__btn {
                & span {
                    font-size: 18px;
                    padding-right: 30px;

                    &::before {
                        width: 23px;
                    }
                }
            }
        }

        &__item {
            border: 2px solid #f0f6fb;
        }

        &__image {
            height: 135px;
        }

        &__data {
            font-size: 12px;
        }

        &__name {
            font-size: 14px;
        }
    }
    .entry__btn span,
    .projects__button span {
        font-size: 14px;
    }
    .pagination {
        & ul {
            margin: 0 -15px;

            & li {
                padding: 0 15px;
            }
        }

        &__page-num {
            font-size: 18px;
        }
    }
}

@media (max-width: 1024px) {
    .news {
        padding: 120px 0 60px 0;

        &__column {
            gap: 20px;
            grid-template-columns: repeat(2, minmax(223px, 1fr));
        }
    }
}

@media (max-width: 510px) {
    .news {
        padding: 105px 0 30px 0;

        &__column {
            gap: 15px;
            grid-template-columns: 1fr;
        }
    }
    .entry {
        &:first-child {
            grid-row: initial;
            grid-column: initial;

            .entry__image {
                height: 170px;
            }

            .entry__data {
                font-size: 11px;
            }

            .entry__name {
                font-size: 12px;
            }
        }

        &:nth-child(8) {
            grid-row: initial;
            grid-column: initial;

            .entry__image {
                height: 170px;
            }

            .entry__data {
                font-size: 11px;
            }

            .entry__name {
                font-size: 12px;
            }
        }

        &__image {
            height: 170px;
        }

        &__data {
            font-size: 11px;
        }

        &__name {
            font-size: 12px;
        }

        &__discription {
            font-size: 12px !important;
            max-height: 130px !important;
        }

        &__btn {
            & span {
                font-size: 14px !important;
            }
        }
    }
    .pagination {
        & ul {
            margin: 0 -10px;

            & li {
                padding: 0 10px;
            }
        }

        &__page-num {
            font-size: 12px;
        }

        & .prev {
            width: 30px;
            height: 30px;

            & svg {
                width: 8px;
                height: 10px;
            }
        }
    }
}
