.clients {
    position: relative;
    padding: 231px 0 245px 0;

    &__column {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 1 calc(100% / 6);
        border: 1px solid #f0f6fb;
        padding: 7% 3%;

        & img {
            max-width: 100%;
            height: 50px;
            object-fit: contain;
        }
    }
}

@media (max-width: 1880px) {
    .clients {
        padding: 176px 0 60px 0;
    }
}

@media (max-width: 1320px) {
    .clients {
        padding: 147px 0 45px 0;

        &__item {
            flex: 0 1 calc(100% / 4);
        }
    }
}

@media (max-width: 1024px) {
    .clients {
        padding: 120px 0 45px 0;

        &__item {
            flex: 0 1 calc(100% / 3);
        }
    }
}

@media (max-width: 510px) {
    .clients {
        padding: 105px 0 30px 0;

        &__item {
            flex: 0 1 calc(100% / 2);

            & img {
                height: 30px;
            }
        }
    }
}
