.team {
    background: url("../img/dots-team.svg") no-repeat 100% 200px, #f5faff;
    padding: 230px 0 90px 0;

    &__row {
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 420px);
        gap: 30px;
        justify-content: center;
    }
}

.item-team {
    &__wrap {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 520px;
        text-align: center;
        padding: 0 30px 30px 30px;

        &::before {
            content: "";
            position: absolute;
            top: 9.5%;
            left: 50%;
            transform: translate(-50%, -20%);
            width: 600px;
            height: 600px;
            border: 1px solid #ffffff;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 14%;
            width: 90px;
            height: 90px;
            background: url("../img/icon/icon-arrow-team.svg") no-repeat 50% 50%, #ffffff;
            z-index: 3;
            transition: all 0.3s ease;
        }

        &:hover {
            &::before {
                width: 300px;
                height: 300px;
                transform: translate(-50%, 0);
                visibility: visible;
                transition: all 0.3s ease;
                opacity: 1;
            }

            &::after {
                background: url("../img/icon/icon-arrow-team.svg") no-repeat 50% 50%, #b9c6e4;
            }

            .item-team__image {
                & svg {
                    filter: grayscale(1);
                }

                & svg image {
                    clip-path: url("#clipping-full");
                }

                &::before {
                    content: "";
                }
            }

            .item-team__name {
                color: #ffffff;
            }

            .item-team__post {
                color: #ffffff;
            }
        }
    }

    &__image {
        display: flex;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(10, 39, 131, 0.5);
            z-index: 2;
        }

        & svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            flex: 1 1 auto;
            object-fit: cover;
        }

        & svg image {
            clip-path: url("#clipping-partial");
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        z-index: 2;
    }

    &__name {
        position: relative;
        margin-bottom: 10px;
        @include font-param("Gordita-Medium", 36px, #0a2783, 500, 120%);
    }

    &__post {
        position: relative;
        @include font-param("Gordita-Regular", 24px, #000000, 400, 120%);
    }

    &__space {
        width: 100%;
        flex: 0 0 370px;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;

    & ul {
        display: flex;
        align-items: center;
        margin: 0 -30px;

        & li {
            padding: 0 30px;
        }
    }

    & .paginationjs-page {
        @include font-param("Gordita-Medium", 28px, rgba(0, 0, 0, 0.5), 500, 140%);

        & a {
            color: rgba(0, 0, 0, 0.5);
        }

        &.active a {
            color: #0a2783;
        }

        & a:hover {
            color: #0a2783;
        }
    }

    & .paginationjs-prev.disabled {
        opacity: 0.2;

        &:hover {
            cursor: initial !important;
            opacity: 0.2 !important;
        }
    }

    & .paginationjs-next.disabled {
        opacity: 0.2;

        &:hover {
            cursor: initial !important;
            opacity: 0.2 !important;
        }
    }

    & .paginationjs-prev {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url("../img/icon/icon-arrow-pagination.svg") no-repeat center, #0a2783;
        font-size: 0;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    & .paginationjs-next {
        @extend .paginationjs-prev;
        transform: rotate(180deg);
    }

    & .paginationjs-ellipsis {
        & a {
            @include font-param("Gordita-Medium", 28px, rgba(0, 0, 0, 0.5), 500, 140%);
        }
    }
}

@media (max-width: 1880px) {
    .pagination-container {
        & ul {
            margin: 0 -23px;

            & li {
                padding: 0 23px;
            }
        }

        & .paginationjs-page {
            font-size: 21px;
        }

        & .paginationjs-ellipsis {
            & a {
                font-size: 21px;
            }
        }

        & .paginationjs-prev {
            width: 45px;
            height: 45px;
            background: url("../img/icon/icon-arrow-pagination.svg") no-repeat center / 25%, #0a2783;
        }
    }
}

@media (max-width: 1320px) {
    .pagination-container {
        & ul {
            margin: 0 -15px;

            & li {
                padding: 0 15px;
            }
        }

        & .paginationjs-page {
            font-size: 18px;
        }

        & .paginationjs-ellipsis {
            & a {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 510px) {
    .pagination-container {
        & ul {
            margin: 0 -10px;

            & li {
                padding: 0 10px;
            }
        }

        & .paginationjs-page {
            font-size: 12px;
        }

        & .paginationjs-ellipsis {
            & a {
                font-size: 12px;
            }
        }

        & .paginationjs-prev {
            width: 30px;
            height: 30px;
        }
    }
}
