.service-item {
    padding: 231px 0 90px 0;

    &__title {
        color: #0a2783;
        margin-bottom: 40px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    &__column {
        &:first-child {
            flex: 0 1 65%;
            margin-right: 100px;
        }

        &:last-child {
            flex: 0 1 35%;
        }
    }

    &__text {
        @include font-param("Gordita-Regular", 28px, #000000, 400, 140%);
        margin-bottom: 55px;
    }

    &__text-2 {
        @include font-param("Gordita-Medium", 36px, #000000, 500, 120%);
        margin-bottom: 25px;
    }

    &__wrap {
        display: flex;
        margin: 0 -15px;
    }

    &__group {
        margin: 0 15px;
        flex: 1 1 calc(100% / 3 - 30px);

        &:last-child {
            .service-item__step {
                &::after {
                    content: none;
                }
            }
        }
    }

    &__step {
        position: relative;
        padding-bottom: 45px;
        @include font-param("Gordita-Medium", 48px, #0a2783, 500, 140%);

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #0a2783;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 14px;
            width: calc(100% + 30px);
            height: 2px;
            border: 2px dashed rgba(10, 39, 131, 0.3);
        }
    }

    &__stage {
        margin-top: 20px;
        margin-bottom: 15px;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 140%);
    }

    &__time {
        @include font-param("Gordita-Regular", 28px, #000000, 400, 140%);
    }

    &__name {
        margin-bottom: 55px;
        @include font-param("Gordita-Medium", 36px, #0a2783, 500, 120%);
    }

    &__group-2 {
        padding-bottom: 80px;
        border-bottom: 2px solid #0a2783;

        & .service-item__text-3 {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__group-3 {
        & .service-item__text-3 {
            padding: 30px 0;
            margin-bottom: 0;
        }
    }

    &__frame {
        padding: 30px 30px 0 30px;
        background: #f5faff;
        margin-bottom: 25px;
    }

    &__text-3 {
        display: flex;
        margin-bottom: 30px;
        @include font-param("Gordita-Regular", 24px, #000000, 400, 120%);

        & div {
            flex-grow: 1;
            text-align: end;
            @include font-param("Gordita-Medium", 24px, #000000, 500, 120%);
            margin-left: 15px;

            & span {
                display: block;
                margin-bottom: 25px;
            }
        }

        &_bold {
            font-weight: 700;
        }

        &_large-fz {
            font-size: 28px;
        }
    }

    &__button {
        display: block;
        margin-top: 60px;
        padding: 30px 0;
        text-align: center;
        background: #0a2783;
        @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: #051d68;
        }
    }

    & .article__back {
        padding: 0;
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ УСЛУГИ========================================================
    .service-item {
        padding: 176px 0 60px 0;

        &__title {
            margin-bottom: 30px;
        }

        &__row {
            margin-bottom: 68px;
        }

        &__column {
            &:first-child {
                margin-right: 50px;
            }
        }

        &__text {
            font-size: 21px;
            margin-bottom: 41px;
        }

        &__text-2 {
            font-size: 27px;
            margin-bottom: 20px;
        }

        &__group {
            &:first-child {
                flex: 0 1 40%;
            }

            &:nth-child(2) {
                flex: 0 1 40%;
            }
        }

        &__step {
            padding-bottom: 34px;
            font-size: 36px;

            &::before {
                width: 23px;
                height: 23px;
            }

            &::after {
                bottom: 11px;
            }
        }

        &__stage {
            margin-top: 15px;
            margin-bottom: 11px;
            font-size: 21px;
        }

        &__time {
            font-size: 21px;
        }

        &__name {
            margin-bottom: 41px;
            font-size: 27px;
        }

        &__group-2 {
            padding-bottom: 60px;
        }

        &__frame {
            padding: 23px 23px 0 23px;
            margin-bottom: 18px;
        }

        &__text-3 {
            margin-bottom: 20px;
            font-size: 18px;

            & div {
                font-size: 18px;
            }

            &_large-fz {
                font-size: 21;
            }
        }

        &__button {
            margin-top: 45px;
            padding: 23px 0;
            font-size: 18px;
        }
    }
}

@media (max-width: 1320px) {
    .service-item {
        padding: 147px 0 60px 0;

        &__row {
            margin-bottom: 60px;
        }

        &__text {
            font-size: 16px;
        }

        &__column {
            &:first-child {
                flex: 0 1 60%;
                margin-right: 40px;
            }

            &:last-child {
                flex: 0 1 40%;
            }
        }

        &__name {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &__stage {
            font-size: 18px;
        }

        &__time {
            font-size: 18px;
        }

        &__text-2 {
            font-size: 24px;
        }

        &__text-3 {
            font-size: 16px;

            & div {
                font-size: 16px;
            }
        }

        &__group-2 {
            padding-bottom: 30px;
        }

        &__group-3 {
            & .service-item__text-3 {
                padding: 15px 0 30px 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    .service-item {
        padding: 120px 0 45px 0;

        &__row {
            flex-direction: column;
            margin-bottom: 45px;
        }

        &__column {
            &:first-child {
                flex: 0 1 100%;
                margin-right: 0px;
            }

            &:last-child {
                flex: 0 1 100%;
            }
        }

        &__wrap {
            flex-direction: column;
        }

        &__group {
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
        }

        &__group-info {
        }

        &__stage {
            font-size: 16px;
            margin: 0;
        }

        &__time {
            font-size: 14px;
        }

        &__step {
            padding-bottom: 0;
            font-size: 24px;
            width: 80px;
            flex-shrink: 0;

            &::before {
                width: 15px;
                height: 15px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::after {
                left: 50%;
                bottom: -60%;
                transform: translate(-50%, 0) rotate(90deg);
                width: 100%;
                border-width: 1px;
            }
        }

        &__text {
            font-size: 14px;
            margin-bottom: 30px;
        }

        &__text-2 {
            font-size: 18px;
            max-width: 70%;
        }

        &__text-3 {
            margin-bottom: 15px;
            font-size: 14px;

            & div {
                font-size: 14px;
            }
        }

        &__name {
            font-size: 18px;
        }

        &__button {
            margin-top: 20px;
            padding: 15px 0;
            font-size: 14px;
        }
    }
}

@media (max-width: 510px) {
    .service-item {
        padding: 105px 0 30px 0;

        &__title {
            margin-bottom: 15px;
        }

        &__row {
            margin-bottom: 30px;
        }

        &__text {
            font-size: 11px;
            margin-bottom: 20px;
        }

        &__text-2 {
            font-size: 14px;
        }

        &__text-3 {
            margin-bottom: 15px;
            font-size: 11px;

            & div {
                font-size: 11px;
            }
        }

        &__step {
            width: 50px;
            font-size: 16px;

            &::before {
                width: 11px;
                height: 11px;
            }
        }

        &__stage {
            font-size: 12px;
        }

        &__time {
            font-size: 11px;
        }

        &__frame {
            padding: 20px 15px 0 15px;
        }

        &__group-3 {
            & .service-item__text-3 {
                padding: 20px 0;
            }
        }
    }
}
