.search {
    padding: 230px 0 5% 0;
    background: url("../img/dots-team.svg") no-repeat 100% 14rem;

    &__row {
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__wrap {
        margin-bottom: 100px;
    }

    &__column {
    }

    & label {
        width: 45%;
    }

    &__group-input {
        display: flex;
    }

    &__value {
        width: 100%;
        @include font-param("Gordita-Regular", 24px, #000000, 500, 120%);
        border: 2px solid #0a2783;
        padding: 30px;
    }

    &__button {
        cursor: pointer;
        width: 15%;
        @include font-param("Gordita-Regular", 24px, #ffffff, 500, 120%);
        background-color: #0a2783;
    }

    &__entry {
        display: flex;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #0a2783;
    }

    &__group-description {
        flex: 1 1 75%;
        margin-right: 30px;
    }

    &__name {
        @include font-param("Gordita-Medium", 48px, #000000, 500, 140%);
        margin-bottom: 15px;

        &:hover {
            color: #0a2783;
        }
    }

    &__message {
        @include font-param("Gordita-Regular", 28px, #000000, 500, 120%);
    }
}

@media (max-width: 1880px) {
    .search {
        padding: 176px 0 5% 0;
        background: url("../img/dots-team.svg") no-repeat 100% 9rem / 43%;

        &__wrap {
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 45px;
        }

        &__value {
            padding: 20px;
        }

        &__name {
            font-size: 36px;
        }

        &__message {
            font-size: 22px;
        }
    }
}

@media (max-width: 1320px) {
    .search {
        padding: 147px 0 5% 0;

        &__message {
            font-size: 18px;
        }
    }
}

@media (max-width: 1024px) {
    .search {
        padding: 120px 0 5% 0;
        background: none;

        &__title {
            margin-bottom: 30px;
        }

        & label {
            width: 75%;
        }

        &__value {
            width: 100%;
            padding: 20px;
        }

        &__button {
            width: 25%;
        }

        &__name {
            font-size: 24px;
        }

        &__entry {
            padding-bottom: 10px;
        }

        &__message {
            font-size: 16px;
        }
    }
}

@media (max-width: 510px) {
    .search {
        padding: 105px 0 5% 0;

        &__title {
            margin-bottom: 20px;
        }

        &__name {
            font-size: 16px;
        }

        &__value {
            font-size: 16px;
            padding: 10px;
        }

        &__button {
            font-size: 16px;
        }

        &__wrap {
            margin-bottom: 30px;
        }

        &__message {
            font-size: 14px;
        }
    }
}
