.media-d-flex {
    display: flex;
}

//============БЛОК-1==========
.juridical {
    background: url("../img/image-1.png") no-repeat 100% 40%;
    position: relative;
    padding: 231px 0 85px 0;
    background-color: #f5faff;

    &__title {
        max-width: 650px;
        margin-bottom: 120px;

        & span {
            color: #0a2783;
        }
    }

    &__column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        width: 48%;
        margin-bottom: 5.5%;
    }

    &__item {
        padding: 25px 0 0 0;
        position: relative;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 120%);

        &::before {
            content: "";
            position: absolute;
            width: 120px;
            height: 5px;
            top: 0;
            background-color: #0a2783;
        }
    }

    &__promo {
        margin-left: 50px;
        margin-top: 78px;
        flex-direction: column;
    }

    &__phone_wrapper {
        justify-content: space-between;
    }

    &__logos {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        align-items: center;

        &__kommersant {
            width: 300px;
            margin-right: 50px;

            img {
                width: 100%;
            }
        }

        &__pravo {
            width: 70px;
            img {
                width: 100%;
            }
        }
    }

    &__text {
        position: relative;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 120%);
        max-width: 800px;
    }
}

.phone-form {
    width: 450px;
    margin-top: 10px;

    h3 {
        font-family: "Gordita-Medium", "Arial", "sans-serif";
        font-size: 28px;
        color: #000000;
        font-weight: 600;
    }
}

//==================БЛОК-2========
.trust {
    background: url("../img/dots.svg") no-repeat 100% 11%;
    padding: 90px 0;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__wrap {
        display: none;

        &:first-child {
            display: block;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__column {
        & .swiper-wrapper {
            transition-timing-function: linear !important;
        }

        & .swiper-slide {
            flex-shrink: initial;
        }
    }
}

//==================БЛОК-3========

.services {
    background: url("../img/dots.svg") no-repeat 100% 1%, url("../img/dots-rewers.svg") no-repeat 0% 94%;
    padding: 30px 0 65px 0;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__column {
        & .swiper-wrapper {
            width: initial !important;
            box-sizing: border-box !important;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px 30px -15px;
        }
    }

    &__wrap {
        display: flex;
        padding: 0 15px;
        flex: 0 1 calc(100% / 3);
        margin-bottom: 30px;
        min-height: 480px;
        height: initial;
    }

    &__item {
        border: 5px solid #f0f6fb;
        padding: 30px 30px 30px 60px;
        flex-grow: 1;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: #0a2783;
            border-color: #0a2783;

            .services__logo {
                & img {
                    filter: invert(1) grayscale(1) brightness(10);
                }
            }

            .services__name {
                color: #ffffff;
            }

            .services__text {
                color: #ffffff;

                &::before {
                    background-color: #ffffff;
                }
            }
        }
    }

    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__logo {
        margin-right: 25px;

        & img {
            width: 60px;
            height: 60px;
        }
    }

    &__name {
        @include font-param("Gordita-Medium", 28px, #0a2783, 500, 120%);
    }

    &__text {
        position: relative;
        max-width: 440px;
        padding-left: 30px;
        @include font-param("Gordita-Regular", 18px, #000000, 400, 120%);
        margin-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 15px;
            height: 3px;
            background-color: #0a2783;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
    }

    &__dots {
        display: none;
    }
}

//==================БЛОК-4========

.publish {
    padding: 90px 0;
    background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 18%, #f5faff;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}

.tabs {
    &__control {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;
    }

    &__button {
        @include font-param("Gordita-Regular", 24px, rgba(10, 39, 131, 0.5), 400, 120%);
        width: 290px;
        text-align: center;
        padding: 32px 0;
        border: 2px solid #7f90c1;
        margin-left: -1px;

        &.active {
            @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);
            background: #0a2783;
            border: none;
        }
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__wrap {
        margin-bottom: 60px;
    }
}

.publication-1 {
    position: relative;
    padding: 0px 10px 45px 30px;
    display: flex;
    align-items: flex-end;
    height: 285px;

    &__date {
        @include font-param("Gordita-Regular", 18px, #ffffff, 400, 120%);
        margin-bottom: 10px;
    }

    &__name {
        @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);
    }

    &__group {
        z-index: 10;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(4%, 14%, 51%, 0.7);
        transition: all 0.3s ease;
        z-index: 10;
    }

    &:hover {
        &::before {
            background: rgba(4%, 14%, 51%, 1);
        }
    }
}

.publication-2 {
    position: relative;
    display: flex;
    height: 285px;

    &__wrap {
        width: 100%;

        .publication-2__name {
            display: none;
        }

        .publication-2__text {
            display: none;
        }
    }

    &__name {
        @include font-param("Gordita-Medium", 36px, #0a2783, 500, 120%);
        margin-bottom: 30px;
    }

    &__text {
        @include font-param("Gordita-Regular", 24px, #0a2783, 400, 120%);
        max-height: 195px;
        overflow: hidden;
    }

    &__discription {
        display: none;
        padding-right: 30px;
    }

    &__prew-image {
        display: none;
    }

    &__preview {
        object-fit: cover;
        width: 100%;
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.tabs__item:first-child {
    & .tabs__wrap {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 285px 285px;
        gap: 30px;
        grid-template-areas: "clo1 clo2 clo3" "clo1 clo4 clo5";

        & .publication-1 {
            position: relative;
            height: 100%;

            &:nth-child(1) {
                grid-area: clo1;

                .publication-1__name {
                    font-size: 36px;
                }

                &::before {
                    background: url("../img/dots-publish.svg") no-repeat 30px 20px, rgba(4%, 14%, 51%, 0.7);
                }

                &:hover {
                    &::before {
                        background: url("../img/dots-publish.svg") no-repeat 30px 20px, rgba(4%, 14%, 51%, 1);
                    }
                }
            }

            &:nth-child(2) {
                grid-area: clo2;
            }

            &:nth-child(3) {
                grid-area: clo3;
            }

            &:nth-child(4) {
                grid-area: clo4;
            }

            &:nth-child(5) {
                grid-area: clo5;
            }
        }
    }
}

.tabs__item:nth-child(2) {
    & .tabs__wrap {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 285px 285px;
        gap: 30px;
        grid-template-areas: "clo1 clo4 clo4" "clo1 clo2 clo3";

        & .publication-2 {
            &:nth-child(1) {
                grid-area: clo1;
                height: 100%;
            }

            &:nth-child(2) {
                grid-area: clo2;
            }

            &:nth-child(3) {
                grid-area: clo3;
            }

            &:nth-child(4) {
                grid-area: clo4;

                .publication-2__discription {
                    display: block;
                }
            }
        }
    }
}

.tabs__item:nth-child(3) {
    & .tabs__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 285px 285px;
        gap: 30px;
    }
}

//====================================БЛОК-5=======================

.reviews {
    background: #f5faff;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }
}

.slider-1 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    &__slide {
        padding: 55px 0 60px 0;
        background: url("../img/dots-slider.svg") no-repeat 2% 10%, url("../img/dots-slider.svg") no-repeat 98% 90%, #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__post {
        margin-bottom: 15px;
        @include font-param("Gordita-Medium", 24px, #000000, 500, 120%);
    }

    &__firm {
        margin-bottom: 30px;
        @include font-param("Gordita-Medium", 36px, #0a2783, 500, 120%);
    }

    &__coment {
        max-width: 1100px;
        @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
    }
}

.slider-2 {
    border-top: 2px solid #0a2783;
    padding: 70px 0 90px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 12px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border: 20px solid transparent;
        border-top: 20px solid #0a2783;
    }

    &__slide {
        text-align: center;
        max-width: 100%;
        // margin: 0 40px;
        & img {
            max-width: 300px;
            object-fit: contain;
            height: 60px;
            filter: grayscale(1);
        }
    }

    & .swiper-slide-active {
        & img {
            filter: none;
        }
    }
}

//===================БЛОК-6=====================

.mass-media {
    padding: 90px 0;

    &__title {
        color: #0a2783;
        margin-bottom: 80px;
    }

    &__column {
        position: relative;
    }

    &__slider {
        overflow: hidden;
        margin: 0 100px;
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
            display: block;
        }

        & img {
            max-width: 250px;
            object-fit: contain;
            height: 120px;
            filter: grayscale(1);
            transition: all 0.3s ease;

            &:hover {
                filter: none;
            }
        }
    }
}

//=====================БЛОК-7======================
.message {
    padding: 90px 0;
    background: url("../img/message-bg.svg") no-repeat 100% 80%, url("../img/dots-message.svg") no-repeat 100% 10%;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
        max-width: 870px;
    }

    &__column {
        max-width: 725px;
    }
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;

    & input:not([type="submit"]),
    textarea {
        @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
    }

    & input:not([type="submit"])::placeholder,
    textarea::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &__group {
        display: flex;
        margin-bottom: 30px;
    }

    &__name-group {
        position: relative;
        flex: 1 1 calc(100% / 2);
        margin-right: 30px;
    }

    &__email-group {
        position: relative;
        flex: 1 1 calc(100% / 2);
    }

    &__name {
        border: 2px solid #0a2783;
        padding: 30px;
        width: 100%;
    }

    &__email {
        border: 2px solid #0a2783;
        padding: 30px;
        width: 100%;
    }

    &__phone-group {
        position: relative;
        margin-bottom: 30px;
    }

    &__phone {
        width: 100%;
        border: 2px solid #0a2783;
        padding: 30px;
    }

    &__message-group {
        position: relative;
        margin-bottom: 30px;
    }

    &__letter {
        width: 100%;
        border: 2px solid #0a2783;
        padding: 30px;
        min-height: 180px;
        resize: none;
    }

    &__submit {
        max-width: 420px;
        padding: 30px 0;
        @include font-param("Gordita-Medium", 24px, #ffffff !important, 500, 120%);
        background: #0a2783;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: #051d68;
        }
    }

    &__sub {
    }
}

.checkbox-form {
    position: relative;
    padding-left: 45px;
    margin-bottom: 25px;
    @include font-param("Gordita-Regular", 16px, rgba(0, 0, 0, 0.5), 400, 160%);

    & a {
        color: #0a2783;
    }

    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"]:checked + .checkbox-form__checkmark {
        background: #0a2783;
    }

    & input[type="checkbox"]:checked + .checkbox-form__checkmark::after {
        opacity: 1;
    }

    &__checkmark {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        border: 1px solid #0a2783;
        transition: all 0.3s ease;

        &::after {
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            border: solid #ffffff;
            border-width: 1px 1px 0 0;
            width: 15px;
            height: 10px;
            transform: rotate(135deg);
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
}

.table {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: auto;
}

.table table {
    border-collapse: collapse;
    border: 1px solid grey;
    margin: 0 auto;
}

.table table td,
.table table th {
    padding: 10px;
    border: 1px solid grey;
}

@media (max-width: 1024px) {
    .table table td,
    .table table th {
        padding: 5px;
    }
}

.swiper-slide {
    width: initial;
}

form .invalid-feedback {
    padding-bottom: 10px;
    display: block;
    @include font-param("Gordita-Regular", 14px, #ff0000, 400, 140%);
}

form .alert-success {
    padding-bottom: 10px;
    display: block;
    @include font-param("Gordita-Regular", 14px, #00ff00, 400, 140%);
}
