.person {
    &__row {
        &:first-child {
            background: url("../img/dots-team.svg") no-repeat 100% 13rem;
            padding: 231px 0 90px 0;
        }

        &:last-child {
            padding: 90px 0;
            background-color: #f5faff;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__wrap {
        &_two {
            display: flex;
        }
    }

    &__group-info {
        &:first-child {
            flex: 0 1 30%;
            margin-right: 90px;
        }

        &:last-child {
            flex: 0 1 70%;
        }
    }

    &__group {
        display: flex;
    }

    &__group-2 {
        margin-bottom: 90px;
    }

    &__column {
        &:first-child {
            flex: 0 1 420px;
            margin-right: 60px;
        }

        &:nth-child(2) {
            & .person__text {
                margin-top: 45px;
            }
        }
    }

    &__image {
        height: 420px;
        margin-bottom: 30px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        margin-bottom: 60px;

        & a {
            & span {
                padding-right: 0px;

                &::before {
                    content: none;
                }
            }
        }
    }

    &__degree {
        position: relative;
        padding-left: 75px;

        & a {
            @include font-param("Gordita-Medium", 28px, #0a2783, 500, 140%);
        }

        &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            top: 15px;
            left: 0;
            background: url("../img/icon/icon-pdf.svg") no-repeat;
        }
    }

    &__name {
        margin-bottom: 10px;
        @include font-param("Gordita-Bold", 48px, #0a2783, 700, 120%);
    }

    &__post {
        max-width: 350px;
        margin-bottom: 20px;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 140%);
    }

    &__text {
        margin-bottom: 10px;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 140%);
    }

    &__text-2 {
        margin-bottom: 10px;
        @include font-param("Gordita-Regular", 28px, #000000, 500, 140%);

        & a {
            color: #000000;
        }
    }

    &__list {
    }

    &__item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        @include font-param("Gordita-Regular", 28px, #000000, 500, 140%);

        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 0;
            width: 15px;
            height: 3px;
            background-color: #0a2783;
        }
    }

    &__slider-1 {
        position: relative;
        // margin: 0 -15px;
        overflow: hidden;

        & .swiper-slide {
            height: initial !important;
        }
    }

    &__slide-1 {
        display: flex;

        & .entry__item {
            flex-grow: 1;
            padding: 60px 30px 60px 30px;
            background-color: #ffffff;
            min-height: initial;
            height: initial;
            width: initial;
        }

        & .entry__image {
            height: 90px;
            max-height: 120px;
            margin-bottom: 30px;

            & img {
                width: auto;
                object-fit: contain;
            }
        }

        & .entry__group {
            padding: 0;
        }

        & .entry__data {
            font-size: 24px;
            margin-bottom: 30px;
        }

        & .entry__name {
            font-size: 28px;
            font-family: "Gordita-Bold", "Arial", "sans-serif";
        }
    }

    &__arrow-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 90px;
    }

    &__slider-2 {
        position: relative;
        overflow: hidden;

        & .swiper-slide {
            height: initial !important;
        }
    }

    &__slide-2 {
        display: flex;

        & .entry__item {
            flex-grow: 1;
            width: initial;
            height: initial;
            min-height: 480px;
            background-color: #ffffff;
        }
    }

    &__arrow-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНТАКТОВ ОТДЕЛЬНОГО СОТРУДНИКА========================================================
    .person {
        &__row {
            &:first-child {
                background: url("../img/dots-team.svg") no-repeat 100% 10rem / 43%;
                padding: 176px 0 68px 0;
            }

            &:last-child {
                padding: 68px 0;
            }
        }

        &__title {
            margin-bottom: 45px;
        }

        &__column {
            &:first-child {
                flex: 0 1 315px;
                margin-right: 45px;
            }

            &:nth-child(2) {
                & .person__text {
                    margin-top: 34px;
                }
            }
        }

        &__group-2 {
            margin-bottom: 60px;
        }

        &__group-info {
            &:first-child {
                margin-right: 68px;
            }
        }

        &__image {
            height: 315px;
            margin-bottom: 23px;
        }

        &__button {
            margin-bottom: 45px;
        }

        &__degree {
            padding-left: 56px;

            & a {
                font-size: 21px;
            }

            &::before {
                width: 45px;
                height: 45px;
                top: 10px;
                background: url("../img/icon/icon-pdf.svg") no-repeat center / 90%;
            }
        }

        &__name {
            font-size: 36px;
        }

        &__post {
            margin-bottom: 10px;
            font-size: 21px;
        }

        &__text {
            font-size: 21px;
        }

        &__text-2 {
            font-size: 21px;
        }

        &__item {
            padding-left: 23px;
            margin-bottom: 8px;
            font-size: 21px;

            &::before {
                top: 13px;
                width: 11px;
                height: 2px;
            }
        }

        &__slider-1 {
        }

        &__slide-1 {
            & .entry__item {
                padding: 45px 23px 45px 23px;
            }

            & .entry__image {
                height: 68px;
                max-height: 90px;
                margin-bottom: 23px;
            }

            & .entry__data {
                font-size: 18px;
                margin-bottom: 23px;
            }

            & .entry__name {
                font-size: 21px;
            }
        }

        &__arrow-1 {
            margin-top: 23px;
            margin-bottom: 68px;
        }

        &__slider-2 {
        }

        &__slide-2 {
            & .entry__item {
                min-height: 360px;
            }
        }

        &__arrow-2 {
            margin-top: 23px;
        }
    }

    .person__button-prev,
    .person__button-next {
        width: 45px !important;
        height: 45px !important;
        background: url("../img/icon/icon-arrow-slider-team-person.svg") no-repeat center / 25%, #0a2783 !important;
    }
}

@media (max-width: 1320px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНТАКТОВ ОТДЕЛЬНОГО СОТРУДНИКА========================================================
    .person {
        &__row {
            &:first-child {
                padding: 146px 0 60px 0;
            }

            &:last-child {
                padding: 60px 0;
            }
        }

        &__column {
            &:first-child {
                flex: 0 1 223px;
                margin-right: 30px;
            }

            &:nth-child(2) {
                & .person__text {
                    margin-top: 15px;
                }
            }
        }

        &__image {
            height: 223px;
        }

        &__button {
            margin-bottom: 30px;

            & .btn {
                width: 223px;
            }
        }

        &__degree {
            margin-bottom: 20px;

            &::before {
                top: -5px;
            }

            & a {
                font-size: 14px;
            }
        }

        &__post {
            font-size: 16px;
            margin-bottom: 15px;
        }

        &__text {
            font-size: 24px;
        }

        &__text-2 {
            font-size: 16px;
        }

        &__item {
            font-size: 16px;
        }
    }
    .person__dots-2 .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        margin-right: 15px !important;
    }

    .person__button-prev {
        margin-right: 45px !important;
    }

    .person__button-next {
        margin-left: 45px !important;
    }
}

@media (max-width: 1024px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНТАКТОВ ОТДЕЛЬНОГО СОТРУДНИКА========================================================
    .person {
        &__row {
            &:first-child {
                padding: 120px 0 30px 0;
                background: none;
            }

            &:last-child {
                padding: 30px 0;
            }
        }

        &__slide-1 {
            & .entry__image {
                height: 50px;
            }
        }

        &__group {
            flex-direction: column;
        }

        &__column {
            &:first-child {
                flex: 0 1 210px;
                margin-right: 0;
                display: flex;
            }

            &:nth-child(2) {
                .person__text {
                    font-size: 18px;
                }
            }
        }

        &__group-info {
            &:first-child {
                display: flex;
                flex-wrap: wrap;
                margin-right: 0;
            }
        }

        &__group-item {
            &:nth-child(odd) {
                margin-right: 20px;
            }

            flex: 1 1 calc(50% - 20px);
        }

        &__text-2 {
            margin-top: 15px;
            font-size: 14px;
        }

        &__image {
            height: 210px;
            margin-bottom: 0;
            flex: 1 1 calc(50% - 20px);
            margin-right: 20px;
        }

        &__group-question {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            flex: 1 1 calc(50% - 20px);
        }

        &__degree {
            margin-bottom: 0;

            & a {
                font-size: 12px;
            }
        }

        &__name {
            font-size: 24px;
        }

        &__post {
            font-size: 14px;
        }

        &__button {
            margin-bottom: 0;

            & .btn {
                padding: 20px 0;
                width: 210px;
            }
        }

        &__wrap {
            &_two {
                flex-direction: column;
            }
        }
    }
    .person__button-prev,
    .person__button-next {
        width: 30px !important;
        height: 30px !important;
        background: url("../img/icon/icon-arrow-slider-team-person.svg") no-repeat center / 25%, #0a2783 !important;
    }

    .person__dots-2 .swiper-pagination-bullet {
        width: 5px !important;
        height: 5px !important;
        margin-right: 10px !important;
    }

    .person__button-prev {
        margin-right: 30px !important;
    }

    .person__button-next {
        margin-left: 30px !important;
    }
}

@media (max-width: 510px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНТАКТОВ ОТДЕЛЬНОГО СОТРУДНИКА========================================================
    .person {
        &__row {
            &:first-child {
                padding: 105px 0 20px 0;
            }

            &:last-child {
                padding: 20px 0;
            }
        }

        &__slide-1 {
            & .entry__image {
                height: 38px;
            }

            & .entry__data {
                font-size: 12px;
            }

            & .entry__name {
                font-size: 12px;
            }
        }

        &__column {
            &:first-child {
                flex: 0 1 100px;
                margin-bottom: 15px;
            }
        }

        &__group-2 {
            margin-bottom: 45px;
        }

        &__name {
            font-size: 16px;
        }

        &__post {
            font-size: 12px;
        }

        &__image {
            height: 100px;
            flex: 1 1 calc(40% - 15px);
            margin-right: 15px;
        }

        &__group-question {
            flex: 1 1 calc(60% - 15px);
        }

        &__degree {
            padding-left: 35px;

            & a {
                font-size: 9px;
            }

            &::before {
                width: 30px;
                height: 30px;
            }
        }

        &__text {
            font-size: 12px;
        }

        &__text-2 {
            font-size: 11px;
        }

        &__item {
            font-size: 11px;

            &::before {
                top: 7px;
                width: 10px;
                height: 1px;
            }
        }

        &__button {
            & .btn {
                padding: 15px 0;
                width: 100%;
            }
        }
    }
}

.modal {
    overflow: auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 70px 2% 2% 2%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__body {
        max-width: 870px;
        width: 100%;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
}

.form-modal {
    position: relative;
    z-index: 1000;
    background-color: #fff;
    padding: 60px 30px;

    & input:not([type="submit"]),
    textarea {
        @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: -45px;
        right: -45px;
        width: 90px;
        height: 90px;
        background: #ffffff;
        border: 2px solid #f0f6fb;
        border-radius: 50%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 45px;
            height: 2px;
            background-color: #0a2783;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
            top: 50%;
            left: 50%;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
            top: 50%;
            left: 50%;
        }
    }

    &__title {
        @include font-param("Gordita-Bold", 48px, #0a2783, 700, 120%);
        margin-bottom: 60px;
    }

    &__group {
        display: flex;
        margin-bottom: 30px;
    }

    &__name {
        flex-grow: 1;
        margin-right: 30px;

        & input {
            border: 2px solid #0a2783;
            padding: 30px;
            width: 100%;
        }
    }

    &__email {
        flex-grow: 1;

        & input {
            border: 2px solid #0a2783;
            padding: 30px;
            width: 100%;
        }
    }

    &__comment {
        margin-bottom: 45px;

        & textarea {
            width: 100%;
            border: 2px solid #0a2783;
            padding: 30px;
            resize: none;
            min-height: 180px;
        }
    }

    &__check {
        display: block;
    }

    &__submit {
        max-width: 420px;
        width: 100%;
        padding: 30px 0;
        @include font-param("Gordita-Medium", 24px, #ffffff !important, 500, 120%);
        background: #0a2783;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: #051d68;
        }
    }

    &__service {
        display: none;
    }
}

@media (max-width: 1880px) {
    .modal {
        &__body {
            max-width: 650px;
        }
    }
    .form-modal {
        padding: 40px 20px;

        &__close {
            width: 60px;
            height: 60px;
            top: -30px;
            right: -30px;

            &::before,
            &::after {
                width: 25px;
            }
        }

        &__title {
            font-size: 36px;
            margin-bottom: 45px;
        }

        &__group {
            margin-bottom: 20px;
        }

        &__name {
            margin-right: 20px;

            & input {
                padding: 20px;
            }
        }

        &__email {
            & input {
                padding: 20px;
            }
        }

        &__comment {
            margin-bottom: 30px;

            & textarea {
                padding: 20px;
            }
        }

        &__submit {
            max-width: 300px;
            padding: 20px 0;
            font-size: 18px;
        }
    }
}

@media (max-width: 1320px) {
    .modal {
        &__body {
            max-width: 450px;
        }
    }
    .form-modal {
        padding: 30px 15px;

        &__close {
            width: 50px;
            height: 50px;
            top: -25px;
            right: -25px;

            &::before,
            &::after {
                width: 20px;
            }
        }

        &__title {
            font-size: 28px;
            margin-bottom: 30px;
        }

        &__group {
            margin-bottom: 15px;
        }

        &__name {
            margin-right: 15px;

            & input {
                padding: 10px;
                font-size: 16px !important;
            }
        }

        &__email {
            & input {
                padding: 10px;
                font-size: 16px !important;
            }
        }

        &__comment {
            margin-bottom: 20px;

            & textarea {
                padding: 10px;
                min-height: 100px;
                font-size: 16px !important;
            }
        }

        &__submit {
            max-width: 200px;
            padding: 15px 0;
            font-size: 16px;
        }
    }
}

@media (max-width: 1024px) {
    .form-modal {
        &__group {
            flex-direction: column;
        }

        &__name {
            margin-right: 0px;
            margin-bottom: 15px;

            & input {
                border: 1px solid #0a2783;
            }
        }

        &__email {
            & input {
                border: 1px solid #0a2783;
            }
        }

        &__comment {
            & textarea {
                border: 1px solid #0a2783;
            }
        }
    }
}

@media (max-width: 510px) {
    .form-modal {
        &__title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__check {
            font-size: 14px !important;
        }

        &__close {
            width: 30px;
            height: 30px;
            top: 15px;
            right: 15px;

            &::before,
            &::after {
                width: 15px;
            }
        }

        &__submit {
            max-width: 150px;
            padding: 10px 0;
            font-size: 14px;
        }
    }
}
