.support {
    padding: 231px 0 0 0;
    background: url("../img/dots-team.svg") no-repeat 100% 12rem;

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }
}

.tabs-support {
    display: flex;

    &__controls {
        flex: 0 1 450px;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 20px;
        margin-right: -5px;

        @include font-param("Gordita-Medium", 28px, rgba(0, 0, 0, 0.5), 500, 120%);

        & img {
            width: 30px;
            height: 30px;
            margin-right: 30px;
            filter: grayscale(1);
            opacity: 0.5;
        }

        & span {
            max-width: 300px;
        }

        &.active {
            background-color: #ffffff;
            border: 5px solid rgba(10, 39, 131, 0.5);
            border-right: none;

            & img {
                filter: grayscale(0);
                opacity: 1;
            }

            color: #0a2783;
        }
    }

    &__content {
        flex: 0 1 1320px;
        padding: 60px;
        border: 5px solid rgba(10, 39, 131, 0.5);
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__text {
        @include font-param("Gordita-Medium", 28px, #000000, 500, 120%);
        margin-bottom: 30px;
        max-width: 750px;
    }

    &__list-2 {
        display: flex;
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
    }

    &__element-2 {
        flex: 1 1 calc(100% / 2 - 60px);
        margin: 0 30px 40px;

        & a {
            @include font-param("Gordita-Regular", 24px, #0a2783, 400, 120%);

            & span {
                display: inline-block;
                margin-top: 15px;
                @include font-param("Gordita-Medium", 18px, #000000, 500, 120%);
            }
        }
    }
}
