.article {
    padding: 231px 0 90px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 13rem;

    &__row {
        &:first-child {
            margin-bottom: 60px;
        }

        &:last-child {
            & .article__column {
                margin: 0 -15px;

                & .article__wrap {
                    flex: 0 1 calc(100% / 4);
                }
            }
        }
    }

    &__column {
        display: flex;
    }

    &__left {
        flex: 0 1 75%;
        margin-right: 60px;
    }

    &__right {
        flex: 0 1 25%;
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
        max-width: 950px;
    }

    &__image {
        height: 600px;
        margin-bottom: 60px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        @include font-param("Gordita-Regular", 18px, #000000, 400, 140%);

        & P {
            margin-bottom: 30px;
        }
    }

    &__group {
        &:first-child {
            border-bottom: 2px solid #0a2783;
        }

        &:last-child {
            padding-top: 30px;
        }
    }

    &__date {
        @include font-param("Gordita-Regular", 24px, #000000, 400, 120%);
        margin-bottom: 45px;
    }

    &__source {
        @include font-param("Gordita-Regular", 24px, #000000, 400, 120%);
        margin-bottom: 10px;
    }

    &__source-image {
        margin-bottom: 30px;

        & a {
            display: block;
            width: 300px;
            height: 60px;
            font-family: "Arial", "sans-serif";
            font-size: 18px;
            color: #000000;
            font-weight: 400;
            line-height: 120%;

            & img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__share {
        margin-bottom: 90px;

        & .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
            display: flex;
            align-items: center;
            padding: 0 !important;
        }

        & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__badge_more {
            padding-left: 10px;
            order: 2;
            display: flex;
            align-items: center;
        }

        &
        .ya-share2__item_more.ya-share2__item_has-pretty-view
        .ya-share2__link_more:not(.ya-share2__link_more-button-type_short)
        .ya-share2__title {
            order: 1;
            @include font-param("Gordita-Regular", 28px, #0a2783, 400, 120%);
        }

        & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
            background: url("../img/icon/icon-arrow-share.svg") no-repeat center / 100%;
        }

        & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
            background: none !important;
            border: none !important;
            border-radius: initial !important;
        }
    }

    &__person {
        @include font-param("Gordita-Medium", 28px, #000000, 500, 120%);
        margin-bottom: 60px;
    }

    &__back {
        display: block;
        @include font-param("Gordita-Medium", 28px, #0a2783, 500, 120%);
        padding: 0 0 90px 0;

        & span {
            position: relative;
            padding-right: 45px;

            &::before {
                content: "";
                position: absolute;
                width: 31px;
                height: 16px;
                right: 0;
                top: 60%;
                transform: translate(0, -50%);
                background: url("../img/icon/btn-arrow.svg") 100% 100% / 100%;
                transition: all 0.3s ease;
            }

            &:hover {
                cursor: pointer;

                &::before {
                    right: -15px;
                }
            }
        }
    }

    &__wrap {
        padding: 0 15px;
    }
}

.team-article {
    display: flex;
    margin-bottom: 30px;

    &__group-person {
    }

    &__img {
        height: 120px;
        width: 120px;
        margin-right: 30px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        @include font-param("Gordita-Medium", 24px, #0a2783, 500, 120%);
        margin-bottom: 10px;
    }

    &__post {
        @include font-param("Gordita-Regular", 18px, #000000, 400, 120%);
        margin-bottom: 10px;
    }

    &__email {
        @include font-param("Gordita-Medium", 18px, #0a2783, 400, 120%);
    }
}

@media (max-width: 1880px) {
    //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ КОНКРЕТНОЙ НОВОСТИ========================================================
    .article {
        padding: 176px 0 60px 0;
        background: url("../img/dots-news.svg") no-repeat 100% 13rem / 18%;

        &__row {
            &:first-child {
                margin-bottom: 45px;
            }

            &:last-child {
                & .article__column {
                    margin: 0 -11px;
                }
            }
        }

        &__left {
            margin-right: 45px;
        }

        &__title {
            margin-bottom: 45px;
            max-width: 713px;
        }

        &__image {
            height: 450px;
            margin-bottom: 45px;
        }

        &__text {
            font-size: 14px;

            & P {
                margin-bottom: 23px;
            }
        }

        &__group {
            &:last-child {
                padding-top: 23px;
            }
        }

        &__date {
            font-size: 18px;
            margin-bottom: 30px;
        }

        &__source {
            font-size: 18px;
            margin-bottom: 8px;
        }

        &__source-image {
            margin-bottom: 23px;

            & a {
                width: 225px;
                height: 45px;
                font-size: 16px;
            }
        }

        &__share {
            & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
                background: url("../img/icon/icon-arrow-share.svg") no-repeat center / 65%;
            }

            &
            .ya-share2__item_more.ya-share2__item_has-pretty-view
            .ya-share2__link_more:not(.ya-share2__link_more-button-type_short)
            .ya-share2__title {
                font-size: 21px;
            }

            margin-bottom: 68px;
        }

        &__person {
            font-size: 21px;
            margin-bottom: 45px;
        }

        &__back {
            font-size: 21px;
            padding: 0 0 68px 0;

            & span {
                position: relative;
                padding-right: 45px;

                &:hover {
                    &::before {
                        right: -11px;
                    }
                }
            }
        }

        &__wrap {
            padding: 0 11px;
        }
    }

    .team-article {
        margin-bottom: 23px;

        &__img {
            height: 90px;
            width: 90px;
            margin-right: 23px;
        }

        &__name {
            font-size: 18px;
            margin-bottom: 8px;
        }

        &__post {
            font-size: 14px;
            margin-bottom: 8px;
        }

        &__email {
            font-size: 14px;
        }
    }
}

@media (max-width: 1320px) {
    .article {
        padding: 147px 0 45px 0;
        background: none;

        &__row {
            &:last-child {
                .article__column {
                    display: none;
                }
            }
        }

        &__title {
            margin-bottom: 20px;
        }

        &__image {
            height: 320px;
            margin-bottom: 30px;
        }

        &__left {
            flex: 0 1 80%;
            margin-right: 30px;
        }

        &__right {
            flex: 0 1 20%;
        }

        &__date {
            margin-bottom: 20px;
        }

        &__share {
            margin-bottom: 30px;

            & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
                background: url("../img/icon/icon-arrow-share.svg") no-repeat center / 55%;
            }

            &
            .ya-share2__item_more.ya-share2__item_has-pretty-view
            .ya-share2__link_more:not(.ya-share2__link_more-button-type_short)
            .ya-share2__title {
                font-size: 18px;
            }
        }

        &__text {
            & P {
                margin-bottom: 30px;
            }
        }

        &__back {
            padding-bottom: 0;
        }
    }
    .team-article {
        flex-direction: column;

        &__img {
            width: 120px;
            height: 120px;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__name {
            font-size: 24px;
        }

        &__post {
            font-size: 18px;
        }

        &__email {
            font-size: 18px;
        }
    }
}

@media (max-width: 1024px) {
    .article {
        padding: 120px 0 45px 0;

        &__row {
            &:first-child {
                margin-bottom: 30px;

                .article__column {
                    flex-direction: column;
                }
            }
        }

        &__left {
            flex: 0 1 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__right {
            flex: 0 1 100%;
        }

        &__image {
            height: 270px;
        }

        &__source {
            font-size: 14px;
        }

        &__source-image {
            margin-bottom: 15px;

            & a {
                width: 150px;
                font-size: 12px;
            }
        }

        &__date {
            font-size: 14px;
        }

        &__share {
            margin-bottom: 0px;

            & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
                background: url("../img/icon/icon-arrow-share.svg") no-repeat center / 40%;
            }

            &
            .ya-share2__item_more.ya-share2__item_has-pretty-view
            .ya-share2__link_more:not(.ya-share2__link_more-button-type_short)
            .ya-share2__title {
                font-size: 14px;
            }
        }
    }
    .team-article {
        flex-direction: row;

        &__img {
            margin-right: 20px;
            margin-bottom: 0;
        }

        &__post {
            font-size: 14px;
        }

        &__email {
            font-size: 14px;
        }
    }
}

@media (max-width: 510px) {
    .article {
        padding: 105px 0 30px 0;

        &__image {
            height: 170px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 11px;
        }

        &__group {
            &:first-child {
                border-width: 1px;
            }

            &:last-child {
                padding-top: 20px;
            }
        }

        &__source {
            font-size: 11px;
        }
        &__source-image {
            & a {
                font-size: 10px;
            }
        }

        &__date {
            font-size: 11px;
            margin-bottom: 15px;
        }

        &__share {
            .ya-share2__container_mobile.ya-share2__container_size_m .ya-share2__icon {
                height: 12px;
            }

            & .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
                background: url("../img/icon/icon-arrow-share.svg") no-repeat center / 30%;
            }

            .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__badge_more {
                padding-left: 0;
            }

            &
            .ya-share2__item_more.ya-share2__item_has-pretty-view
            .ya-share2__link_more:not(.ya-share2__link_more-button-type_short)
            .ya-share2__title {
                font-size: 12px;
            }
        }
    }
    .team-article {
        margin-bottom: 20px;

        &__img {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        &__name {
            font-size: 14px;
        }

        &__post {
            font-size: 11px;
        }

        &__email {
            font-size: 11px;
        }
    }
}
