<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate() ? 'Добавление' : 'Изменение'} направления услуг`"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push('/admin/services-directions/')">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate()"
                                    v-model="servicesDirection.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="servicesDirection.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-text-field v-model="servicesDirection.sort"
                                      label="Сортировка"
                                      name="sort"
                                      type="number"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-select :items="servicesCategories"
                                  v-model="servicesDirection.services_category_id"
                                  label="Категория"
                                  :clearable="true"
                                  hint="При клике на блок будет происходить переход к выбранной категории."
                                  item-text="name"
                                  item-value="id"></v-select>

                        <v-text-field v-model="servicesDirection.link"
                                      label="Ссылка"
                                      name="link"
                                      hint="Если заполнена ссылка, то при клике будет использована она, иначе будет использоваться переход к категории услуг."
                                      type="link"></v-text-field>

                        <image-field v-model="servicesDirection.icon" label="Иконка направления"></image-field>

                        <array class="mb-5"
                               namespace="services_directions_list"
                               v-model="servicesDirection.services_list"
                               :components="{name: 'v-text-field'}"
                               no-items-text="Добавьте услугу"></array>

                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate() ? 'Добавить' : 'Сохранить'}} направление услуг
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {createEntity}  from "../../../api/createEntity";
    import ImageField      from "../common/fields/image";
    import {updateEntity}  from "../../../api/updateEntity";
    import {last}          from "lodash";
    import {
        mapState,
        mapActions
    }                      from "vuex";

    export default {
        name:       "services-directions-form",
        components: {
            ImageField,
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                sending:           false,
                formValid:         true,
                servicesDirection: {
                    sort: 100
                },
                rules:             {
                    required: value => !!value || 'Обязательно'
                }
            };
        },
        computed:   {
            ...mapState({
                servicesCategories: state => state.servicesCategories
            })
        },
        methods:    {
            ...mapActions([
                'getServicesCategories'
            ]),
            hasHistory() {
                return window.history.length > 2;
            },
            isCreate() {
                return !this.id;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeServicesCategory();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeServicesCategory() {
                const serviceDirection = {
                    ...this.servicesDirection,
                    services_list: JSON.stringify(this.servicesDirection.services_list)
                };

                if (this.isCreate()) {
                    this.createServicesCategory(serviceDirection);
                }
                else {
                    this.updateServicesCategory(serviceDirection);
                }
            },
            createServicesCategory(servicesDirection) {
                this.sending = true;
                createEntity('services-directions', servicesDirection)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/services-directions/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateServicesCategory(servicesDirection) {
                this.sending = true;
                updateEntity('services-directions', servicesDirection)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            loadServicesDirections() {
                axios.get(`/api/services-directions/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let servicesDirection = data.data;

                            servicesDirection.services_list = JSON.parse(servicesDirection.services_list);

                            fetch(`/storage/${data.data.icon}`)
                                .then(res => res.blob())
                                .then(blob => {
                                    const type = data.data.icon.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                    const fileName = last(data.data.icon.split(/\s*\/\s*/));

                                    servicesDirection.icon = new File([blob], fileName, {type});

                                    this.servicesDirection = {...servicesDirection};
                                });
                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate()) {
                this.loadServicesDirections();
            }

            if (!this.servicesCategories || !this.servicesCategories.length) {
                this.getServicesCategories();
            }
        }
    };
</script>

<style scoped>

</style>
