<template>
    <projects-form></projects-form>
</template>

<script>
    import ProjectsForm from "../../../components/admin/projects/form";

    export default {
        name:       "project-create",
        components: {
            ProjectsForm,
        },
        mounted() {
            this.$title.set('Добавление проекта');
        }
    };
</script>
