<template>
    <projects-form :id="id"></projects-form>
</template>

<script>
    import ProjectsForm from "../../../components/admin/projects/form";

    export default {
        name:       "project-edit",
        components: {
            ProjectsForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование проекта');
            this.id = this.$route.params.id;
        }
    };
</script>

