<template>
    <projects-list :category-id="id"></projects-list>
</template>

<script>
    import ProjectsList from "../../../components/admin/projects/list";

    export default {
        name:       "projects-index",
        components: {
            ProjectsList,
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Проекты в категории');
            this.id = this.$route.params.id;
        }
    };
</script>
