<template>
    <site-info-form :id="id"></site-info-form>
</template>

<script>
    import SiteInfoForm from "../../../components/admin/common/site-info-form/form";

    export default {
        name:       "site-info-edit",
        components: {SiteInfoForm},
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование настроек сайта');

            this.id = this.$route.params.id;
        }
    };
</script>
