<template>
    <items-list title="Сайты"
                admin-link="/admin/site-info"
                api-link="/api/site-info"
                :actions="{edit:true}"
                :headers="headers"
    ></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";
    export default {
        name:    "site-info-index",
        components: {ItemsList},
        data() {
            return {
                headers:  [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Название',
                        value: 'name'
                    },
                    {
                        text:  'Основной e-mail',
                        value: 'email'
                    },
                    {
                        text:  'Время работы',
                        value: 'work_time'
                    },
                    {
                        text:  'Обновлено',
                        value: 'updated_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align: 'end',
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Настройки сайтов');
        }
    };
</script>
