<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="title"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push(backLink)"
                           :view-link="!isCreate && `/${type}/${id}/`">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate"
                                    v-model="post.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="post.title"
                                      label="Заголовок"
                                      name="title"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <image-field v-model="post.image" label="Изображение новости"></image-field>

                        <v-textarea v-model="post.description"
                                    label="Описание"
                                    auto-grow
                                    required></v-textarea>

                        <v-card-title>Текст</v-card-title>

                        <ckeditor :editor="editor" v-model="post.text" :config="config"></ckeditor>

                        <v-text-field class="mt-6"
                                      label="Источник"
                                      v-model="post.source_link"
                                      prepend-inner-icon="mdi-link"
                                      placeholder="https://example.com"
                                      hint="Например https://example.com"></v-text-field>

                        <image-field v-model="post.source_image" label="Изображение для источника"></image-field>

                        <v-row align="center" justify="space-around">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{buttonText}}
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "./post-form-toolbar";
    import {createEntity}  from "../../../../api/createEntity";
    import ImageField      from "../fields/image";
    import {updateEntity}  from "../../../../api/updateEntity";
    import {UploadAdapter} from "../../../../utils/uploadAdapter";
    import ClassicEditor   from "@alex_hi/ckeditor5-build-abp";
    import {last}          from "lodash";

    export default {
        name:       "post-form",
        components: {
            ImageField,
            PostFormToolbar
        },
        props:      {
            id:   {
                default: null
            },
            type: {
                type:    String,
                default: 'news'
            }
        },
        data() {
            return {
                formValid: true,
                post:      {
                    title:        null,
                    image:        null,
                    description:  null,
                    text:         null,
                    source_link:  null,
                    source_image: null,
                    type:         this.type
                },
                sending:   false,
                rules:     {
                    required: value => !!value || 'Обязательно'
                },
                editor:    ClassicEditor,
                config:    {
                    image:        {
                        styles:  [
                            'alignLeft', 'alignCenter', 'alignRight'
                        ],
                        toolbar: [
                            'imageStyle:alignLeft',
                            'imageStyle:alignCenter',
                            'imageStyle:alignRight',
                            '|',
                            'imageTextAlternative'
                        ]
                    },
                    extraPlugins: [this.uploader],
                    mediaEmbed:   {previewsInData: true}
                }
            };
        },
        computed:   {
            backLink() {
                return '/admin/' + this.type + '/';
            },
            isCreate() {
                return !this.id;
            },
            title() {
                return `${this.isCreate ? 'Добавление' : 'Редактирование'} ${this.type === 'news' ? 'новости' : 'статьи'}`;
            },
            buttonText() {
                return `${this.isCreate ? 'Добавить' : 'Сохранить'} ${this.type === 'news' ? 'новость' : 'статью'}`;
            }
        },
        methods:    {
            hasHistory() {
                return window.history.length > 2;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storePost();
                }
            },
            storePost() {
                this.sending = true;

                if (this.isCreate) {
                    createEntity(this.type, this.post)
                        .then(({data}) => {
                            this.$notify.success('Успешно создано!');
                            this.$router.push(`/admin/${this.type}/${data.data.id}/edit`);
                        })
                        .catch((err) => {
                            this.$notify.error(err)
                        })
                        .finally(() => {
                            this.sending = false;
                        });
                }
                else {
                    updateEntity(this.type, this.post)
                        .then(() => this.$notify.success('Успешно обновлено!'))
                        .catch((err) => this.$notify.error(err))
                        .finally(() => {
                            this.sending = false;
                        });
                }
            },
            uploader(editor) {
                editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                    return new UploadAdapter(loader, 'uploads');
                };
            },
            loadPost() {
                axios.get(`/api/${this.type}/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.post = data.data;

                            let post = data.data;

                            const imagesLoaded = new Promise(() => {
                                Object.keys(post).map((key) => {
                                    const value = post[key];
                                    if (typeof value === 'string' && value.includes('uploads')) {
                                        fetch(`/storage/${value}`)
                                            .then(res => res.blob())
                                            .then(blob => {
                                                const type = value.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                                const fileName = last(value.split(/\s*\/\s*/));

                                                post[key] = new File([blob], fileName, {type});
                                            });
                                    }
                                });
                            });

                            imagesLoaded.finally(() => post = {...post});
                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate) {
                this.loadPost();
            }
        }
    };
</script>

<style>
    .ck-editor__editable_inline {
        min-height: 200px !important;
    }
</style>
