<template>
    <v-toolbar flat>
        <v-btn @click="$emit('onBack')" icon>
            <v-icon>
                mdi-arrow-left
            </v-icon>
        </v-btn>
        <v-toolbar-title class="font-weight-light">
            {{title}}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn fab
               small
               v-if="viewLink"
               color="primary"
               :href="viewLink"
               target="_blank">
            <v-icon>
                mdi-eye
            </v-icon>
        </v-btn>
    </v-toolbar>
</template>

<script>
    export default {
        name:  "post-form-toolbar",
        props: {
            title:    {
                default: ''
            },
            viewLink: {
                type: [String, Boolean]
            }
        }
    };
</script>

<style scoped>

</style>
