<template>
    <expert-links-form></expert-links-form>
</template>

<script>
    import ExpertLinksForm from "../../../components/admin/expert-links/form";

    export default {
        name:       "expert-links-create",
        components: {
            ExpertLinksForm
        },
        mounted() {
            this.$title.set('Создание ссылки');
        }
    };
</script>
