<template>
    <expert-links-form :id="id"></expert-links-form>
</template>

<script>
    import ExpertLinksForm from "../../../components/admin/expert-links/form";

    export default {
        name:       "expert-links-edit",
        components: {
            ExpertLinksForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование ссылки');
            this.id = this.$route.params.id;
        }
    };
</script>

<style scoped>

</style>
