<template>
    <v-app>
        <slot name="top"></slot>
        <v-navigation-drawer app
                             v-model="drawer"
                             :mini-variant.sync="mini">
            <user-drawer></user-drawer>

            <v-divider></v-divider>

            <v-list dense nav>
                <v-list-item-group color="primary">
                    <template v-for="(item,i) in routes">
                        <v-list-group
                            v-if="item.isGroup"
                            :value="item.active"
                            :prepend-icon="item.icon">
                            <template v-slot:activator>
                                <v-list-item-title>{{item.title}}</v-list-item-title>
                            </template>

                            <v-list-item
                                v-for="({title, icon, path, isExact}, i) in item.children"
                                :key="i"
                                class="ml-5"
                                link
                                :to="path"
                                :exact="isExact">
                                <v-list-item-icon>
                                    <v-icon v-text="icon"></v-icon>
                                </v-list-item-icon>
                                <v-list-item-title v-text="title"></v-list-item-title>
                            </v-list-item>
                        </v-list-group>
                        <v-divider v-else-if="item.divider"
                                   :key="`divider-${i}`"></v-divider>
                        <v-list-item v-else :key="item.title" link :to="item.path" :exact="item.isExact">
                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </v-list-item-group>
            </v-list>

            <template v-slot:append>
                <div class="pl-6">
                    <v-switch v-model="$vuetify.theme.dark"
                              @click="darkThemeToggleHandler"
                              label="Тёмная тема"></v-switch>
                </div>
            </template>
        </v-navigation-drawer>
        <v-app-bar app color="primary" dense>
            <v-app-bar-nav-icon @click="drawer = !drawer" outlined color="white" class="no-outline"></v-app-bar-nav-icon>
            <v-toolbar-title class="white--text">Панель управления</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn outlined color="white" href="/" target="_blank">
                Перейти на сайт
                <v-icon right>mdi-web</v-icon>
            </v-btn>
        </v-app-bar>
        <v-main>
            <v-container fluid>
                <slot></slot>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>

    import {routes}   from "../../router";
    import UserMenu   from "../../components/admin/user-menu";
    import {mapState} from "vuex";
    import UserDrawer from "./user-menu";

    export default {
        name:       'admin-layout',
        components: {
            UserDrawer,
            UserMenu
        },
        watch:      {
            $route(to, from) {
                this.checkMatched(to, from);
            }
        },
        computed:   {
            ...mapState({
                userInfo: state => state.userInfo
            })
        },
        data() {
            return {
                drawer: true,
                mini:   false,
                routes: []
            };
        },
        methods:    {
            checkMatched(to, from) {
                if (to.matched.length > 1) {
                    const parent = to.matched.filter(m => !m.parent)[0];
                    const route = routes.filter(route => route.path === parent.path)[0];

                    route.active = true;
                }
            },
            darkThemeToggleHandler() {
                localStorage.setItem("dark_theme", this.$vuetify.theme.dark.toString());
            }
        },
        mounted() {
            this.routes = routes.filter(link => link.title || link.divider);

            this.checkMatched(this.$route);
        }
    };
</script>
