<template>
    <v-list v-if="userInfo">
        <v-menu offset-x right nudge-width="200">
            <template v-slot:activator="{ on, attrs }">
                <v-list-item link v-bind="attrs" v-on="on">
                    <v-avatar size="50" class="mr-3">
                        <v-img :src="`/storage/${userInfo.profile.image}`"></v-img>
                    </v-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="text-h6">
                            {{userInfo.name}} {{userInfo.last_name}}
                        </v-list-item-title>
                        <v-list-item-subtitle>{{userInfo.email}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </template>
            <user-menu :user="userInfo"></user-menu>
        </v-menu>
    </v-list>
</template>

<script>
    import UserMenu   from "../../components/admin/user-menu";
    import {mapState} from "vuex";
    export default {
        name:     "user-drawer",
        components: {UserMenu},
        computed: {
            ...mapState({
                userInfo: state => state.userInfo
            })
        }
    };
</script>

<style scoped>

</style>
