<template>
    <div>
        <v-card>
            <v-card-title>
                <v-toolbar-title>Категории услуг</v-toolbar-title>

                <v-btn icon
                       :disabled="loaders.serviceCategories"
                       class="ml-3"
                       @click="getServicesCategories()">
                    <v-icon>
                        mdi-reload
                    </v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Поиск"
                    single-line
                    hide-details></v-text-field>

                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    to="/admin/services/category/create">
                    Добавить категорию услуг
                </v-btn>
            </v-card-title>
            <v-data-table :headers="headers"
                          :items="items"
                          :loading="loaders.servicesCategories"
                          :search="search"
                          @click:row="openServicesPage"
                          class="pointer"
                          sort-by="sort"
                          sort-desc
                          :items-per-page="50"
                          loading-text="Загрузка..."
                          :footer-props="tableFooterProps">
                <template v-slot:no-data>
                    <div class="body-2 mb-4 mt-4">
                        Пока нет ни одной категории. Добавьте новую.
                    </div>
                    <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        to="/admin/services/category/create">
                        Добавить категорию услуг
                    </v-btn>
                </template>
                <template v-slot:no-results>
                    <div class="body-2 mb-4 mt-4">
                        По данному запросу ничего не найдено. Попробуйте изменить поисковый запрос.
                    </div>
                </template>
                <template v-slot:item.active="{ item }">
                    {{item.active ? 'Да' : 'Нет'}}
                </template>
                <template v-slot:item.icon="{ item }">
                    <div>
                        <v-avatar size="34" class="mr-2" color="#fff" tile>
                            <v-img v-if="item.icon"
                                   :src="`/storage/${item.icon}`"
                                   :alt="`${item.name}`"></v-img>
                        </v-avatar>
                    </div>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-btn icon
                           :to="`/admin/services/category/${item.id}/edit`">
                        <v-icon small>
                            mdi-pencil
                        </v-icon>
                    </v-btn>

                    <v-btn @click="showDeleteModal(item.id)"
                           icon>
                        <v-icon
                            small>
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>
        <v-row justify="center">
            <v-dialog
                v-model="deleteDialog"
                max-width="290">
                <v-card>
                    <v-card-title class="headline">
                        Подтвердите действие
                    </v-card-title>
                    <v-card-text>
                        Вы действительно хотите удалить элемент? Это действие не обратимо.

                    </v-card-text>
                    <v-progress-linear
                        v-if="deleting"
                        indeterminate
                        color="primary"
                        class="mb-0"
                    ></v-progress-linear>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="green darken-1"
                            text
                            @click="deleteDialog = false"
                        >
                            Отмена
                        </v-btn>
                        <v-btn
                            color="red darkred-1"
                            text
                            @click="deleteItem">
                            Удалить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>

    import {
        mapActions,
        mapState
    }                     from 'vuex';
    import {deleteEntity} from "../../../api/deleteEntity";

    export default {
        name:     "services-categories-list",
        data() {
            return {
                search:           null,
                deleteDialog:     false,
                deleteItemId:     0,
                deleting:         false,
                headers:          [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Иконка',
                        value: 'icon'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Название',
                        value: 'name'
                    },
                    {
                        text:  'Сортировка',
                        value: 'sort'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ],
                tableFooterProps: {
                    'items-per-page-all-text': 'Все',
                    'items-per-page-text':     'Элементов на страницу:',
                    'items-per-page-options':  [-1, 10, 20, 50],
                    'page-text':               '{0}-{1} из {2}'
                }
            };
        },
        computed: {
            ...mapState({
                items:   state => state.servicesCategories,
                loaders: state => state.loaders
            })
        },
        methods:  {
            ...mapActions([
                'getServicesCategories',
                'setLastServicesCategory'
            ]),
            showDeleteModal(id) {
                this.deleteDialog = !this.deleteDialog;
                this.deleteItemId = id;
            },
            deleteItem() {
                this.deleting = true;
                deleteEntity('/api/services-categories', this.deleteItemId)
                    .then(() => this.$notify.success('Успешно удалено!'))
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.deleting = false;
                        this.deleteDialog = false;
                        this.getServicesCategories();
                    });
            },
            openServicesPage(category) {
                if (this.deleteDialog) {
                    return;
                }
                this.setLastServicesCategory(category);
                this.$router.push(`/admin/services/category/${category.id}`);
            }
        },
        mounted() {
            this.getServicesCategories();
        }
    };
</script>
