<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate() ? 'Добавление' : 'Изменение'} категории проектов`"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push('/admin/projects/categories')">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate()"
                                    v-model="projectsCategory.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="projectsCategory.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-text-field v-model="projectsCategory.sort"
                                      label="Сортировка"
                                      name="sort"
                                      type="number"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <image-field v-model="projectsCategory.icon" label="Иконка категории"></image-field>

                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate() ? 'Добавить' : 'Сохранить'}} категорию
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {createEntity}  from "../../../api/createEntity";
    import ImageField      from "../common/fields/image";
    import {updateEntity}  from "../../../api/updateEntity";
    import {last}          from "lodash";

    export default {
        name:       "projects-categories-form",
        components: {
            ImageField,
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                sending:          false,
                formValid:        true,
                projectsCategory: {},
                rules:            {
                    required: value => !!value || 'Обязательно'
                }
            };
        },
        methods:    {
            hasHistory() {
                return window.history.length > 2;
            },
            isCreate() {
                return !this.id;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeProjectsCategory();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeProjectsCategory() {
                if (this.isCreate()) {
                    this.createProjectsCategory();
                }
                else {
                    this.updateProjectsCategory();
                }
            },
            createProjectsCategory() {
                this.sending = true;
                createEntity('projects-categories', this.projectsCategory)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/projects/category/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateProjectsCategory() {
                this.sending = true;
                updateEntity('projects-categories', this.projectsCategory)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            loadCategory() {
                axios.get(`/api/projects-categories/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let serviceCategory = data.data;
                            fetch(`/storage/${data.data.icon}`)
                                .then(res => res.blob())
                                .then(blob => {
                                    const type = data.data.icon.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                    const fileName = last(data.data.icon.split(/\s*\/\s*/));

                                    serviceCategory.icon = new File([blob], fileName, {type});

                                    this.projectsCategory = {...serviceCategory};
                                });
                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate()) {
                this.loadCategory();
            }
        }
    };
</script>

<style scoped>

</style>
