<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate() ? 'Добавление' : 'Изменение'} ссылки`"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push('/admin/expert-links')">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate()"
                                    v-model="expertLink.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="expertLink.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>


                        <image-field v-model="expertLink.logo" label="Логотип"></image-field>

                        <v-text-field class="mt-6"
                                      label="Ссылка"
                                      v-model="expertLink.link"
                                      prepend-inner-icon="mdi-link"
                                      placeholder="https://example.com"
                                      hint="Например https://example.com"></v-text-field>


                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate() ? 'Добавить' : 'Сохранить'}} ссылку
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {createEntity}  from "../../../api/createEntity";
    import ImageField      from "../common/fields/image";
    import {updateEntity}  from "../../../api/updateEntity";
    import {last}          from "lodash";

    export default {
        name:       "expert-links-form",
        components: {
            ImageField,
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                sending:    false,
                formValid:  true,
                expertLink: {},
                rules:      {
                    required: value => !!value || 'Обязательно'
                }
            };
        },
        methods:    {
            hasHistory() {
                return window.history.length > 2;
            },
            isCreate() {
                return !this.id;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeExpertLink();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeExpertLink() {
                if (this.isCreate()) {
                    this.createExpertLink();
                }
                else {
                    this.updateExpertLink();
                }
            },
            createExpertLink() {
                this.sending = true;
                createEntity('expert-links', this.expertLink)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/expert-links/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateExpertLink() {
                this.sending = true;
                updateEntity('expert-links', this.expertLink)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            loadExpertLink() {
                axios.get(`/api/expert-links/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let expertLink = data.data;
                            fetch(`/storage/${data.data.logo}`)
                                .then(res => res.blob())
                                .then(blob => {
                                    const type = data.data.logo.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                    const fileName = last(data.data.logo.split(/\s*\/\s*/));

                                    expertLink.logo = new File([blob], fileName, {type});

                                    this.expertLink = {...expertLink};
                                });
                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate()) {
                this.loadExpertLink();
            }
        }
    };
</script>
