<template>
    <post-form type="news"></post-form>
</template>

<script>
    import PostForm from "../../../components/admin/common/post-form/post-form";
    export default {
        name:    "news-create",
        components: {PostForm},
        mounted() {
            this.$title.set('Добавление новости');
        }
    };
</script>
