<template>
    <items-list title="Новости"
                add-button-text="Добавить новость"
                admin-link="/admin/news"
                api-link="/api/news"
                external-link="/news"
                :actions="{showExternal: true, edit: true, delete: true}"
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";

    export default {
        name:       "news-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Заголовок',
                        value: 'title'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Новости');
        }
    };
</script>
