<template>
    <div>
        <v-app style="height: 0">
            <snackbar></snackbar>
        </v-app>
        <component :is="layout">
            <v-scroll-x-transition hide-on-leave>
                <router-view/>
            </v-scroll-x-transition>
        </component>
    </div>
</template>

<script>
    import {mapActions} from "vuex";
    import Snackbar     from "./admin/common/snackbar";

    export default {
        components: {Snackbar},
        props:      [
            'backUrl'
        ],
        computed:   {
            layout() {
                return this.$route.meta.layout || 'admin-layout';
            }
        },
        methods:    {
            ...mapActions([
                'setBackUrl',
                'getUserInfo'
            ]),
            setDarkThemeState() {
                const theme = localStorage.getItem("dark_theme");
                if (theme) {
                    this.$vuetify.theme.dark = theme == "true";
                }
            }
        },
        mounted() {
            this.getUserInfo();
            this.setBackUrl(this.backUrl);
            this.setDarkThemeState();
        }
    };
</script>

<style>
    .pointer {
        cursor: pointer;
    }

    .ck-editor__editable {
        color: #222;
    }

    .row {
        margin: 0;
    }
</style>
