<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate ? 'Добавление' : 'Редактирование'} пользователя`"
                           @onBack="goBack">
        </post-form-toolbar>
        <v-card-text>
            <v-tabs v-model="tab">
                <v-tab
                    v-for="tab in tabs"
                    v-if="!(isCreate && tab.key === 'profile')"
                    :key="tab.key">
                    {{ tab.name }}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
                <v-tab-item key="user">
                    <v-row>
                        <v-col cols="12"
                               offset="2"
                               md="8">
                            <v-form v-model="formValid"
                                    @submit="submitForm">
                                <v-text-field v-model="user.name"
                                              label="Имя"
                                              name="name"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field v-model="user.last_name"
                                              label="Фамилия"
                                              name="last_name"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field v-model="user.email"
                                              label="E-mail"
                                              name="email"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-checkbox v-model="user.show_in_teams"
                                            label="Отображать в команде"
                                            name="show_in_teams"></v-checkbox>

                                <v-text-field v-if="isCreate"
                                              v-model="user.password"
                                              label="Пароль"
                                              name="password"
                                              :rules="[rules.required]"
                                              required
                                              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                              @click:append="showPassword = !showPassword"
                                              :type="showPassword ? 'text' : 'password'"></v-text-field>

                                <v-text-field v-else
                                              v-model="user.password"
                                              label="Новый пароль"
                                              name="password"
                                              autocomplete="new-password"
                                              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                              @click:append="showPassword = !showPassword"
                                              :type="showPassword ? 'text' : 'password'"></v-text-field>

                                <v-row align="center" justify="space-around" class="mt-5">
                                    <v-btn :disabled="sending"
                                           color="success"
                                           class="mr-4"
                                           type="submit">
                                        {{isCreate ? 'Добавить' : 'Сохранить'}} пользователя
                                    </v-btn>
                                </v-row>
                            </v-form>
                        </v-col>
                    </v-row>
                </v-tab-item>
                <v-tab-item v-if="!isCreate" key="profile">
                    <v-row>
                        <v-col cols="12"
                               offset="2"
                               md="8">
                            <v-form v-model="profileFormValid"
                                    @submit="submitProfileForm">

                                <image-field v-model="profile.image" label="Изображение"></image-field>

                                <v-textarea v-model="profile.description"
                                            label="Описание"
                                            name="description"
                                            :rules="[rules.required]"
                                            required></v-textarea>

                                <v-textarea v-model="profile.extra_description"
                                            label="Дополнительное описание"
                                            name="extra_description"
                                            :rules="[rules.required]"
                                            required></v-textarea>

                                <v-text-field v-model="profile.education"
                                              label="Образование"
                                              name="education"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field v-model="profile.languages"
                                              label="Владение языками"
                                              name="languages"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field v-model="profile.phone_number"
                                              label="Номер телефона"
                                              name="phone_number"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field v-model="profile.work_position"
                                              label="Должность"
                                              name="work_position"
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-select :items="documents"
                                          v-model="profile.document_id"
                                          label="Документ"
                                          :item-text="(item) => `[${item.id}] ${item.name}`"
                                          item-value="id"></v-select>

                                <v-card-title>
                                    Специализация:
                                </v-card-title>

                                <array class="mb-5"
                                       namespace="profile_specialisation"
                                       v-model="profile.specialisation"
                                       :components="{text: 'v-text-field'}"
                                       no-items-text="Добавьте пункт"></array>

                                <v-row align="center" justify="space-around" class="mt-5">
                                    <v-btn :disabled="sending"
                                           color="success"
                                           class="mr-4"
                                           type="submit">
                                        {{isCreate ? 'Добавить' : 'Сохранить'}} профиль
                                    </v-btn>
                                </v-row>
                            </v-form>
                        </v-col>
                    </v-row>
                </v-tab-item>
            </v-tabs-items>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {UploadAdapter} from "../../../utils/uploadAdapter";
    import ClassicEditor   from "@alex_hi/ckeditor5-build-abp";
    import {createEntity}  from "../../../api/createEntity";
    import {
        mapState,
        mapActions
    }                      from "vuex";
    import {updateEntity}  from "../../../api/updateEntity";
    import ImageField      from "../common/fields/image";
    import {last}          from "lodash";

    export default {
        name:       "users-form",
        components: {
            ImageField,
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                loading:          true,
                sending:          false,
                showPassword:     false,
                tab:              null,
                tabs:             [
                    {
                        key:  'user',
                        name: 'Пользователь'
                    },
                    {
                        key:  'profile',
                        name: 'Профиль'
                    }
                ],
                formValid:        true,
                profileFormValid: true,
                user:             {},
                profile:          {
                    specialisation: []
                },
                rules:            {
                    required: value => !!value || 'Обязательно'
                },
                editor:           ClassicEditor,
                config:           {
                    image:        {
                        styles:  [
                            'alignLeft', 'alignCenter', 'alignRight'
                        ],
                        toolbar: [
                            'imageStyle:alignLeft',
                            'imageStyle:alignCenter',
                            'imageStyle:alignRight',
                            '|',
                            'imageTextAlternative'
                        ]
                    },
                    extraPlugins: [this.uploader],
                    mediaEmbed:   {previewsInData: true}
                }
            };
        },
        computed:   {
            ...mapState({
                documents: state => state.documents
            }),
            isCreate() {
                return !this.id;
            }
        },
        methods:    {
            ...mapActions([
                'getDocuments'
            ]),
            hasHistory() {
                return window.history.length > 2;
            },
            goBack() {
                if (this.isCreate && this.hasHistory()) {
                    this.$router.go(-1);
                }
                else {
                    this.$router.push('/admin/users/');
                }
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeService();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            submitProfileForm(e) {
                e.preventDefault();

                if (!this.profileFormValid) {
                    this.$notify.error('Не заполнены обязательные поля');
                    return null;
                }

                const profile = {
                    ...this.profile,
                    specialisation: JSON.stringify(this.profile.specialisation)
                };

                this.sending = true;

                updateEntity('profiles', profile)
                    .then(() => {
                        this.$notify.success('Профиль пользователя успешно сохранен!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            storeService() {
                const user = {
                    ...this.user
                };

                this.sending = true;

                if (this.isCreate) {
                    this.createUser(user);
                }
                else {
                    this.updateUser(user);
                }
            },
            createUser(user) {
                createEntity('users', user)
                    .then(({data}) => {
                        this.$notify.success('Пользователь успешно создан!');
                        this.$router.push(`/admin/users/${data.data.id}/edit`);
                        document.location.reload();
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateUser(user) {
                updateEntity('users', user)
                    .then(() => {
                        this.$notify.success('Пользователь успешно сохранен!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            async getUser() {
                await axios.get(`/api/users/${this.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.user = data.data;
                        }
                        this.loading = false;
                    });
            },
            getProfile() {
                axios.get(`/api/profiles/${this.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let profile = data.data;

                            profile.specialisation = JSON.parse(profile.specialisation);

                            this.profile = {...profile};

                            fetch(`/storage/${data.data.image}`)
                                .then(res => res.blob())
                                .then(blob => {
                                    const type = data.data.image.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                    const fileName = last(data.data.image.split(/\s*\/\s*/));

                                    profile.image = new File([blob], fileName, {type});

                                    this.profile = {...profile};
                                });
                        }
                        this.loading = false;
                    });
            },
            uploader(editor) {
                editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                    return new UploadAdapter(loader, 'services');
                };
            }
        },
        mounted() {
            if (!this.isCreate) {
                this.getUser().then(() => {
                    this.getProfile();
                });
            }
            else {
                this.loading = false;
            }

            this.getDocuments();
        }
    };
</script>

<style scoped>

</style>
