<template>
    <v-snackbar v-model="show" top
                :color="color ? color.background : null"
                :multi-line="true"
                :timeout="timeout">
        {{message}}
        <template v-slot:action="{ attrs }">
            <v-btn text :color="color ? color.button : null" @click.native="show = false">Закрыть</v-btn>
        </template>
        <v-progress-linear
            v-model="timeoutProgress"
            class="mt-2"
            :color="color ? color.progressBar : null"
            :active="!!timeout"></v-progress-linear>
    </v-snackbar>
</template>

<script>
    export default {
        name:     'snackbar',
        data() {
            return {
                show:            false,
                message:         '',
                options:         null,
                timeoutProgress: 0,
                interval:        0
            };
        },
        watch:    {
            show(newShow) {
                if (newShow) {
                    this.timeoutProgressStart();
                }
            }
        },
        computed: {
            color() {
                if (!this.options || !this.options.type) {
                    return null;
                }
                switch (this.options.type) {
                    case "error":
                        return {
                            background:  'red',
                            button:      'white',
                            progressBar: 'white'
                        };
                    case "info":
                        return {
                            background:  'primary',
                            button:      'white',
                            progressBar: 'white'
                        };
                    case "warning":
                        return {
                            background:  'amber',
                            button:      'white',
                            progressBar: 'white'
                        };
                    case "success":
                        return {
                            background:  'success',
                            button:      'white',
                            progressBar: 'white'
                        };
                    default:
                        return null;
                }
            },
            timeout() {
                if (!this.options || !this.options.timeout) {
                    return 5000;
                }
                return this.options.timeout;
            }
        },
        methods:  {
            timeoutProgressStart() {
                this.timeoutProgress = 100;
                this.interval = setInterval(() => {
                    if (this.timeoutProgress === 0) {
                        clearInterval(this.interval);
                    }
                    this.timeoutProgress -= (100 / this.timeout) * 100;
                }, 100);
            }
        },
        created:  function () {
            this.$store.watch(state => state.snackbar.message, () => {
                const msg = this.$store.state.snackbar.message;
                if (msg !== '') {
                    this.show = true;
                    this.message = this.$store.state.snackbar.message;
                    this.options = this.$store.state.snackbar.options;
                    this.$store.dispatch('snackbar/setSnack', {message: ''});
                }
            });
        },
        beforeDestroy() {
            clearInterval(this.interval);
        }
    };
</script>
