<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate() ? 'Добавление' : 'Изменение'} видео`"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push('/admin/videos')">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate()"
                                    v-model="video.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="video.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-textarea v-model="video.description"
                                    label="Описание"
                                    auto-grow
                                    required></v-textarea>

                        <v-text-field class="mt-6"
                                      label="Ссылка"
                                      v-model="video.link"
                                      prepend-inner-icon="mdi-link"
                                      placeholder="https://example.com"
                                      hint="Например https://example.com"></v-text-field>


                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate() ? 'Добавить' : 'Сохранить'}} видео
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {createEntity}  from "../../../api/createEntity";
    import ImageField      from "../common/fields/image";
    import {updateEntity}  from "../../../api/updateEntity";

    export default {
        name:       "videos-form",
        components: {
            ImageField,
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                sending:   false,
                formValid: true,
                video:     {},
                rules:     {
                    required: value => !!value || 'Обязательно'
                }
            };
        },
        methods:    {
            hasHistory() {
                return window.history.length > 2;
            },
            isCreate() {
                return !this.id;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeVideo();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeVideo() {
                if (this.isCreate()) {
                    this.createVideo();
                }
                else {
                    this.updateVideo();
                }
            },
            createVideo() {
                this.sending = true;
                createEntity('videos', this.video)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/videos/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateVideo() {
                this.sending = true;
                updateEntity('videos', this.video)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            loadVideo() {
                axios.get(`/api/videos/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.video = data.data;
                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate()) {
                this.loadVideo();
            }
        }
    };
</script>
