<template>
    <services-directions-form></services-directions-form>
</template>

<script>
    import ServicesDirectionsForm from "../../../components/admin/services-directions/form";

    export default {
        name:       "services-directions-create",
        components: {
            ServicesDirectionsForm
        },
        mounted() {
            this.$title.set('Добавление направления услуг');
        }
    };
</script>
