<template>
    <services-directions-form :id="id"></services-directions-form>
</template>

<script>
    import ServicesDirectionsForm from "../../../components/admin/services-directions/form";

    export default {
        name:       "services-directions-edit",
        components: {
            ServicesDirectionsForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Изменение направления услуг');

            this.id = this.$route.params.id;
        }
    };
</script>
