<template>
    <div>
        <v-row>
            <v-col class="d-flex justify-center mb-6">
                <v-img v-if="valueAsString"
                       :max-width="width"
                       align="center"
                       :style="`background-color: ${backgroundColor} ;`"
                       :aspect-ratio="aspectRatio" :src="valueAsString"></v-img>
            </v-col>
        </v-row>
        <v-file-input
            accept="image/*"
            v-model="value"
            :prepend-icon="prependIcon"
            v-bind="$attrs"></v-file-input>
    </div>
</template>

<script>
    export default {
        name:  "image-field",
        props: {
            value:           null,
            prependIcon:     {
                default: 'mdi-camera'
            },
            width:           {
                default: 840
            },
            aspectRatio:     {
                default: 16 / 9
            },
            backgroundColor: {
                default: "#fff"
            }
        },
        data() {
            return {
                valueAsString: null
            };
        },
        watch: {
            value: {
                immediate: true,
                handler(imageFile) {
                    if (!imageFile || !(imageFile instanceof Blob)) {
                        this.valueAsString = null;
                        return null;
                    }

                    const reader = new FileReader();

                    reader.onload = (e) => {
                        this.valueAsString = e.target.result;
                    };

                    reader.readAsDataURL(imageFile);
                    this.$emit('input', imageFile);
                    this.$emit('change', imageFile);
                }
            }
        }
    };
</script>

<style scoped>

</style>
