<template>
    <clients-form></clients-form>
</template>

<script>
    import ClientsForm  from "../../../components/admin/clients/form";

    export default {
        name:       "clients-create",
        components: {
            ClientsForm
        },
        mounted() {
            this.$title.set('Добавление клиента');
        }
    };
</script>
