<template>
    <clients-form :id="id"></clients-form>
</template>

<script>
    import ClientsForm from "../../../components/admin/clients/form";

    export default {
        name:       "clients-edit",
        components: {
            ClientsForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование клиента');
            this.id = this.$route.params.id;
        }
    };
</script>

