<template>
    <items-list title="Клиенты"
                add-button-text="Добавить клиента"
                admin-link="/admin/clients"
                api-link="/api/clients"
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";

    export default {
        name:       "clients-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Название',
                        value: 'name'
                    },
                    {
                        text:  'Ссылка',
                        value: 'link'
                    },
                    {
                        text:  'Описание',
                        value: 'description'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Клиенты')
        }
    };
</script>
