<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate() ? 'Добавление' : 'Изменение'} докумета`"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push('/admin/documents')">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">
                        <v-text-field v-model="document.name"
                                      label="Название"
                                      name="name"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-file-input v-model="document.file"
                                      label="Файл"
                                      prepend-icon="mdi-file-document"></v-file-input>

                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate() ? 'Добавить' : 'Сохранить'}} документ
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {createEntity}  from "../../../api/createEntity";
    import {updateEntity}  from "../../../api/updateEntity";
    import {last}          from "lodash";

    export default {
        name:       "documents-form",
        components: {
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                sending:   false,
                formValid: true,
                document:  {},
                rules:     {
                    required: value => !!value || 'Обязательно'
                }
            };
        },
        methods:    {
            hasHistory() {
                return window.history.length > 2;
            },
            isCreate() {
                return !this.id;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeClient();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeClient() {
                if (this.isCreate()) {
                    this.createDocument();
                }
                else {
                    this.updateDocument();
                }
            },
            createDocument() {
                this.sending = true;
                createEntity('documents', this.document)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/documents/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateDocument() {
                this.sending = true;
                updateEntity('documents', this.document)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            loadDocument() {
                axios.get(`/api/documents/${this.$route.params.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            let document = data.data;
                            fetch(`/storage/${data.data.file}`)
                                .then(res => res.blob())
                                .then(blob => {
                                    const fileName = last(data.data.file.split(/\s*\/\s*/));
                                    document.file = new File([blob], fileName);

                                    this.document = {...document};
                                });

                        }
                    });
            }
        },
        mounted() {
            if (!this.isCreate()) {
                this.loadDocument();
            }
        }
    };
</script>
