<template>
    <videos-form></videos-form>
</template>

<script>
    import VideosForm  from "../../../components/admin/videos/form";

    export default {
        name:       "videos-create",
        components: {
            VideosForm,
        },
        mounted() {
            this.$title.set('Добавление видео');
        }
    };
</script>
