<template>
    <videos-form :id="id"></videos-form>
</template>

<script>
    import VideosForm  from "../../../components/admin/videos/form";

    export default {
        name:       "videos-edit",
        components: {
            VideosForm,
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование видео');
            this.id = this.$route.params.id;
        }
    };
</script>

