<template>
    <social-medias-form></social-medias-form>
</template>

<script>
    import SocialMediasForm from "../../../components/admin/social-medias/form";

    export default {
        name:       "social-medias-create",
        components: {
            SocialMediasForm,
        },
        mounted() {
            this.$title.set('Создание ссылки на социальную сеть');
        }
    };
</script>
