<template>
    <social-medias-form :id="id"></social-medias-form>
</template>

<script>
    import SocialMediasForm from "../../../components/admin/social-medias/form";

    export default {
        name:       "social-medias-edit",
        components: {
            SocialMediasForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование ссылки на социальную сеть');
            this.id = this.$route.params.id;
        }
    };
</script>

<style scoped>

</style>
