<template>
    <items-list title="Ссылки на социальные сети"
                add-button-text="Добавить ссылку на социальную сеть"
                admin-link="/admin/social-medias"
                api-link="/api/social-medias"
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";
    export default {
        name:    "social-medias-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Название',
                        value: 'name'
                    },
                    {
                        text:  'Ссылка',
                        value: 'link'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            }
        },
        mounted() {
            this.$title.set('Ссылки на социальные сети')
        }
    };
</script>
