<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <v-card-title>
            <v-toolbar flat>
                <v-btn @click="hasHistory() ? $router.go(-1) : $router.push('/admin/form-requests')" icon>
                    <v-icon>
                        mdi-arrow-left
                    </v-icon>
                </v-btn>
                <v-toolbar-title class="font-weight-light">
                    Заявка
                </v-toolbar-title>
            </v-toolbar>
        </v-card-title>

        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-row class="mb-4 mt-4">
                        <div class="mx-auto">
                            <b class="mr-4">Дата создания:</b>
                            {{formRequest.created_at}}
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4">
                        <div class="mx-auto">
                            <b class="mr-4">Форма:</b>
                            {{formRequest.form_name}}
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4">
                        <div class="mx-auto">
                            <b class="mr-4">Имя:</b>
                            {{formRequest.name}}
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4">
                        <div class="mx-auto">
                            <b class="mr-4">Номер телефона:</b>
                            {{formRequest.phone_number}}
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4">
                        <div class="mx-auto">
                            <b class="mr-4">E-mail:</b>
                            {{formRequest.email}}
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4" v-if="formRequest.thing_url && formRequest.thing_name">
                        <div class="mx-auto">
                            <b class="mr-4">По поводу:</b>
                            <a :href="formRequest.thing_url" target="_blank">{{formRequest.thing_name}}</a>
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4">
                        <div class="mx-auto">
                            <b class="mr-4">Сообщение:</b>
                        </div>
                    </v-row>
                    <v-row class="mb-4 mt-4">
                        <v-card width="80%" min-height="200px" flat outlined class="mx-auto">
                            <p class="ma-4">
                                {{formRequest.message}}
                            </p>
                        </v-card>
                    </v-row>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name:    "form-requests-card",
        props:   {
            id: {}
        },
        data() {
            return {
                loading:     true,
                formRequest: null
            };
        },
        methods: {
            hasHistory() {
                return window.history.length > 2;
            },
            loadFormRequest() {
                axios.get(`/api/form-requests/${this.id}`)
                    .then(response => {
                        if (response.data.status === 'success') {
                            this.formRequest = response.data.data;
                        }
                    });
            }
        },
        mounted() {
            this.loadFormRequest();
        }
    };
</script>

<style scoped>

</style>
