<template>
    <div class="array" v-bind="$attrs">
        <v-scroll-y-reverse-transition group>
            <div class="item"
                 v-for="(item, index) in state.value"
                 :key="'item-' + index">

                <component v-for="fieldName in Object.keys(item)"
                           class="item-field"
                           :is="components[fieldName]"
                           :key="fieldName"
                           v-model="item[fieldName].value"
                           v-bind="item[fieldName].attrs"></component>

                <v-btn @click="removeItem(index)" icon>
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </div>
        </v-scroll-y-reverse-transition>

        <div v-if="state.value.length === 0" class="array-no-items">
            {{noItemsText}}
        </div>

        <v-btn @click="addItem" color="primary" :disabled="!canAddMore">{{addButtonText}}</v-btn>
    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    }                   from "vuex";
    import {VTextField} from 'vuetify/lib';
    import {isEqual}    from 'lodash';

    const component = {
        name:       "array",
        components: {VTextField},
        props:      {
            maxItems:      {
                default: null
            },
            noItemsText:   {},
            addButtonText: {
                default: 'Добавить'
            },
            value:         {},
            components:    {},
            namespace:     {
                type: String
            }
        },
        watch:      {
            value:         {
                immediate: true,
                handler(next) {
                    if (next && !isEqual(next, this.itemsToValues(this.state.value))) {
                        this.reset(this.valuesToItems(next));
                    }
                }
            },
            'state.value': {
                deep: true,
                handler(newValue) {
                    this.$emit('input', this.itemsToValues(newValue));
                }
            }
        },
        computed:   {
            ...mapState({
                state(state) {
                    return state[this.namespace];
                }
            }),
            canAddMore() {
                if (this.maxItems && this.state.value.length >= this.maxItems) {
                    return false;
                }

                return true;
            }
        },
        methods:    {
            ...mapActions({
                add(dispatch, payload) {
                    return dispatch(this.namespace + '/add', payload);
                },
                removeByIndex(dispatch, payload) {
                    return dispatch(this.namespace + '/removeByIndex', payload);
                },
                reset(dispatch, payload) {
                    return dispatch(this.namespace + '/reset', payload);
                }
            }),
            addItem() {
                this.add({});
            },
            removeItem(index) {
                this.removeByIndex(index);
            },
            valuesToItems(values) {
                return values?.map(item => {
                    return Object.entries(item).reduce(
                        (acc, [key, value]) => {
                            acc[key] = {value};
                            return acc;
                        }, {}
                    );
                });
            },
            itemsToValues(items) {
                return items?.map(item => {
                    return Object.entries(item).reduce(
                        (acc, [key, item]) => {
                            acc[key] = item.value;
                            return acc;
                        }, {}
                    );
                });
            }
        },
        beforeDestroy() {
            this.state.value = [];
        }
    };

    export default component;
</script>

<style scoped>
    .array {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .item-field {
        flex: 1 1 auto;
        margin-right: 10px;
    }

    .array-no-items {
        margin-bottom: 32px;
        text-align: center;
        font-size: 18px;
    }
</style>
