<template>
    <services-categories-form></services-categories-form>
</template>

<script>
    import ServicesCategoriesForm from "../../../../components/admin/services-categories/form";

    export default {
        name:       "services-category-create",
        components: {
            ServicesCategoriesForm
        },
        mounted() {
            this.$title.set('Добавление категории услуг');
        }
    };
</script>
