<template>
    <services-categories-form :id="id"></services-categories-form>
</template>

<script>
    import ServicesCategoriesForm from "../../../../components/admin/services-categories/form";

    export default {
        name:       "services-category-edit",
        components: {
            ServicesCategoriesForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Изменение категории услуг');
            this.id = this.$route.params.id;
        }
    };
</script>
