<template>
    <services-categories-list></services-categories-list>
</template>

<script>
    import ServicesCategoriesList from "../../../../components/admin/services-categories/categories-list";

    export default {
        name:       "services-categories-index",
        components: {
            ServicesCategoriesList
        },
        mounted() {
            this.$title.set('Категории услуг');
        }
    };
</script>
