<template>
    <v-container>
        <v-row>
            <v-col>
                <v-card to="/admin/services/categories">
                    <v-card-title>
                        <v-icon large left>mdi-beaker</v-icon>
                        <span class="font-weight-light">Услуги</span>
                    </v-card-title>
                    <v-card-text>
                        {{servicesCount}}
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card to="/admin/news/">
                    <v-card-title>
                        <v-icon large left>mdi-newspaper-variant</v-icon>
                        <span class="font-weight-light">Новости</span>
                    </v-card-title>
                    <v-card-text>
                        {{newsCount}}
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card to="/admin/articles/">
                    <v-card-title>
                        <v-icon large left>mdi-post</v-icon>
                        <span class="font-weight-light">Статьи</span>
                    </v-card-title>
                    <v-card-text>
                        {{articlesCount}}
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card to="/admin/projects/categories">
                    <v-card-title>
                        <v-icon large left>mdi-briefcase</v-icon>
                        <span class="font-weight-light">Проекты</span>
                    </v-card-title>
                    <v-card-text>
                        {{projectsCount}}
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="6">
                <v-card>
                    <v-card-title>
                        <v-icon large left>mdi-mailbox</v-icon>
                        <span class="font-weight-light">Последние заявки</span>
                        <v-spacer></v-spacer>

                        <v-btn to="/admin/form-requests/"
                               color="primary"
                               dark
                               class="mb-2">
                            Все заявки
                        </v-btn>
                    </v-card-title>
                    <v-card-text>
                        <v-simple-table v-if="formRequests && formRequests.length" fixed-header>
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <th class="text-left">
                                        Форма
                                    </th>
                                    <th class="text-left">
                                        Имя
                                    </th>
                                    <th class="text-left">
                                        Email
                                    </th>
                                    <th class="text-left">
                                        Номер телефона
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in formRequests"
                                    class="pointer"
                                    @click="openFormRequest(item.id)"
                                    :key="item.id">
                                    <td>{{ item.form_name }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phone_number }}</td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                        <template v-else>
                            На данный момент заявок нет.
                        </template>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name:     "dashboard-index",
        data() {
            return {
                services:     [],
                news:         [],
                articles:     [],
                projects:     [],
                formRequests: []
            };
        },
        computed: {
            servicesCount() {
                return this.services?.length;
            },
            newsCount() {
                return this.news?.length;
            },
            articlesCount() {
                return this.articles?.length;
            },
            projectsCount() {
                return this.projects?.length;
            }
        },
        methods:  {
            async getServices() {
                await axios.get('/api/services/')
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.services = data.data;
                        }
                    });
            },
            async getNews() {
                await axios.get('/api/news/')
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.news = data.data;
                        }
                    });
            },
            async getArticles() {
                await axios.get('/api/articles/')
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.articles = data.data;
                        }
                    });
            },
            async getProjects() {
                await axios.get('/api/projects/')
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.projects = data.data;
                        }
                    });
            },
            async getFormRequests() {
                await axios.get('/api/form-requests/?count=10')
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.formRequests = data.data;
                        }
                    });
            },
            openFormRequest(id) {
                this.$router.push(`/admin/form-requests/${id}`);
            }
        },
        mounted() {
            this.getServices();
            this.getNews();
            this.getArticles();
            this.getProjects();
            this.getFormRequests();
        }
    };
</script>

<style scoped>

</style>
