<template>
    <users-form></users-form>
</template>

<script>
    import UsersForm    from "../../../components/admin/users/form";

    export default {
        name:       "users-create",
        components: {
            UsersForm,
        },
        mounted() {
            this.$title.set('Добавление пользователя');
        }
    };
</script>
