<template>
    <users-form :id="id"></users-form>
</template>

<script>
    import UsersForm    from "../../../components/admin/users/form";

    export default {
        name:       "users-edit",
        components: {
            UsersForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование пользователя');
            this.id = this.$route.params.id;
        }
    };
</script>

