<template>
    <items-list title="Пользователи"
                add-button-text="Добавить пользователя"
                admin-link="/admin/users"
                api-link="/api/users"
                :headers="headers"
    ></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";

    export default {
        name:       "users-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'E-mail',
                        value: 'user_email'
                    },
                    {
                        text:  'Имя',
                        value: 'name'
                    },
                    {
                        text:  'Фамилия',
                        value: 'last_name'
                    },

                    {
                        text:  'Телефон',
                        value: 'profile.phone_number'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Пользователи');
        }
    };
</script>

<style scoped>
    .md-field {
        max-width: 300px;
    }
</style>
