<template>
    <reviews-form></reviews-form>
</template>

<script>
    import ReviewsForm from "../../../components/admin/reviews/form";
    export default {
        name:    "reviews-create",
        components: {
            ReviewsForm,
        },
        mounted() {
            this.$title.set('Добавление отзыва');
        }
    };
</script>
