<template>
    <reviews-form :id="id"></reviews-form>
</template>

<script>
    import ReviewsForm from "../../../components/admin/reviews/form";

    export default {
        name:       "reviews-edit",
        components: {
            ReviewsForm
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Редактирование отзыва');
            this.id = this.$route.params.id;
        }
    };
</script>
