<template>
    <items-list title="Отзывы"
                add-button-text="Добавить отзыв"
                admin-link="/admin/reviews"
                api-link="/api/reviews"
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";
    export default {
        name:    "reviews-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Название',
                        value: 'name'
                    },
                    {
                        text:  'Должность',
                        value: 'work_position'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            }
        },
        mounted() {
            this.$title.set('Отзывы');
        }
    };
</script>
