<template>
    <v-card class="mx-auto text-center"
            min-width="450"
            max-width="480"
            justify-center
            elevation="3">
        <v-card-title class="justify-center">
            Добро пожаловать!
        </v-card-title>
        <v-card-subtitle>
            Пожалуйста, войдите в свой аккаунт.
        </v-card-subtitle>
        <v-card-text>
            <v-form @submit="valid && login($event)"
                    @keyup.native.enter="valid && login($event)"
                    v-model="valid">
                <v-text-field
                    class="mr-3 ml-3"
                    v-model="username"
                    label="Email"
                    :rules="[rules.required, rules.emailRules]"
                    outlined
                    type="login"
                    required></v-text-field>

                <v-text-field
                    class="mr-3 ml-3"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="showPassword ? 'text' : 'password'"
                    label="Пароль"
                    counter
                    outlined
                    v-model="password"
                    @click:append="showPassword = !showPassword"></v-text-field>

                <v-btn @click="valid && login($event)" color="primary">Войти</v-btn>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import {
        mapActions,
        mapGetters
    } from "vuex";

    export default {
        name:     "admin-login",
        data() {
            return {
                username:     '',
                password:     '',
                valid:        true,
                showPassword: false,
                rules:        {
                    required:   value => !!value || 'Обязательно',
                    min:        v => v.length >= 8 || 'Минимум 8 символов',
                    emailRules: v => /.+@.+\..+/.test(v) || 'Некорректный E-mail'
                }
            };
        },
        computed: {
            ...mapGetters([
                'backUrl'
            ])
        },
        methods:  {
            ...mapActions(['getUserInfo']),
            login() {
                axios.post('/api/login', {
                        username: this.username,
                        password: this.password
                    })
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.$notify.info('Добро пожаловать!');
                            this.getUserInfo();
                            this.$router.push(this.backUrl && this.backUrl.trim() !== '' ? this.backUrl : '/admin/');
                        }
                        else if (data.desc) {
                            this.$notify.error(data.desc);
                        }
                    });
            }
        },
        mounted() {
            this.$title.set('Авторизация');
        }
    };
</script>

<style scoped>

</style>
