<template>
    <dashboard-index></dashboard-index>
</template>

<script>
    import DashboardIndex from "../../components/admin/dashboard/index";

    export default {
        name:       "index",
        components: {DashboardIndex},
        mounted() {
            this.$title.set('Главная');
        }
    };
</script>
