<template>
    <div class="NotFound">

        <v-flex xs12>
            <v-card class="mx-auto"
                    max-width="40%"
                    height="400"
                    color="transparent"
                    flat>
                <div class="display-3 mt-5">404: Страница не найдена.</div>
                <div class="grey--text lighten-5 mt-3">
                    Страница, которую вы пытаетесь открыть не существует.
                </div>
                <div class="paragraph-text mt-2">
                    <br/>
                    <br/>
                    Попробуйте перейти на главную страницу или выберите пункт в меню слева.
                    <v-row class="mt-5" align="center" justify="space-around">
                        <v-btn to="/admin/" color="primary">
                            Перейти на главную
                        </v-btn>
                    </v-row>
                </div>
            </v-card>
        </v-flex>

    </div>
</template>

<script>
    export default {
        name: "not-found",
        mounted() {
            this.$title.set('404')
        }
    };
</script>
