<template>
    <v-card>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <array namespace="test"
                           v-model="testValue"
                           :components="{text: 'v-text-field', icon: 'v-text-field', age: 'v-text-field'}"
                           no-items-text="Нету ничего"></array>

                    <pre>
                        {{JSON.stringify(testValue, null, 2)}}
                    </pre>

                    <v-btn @click="test">TEST</v-btn>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import Array from "../../components/admin/common/controlls/array";

    export default {
        name:       "test",
        components: {
            Array
        },
        data() {
            return {
                testValue: null
            };
        },
        methods: {
            test() {
                this.testValue = [
                    {
                        text: 'foo',
                        icon:  '123',
                        age: 122
                    },
                    {
                        text: 'foo123',
                        icon:  'bar',
                    },
                ]
            }
        },
        mounted() {
            this.$title.set('Эксперименты')
        }
    };
</script>

<style scoped>

</style>
