<template>
    <items-list title="Страницы"
                add-button-text="Добавить страницу"
                admin-link="/admin/pages"
                api-link="/api/pages"
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";

    export default {
        name:       "pages-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Заголовок',
                        value: 'title'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Страницы');
        }
    };
</script>
