<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar :title="`${isCreate ? 'Добавление' : 'Редактирование'} проекта`"
                           @onBack="goBack">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">

                        <v-checkbox v-if="!isCreate"
                                    v-model="project.active"
                                    label="Активность"
                                    name="active"></v-checkbox>

                        <v-text-field v-model="project.title"
                                      label="Название"
                                      name="title"
                                      :rules="[rules.required]"
                                      required></v-text-field>

                        <v-select :items="projectsCategories"
                                  v-model="project.projects_category_id"
                                  :rules="[rules.required]"
                                  label="Категория"
                                  item-text="name"
                                  item-value="id"></v-select>

                        <v-select :items="clients"
                                  v-model="project.client_id"
                                  :rules="[rules.required]"
                                  label="Клиент"
                                  item-text="name"
                                  item-value="id"></v-select>

                        <v-select :items="users"
                                  v-model="project.user_id"
                                  :rules="[rules.required]"
                                  label="Ответственный"
                                  :item-text="(item) => `${item.name} ${item.last_name} [${item.email}]`"
                                  item-value="id"></v-select>


                        <v-textarea v-model="project.description"
                                    label="Описание"
                                    name="description"
                                    :rules="[rules.required]"
                                    required></v-textarea>

                        <ckeditor :editor="editor" v-model="project.text" :config="config"></ckeditor>

                        <v-row align="center" justify="space-around" class="mt-5">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                {{isCreate ? 'Добавить' : 'Сохранить'}} проект
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../common/post-form/post-form-toolbar";
    import Array           from "../common/controlls/array";
    import {UploadAdapter} from "../../../utils/uploadAdapter";
    import ClassicEditor   from "@alex_hi/ckeditor5-build-abp";
    import {createEntity}  from "../../../api/createEntity";
    import {
        mapState,
        mapActions
    }                      from "vuex";
    import {updateEntity}  from "../../../api/updateEntity";

    export default {
        name:       "projects-form",
        components: {
            PostFormToolbar,
            Array
        },
        props:      [
            'id'
        ],
        data() {
            return {
                loading:   true,
                sending:   false,
                formValid: true,
                project:   {},
                rules:     {
                    required: value => !!value || 'Обязательно'
                },
                editor:    ClassicEditor,
                config:    {
                    image:        {
                        styles:  [
                            'alignLeft', 'alignCenter', 'alignRight'
                        ],
                        toolbar: [
                            'imageStyle:alignLeft',
                            'imageStyle:alignCenter',
                            'imageStyle:alignRight',
                            '|',
                            'imageTextAlternative'
                        ]
                    },
                    extraPlugins: [this.uploader],
                    mediaEmbed:   {previewsInData: true}
                }
            };
        },
        computed:   {
            ...mapState({
                clients:              state => state.clients,
                users:                state => state.users,
                projectsCategories:   state => state.projectsCategories,
                lastProjectsCategory: state => state.lastProjectsCategory
            }),
            isCreate() {
                return !this.id;
            }
        },
        methods:    {
            ...mapActions([
                'getProjectsCategories',
                'getClients',
                'getUsers'
            ]),
            hasHistory() {
                return window.history.length > 2;
            },
            goBack() {
                if (this.isCreate && this.hasHistory()) {
                    this.$router.go(-1);
                }
                else if (this.project.projects_category_id) {
                    this.$router.push(`/admin/projects/category/${this.project.projects_category_id}`);
                }
                else {
                    this.$router.push('/admin/projects/categories/');
                }
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeService();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            storeService() {
                const project = {
                    ...this.project
                };

                this.sending = true;

                if (this.isCreate) {
                    this.createProject(project);
                }
                else {
                    this.updateProject(project);
                }
            },
            createProject(service) {
                createEntity('projects', service)
                    .then(({data}) => {
                        this.$notify.success('Успешно создано!');
                        this.$router.push(`/admin/projects/${data.data.id}/edit`);
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            updateProject(service) {
                updateEntity('projects', service)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            },
            getProject() {
                axios.get(`/api/projects/${this.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.project = data.data;
                        }
                        this.loading = false;
                    });
            },
            uploader(editor) {
                editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                    return new UploadAdapter(loader, 'services');
                };
            }
        },
        mounted() {
            if (!this.isCreate) {
                this.getProject();
            }
            else {
                this.loading = false;
            }

            this.getClients();
            this.getUsers();

            if (!this.projectsCategories || !this.projectsCategories.length) {
                this.getProjectsCategories();
            }
            if (this.lastProjectsCategory) {
                Vue.set(this.project, 'projects_category_id', this.lastProjectsCategory.id);
            }
        }
    };
</script>

<style scoped>

</style>
