<template>
    <div>
        <v-card>
            <v-card-title>
                <v-btn to="/admin/projects/categories/" icon class="mr-6">
                    <v-icon>
                        mdi-arrow-left
                    </v-icon>
                </v-btn>

                <v-toolbar-title>
                    Проекты в категории {{lastProjectsCategory ? `"${lastProjectsCategory.name}"` : ''}}
                </v-toolbar-title>

                <v-btn icon
                       :disabled="loader"
                       class="ml-3"
                       @click="loadItems()">
                    <v-icon>
                        mdi-reload
                    </v-icon>
                </v-btn>

                <v-spacer></v-spacer>

                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Поиск"
                    single-line
                    hide-details></v-text-field>

                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    to="/admin/projects/create">
                    Добавить проект
                </v-btn>
            </v-card-title>
            <v-data-table :headers="headers"
                          :items="items"
                          :loading="loader"
                          :search="search"
                          sort-by="sort"
                          sort-desc
                          :items-per-page="50"
                          loading-text="Загрузка..."
                          :footer-props="tableFooterProps">
                <template v-slot:no-data>
                    <div class="body-2 mb-4 mt-4">
                        Пока нет ни одного проекта в этой категории. Добавьте новую.
                    </div>
                    <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        to="/admin/projects/create">
                        Добавить проект
                    </v-btn>
                </template>
                <template v-slot:no-results>
                    <div class="body-2 mb-4 mt-4">
                        По данному запросу ничего не найдено. Попробуйте изменить поисковый запрос.
                    </div>
                </template>
                <template v-slot:item.active="{ item }">
                    {{item.active ? 'Да' : 'Нет'}}
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-btn icon
                           :to="`/admin/projects/${item.id}/edit`">
                        <v-icon small>
                            mdi-pencil
                        </v-icon>
                    </v-btn>

                    <v-btn @click="showDeleteModal(item.id)"
                           icon>
                        <v-icon
                            small>
                            mdi-delete
                        </v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>
        <v-row justify="center">
            <v-dialog
                v-model="deleteDialog"
                max-width="290">
                <v-card>
                    <v-card-title class="headline">
                        Подтвердите действие
                    </v-card-title>
                    <v-card-text>
                        Вы действительно хотите удалить элемент? Это действие не обратимо.

                    </v-card-text>
                    <v-progress-linear
                        v-if="deleting"
                        indeterminate
                        color="primary"
                        class="mb-0"
                    ></v-progress-linear>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="green darken-1"
                            text
                            @click="deleteDialog = false"
                        >
                            Отмена
                        </v-btn>
                        <v-btn
                            color="red darkred-1"
                            text
                            @click="deleteItem">
                            Удалить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    }                     from "vuex";
    import {deleteEntity} from "../../../api/deleteEntity";

    export default {
        name:     "projects-list",
        props:    [
            'categoryId'
        ],
        data() {
            return {
                items:            [],
                loader:           true,
                search:           null,
                deleteDialog:     false,
                deleteItemId:     0,
                deleting:         false,
                headers:          [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Активность',
                        value: 'active'
                    },
                    {
                        text:  'Название',
                        value: 'title'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ],
                tableFooterProps: {
                    'items-per-page-all-text': 'Все',
                    'items-per-page-text':     'Элементов на страницу:',
                    'items-per-page-options':  [-1, 10, 20, 50],
                    'page-text':               '{0}-{1} из {2}'
                }
            };
        },
        computed: {
            ...mapState({
                lastProjectsCategory: state => state.lastProjectsCategory
            })
        },
        methods:  {
            ...mapActions([
                'getLastProjectsCategory'
            ]),
            showDeleteModal(id) {
                this.deleteDialog = !this.deleteDialog;
                this.deleteItemId = id;
            },
            deleteItem() {
                this.deleting = true;
                deleteEntity('/api/projects', this.deleteItemId)
                    .then(() => this.$notify.success('Успешно удалено!'))
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.deleting = false;
                        this.deleteDialog = false;
                        this.loadItems();
                    });
            },
            loadItems() {
                this.loader = true;
                axios.get('/api/projects/', {params: {category_id: this.categoryId}})
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.items = data.data;
                            this.loader = false;
                        }
                    });
            }
        },
        mounted() {
            this.loadItems();

            if (!this.lastServicesCategory) {
                this.getLastProjectsCategory({id: this.categoryId});
            }
        }
    };
</script>
