<template>
    <v-app>
        <slot name="top"></slot>
        <v-main>
            <v-container fluid fill-height>
                <v-layout flex align-center justify-center>
                    {{backUrl}}
                    <slot></slot>
                </v-layout>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name:       'admin-layout',
        props:      [
            'user',
            'backUrl'
        ]
    };
</script>

<style lang="scss" scoped>

</style>
