<template>
    <v-card elevation="2" max-width="80%" class="mx-auto">
        <post-form-toolbar title="Редактирование сайта"
                           @onBack="hasHistory() ? $router.go(-1) : $router.push(backLink)"
                           view-link="/contacts">
        </post-form-toolbar>
        <v-card-text>
            <v-row>
                <v-col cols="12"
                       offset="1"
                       md="11">
                    <v-tabs v-model="tab">
                        <v-tab
                            v-for="tab in tabs"
                            :key="tab.key">
                            {{ tab.name }}
                        </v-tab>
                    </v-tabs>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12"
                       offset="2"
                       md="8">
                    <v-form v-model="formValid"
                            @submit="submitForm">
                        <v-tabs-items v-model="tab" class="pt-5">
                            <v-tab-item key="main">
                                <v-text-field v-model="siteInfo.name"
                                              label="Название"
                                              auto-grow
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-select :items="users"
                                          v-model="siteInfo.contact_user_id"
                                          label="Пользователь в контактах"
                                          :item-text="(item) => `${item.name} ${item.last_name} [${item.email}]`"
                                          :rules="[rules.required]"
                                          item-value="id"></v-select>


                                <v-text-field v-model="siteInfo.address"
                                              label="Адрес"
                                              auto-grow
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field v-model="siteInfo.email"
                                              label="E-mail"
                                              auto-grow
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-text-field
                                    label="Номер телефона"
                                    v-model="siteInfo.phone_number"
                                    :rules="[rules.required]"
                                    prepend-inner-icon="mdi-phone"
                                    placeholder="+ 7 (999) 999-99-99"></v-text-field>

                                <v-text-field
                                    label="Время работы"
                                    :rules="[rules.required]"
                                    v-model="siteInfo.work_time"
                                    prepend-inner-icon="mdi-clock"></v-text-field>
                            </v-tab-item>
                            <v-tab-item key="ways">
                                <v-text-field v-model="siteInfo.driveway_title"
                                              label="Заголовок для описания проезда"
                                              auto-grow
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-textarea v-model="siteInfo.driveway_description"
                                            label="Описание проезда"
                                            auto-grow
                                            :rules="[rules.required]"
                                            required></v-textarea>

                                <v-text-field v-model="siteInfo.passageway_title"
                                              label="Заголовок для описания пешего пути"
                                              auto-grow
                                              :rules="[rules.required]"
                                              required></v-text-field>

                                <v-textarea v-model="siteInfo.passageway_description"
                                            label="Описание пешего пути"
                                            auto-grow
                                            :rules="[rules.required]"
                                            required></v-textarea>
                            </v-tab-item>
                            <v-tab-item key="map">
                                <image-field v-model="siteInfo.map_logo"
                                             :aspect-ratio="1/1"
                                             width="100px"
                                             label="Логотип на карте"></image-field>
                                <v-row>
                                    <v-col cols="6">
                                        <v-text-field v-model="siteInfo.map_longitude"
                                                      label="Широта"
                                                      auto-grow
                                                      required></v-text-field>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field v-model="siteInfo.map_latitude"
                                                      label="Долгота"
                                                      auto-grow
                                                      required></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-tab-item>
                            <v-tab-item key="documents">
                                <v-select :items="documents"
                                          v-model="siteInfo.contact_document_id"
                                          label="Документ в контактах"
                                          :item-text="(item) => `[${item.id}] ${item.name}`"
                                          :rules="[rules.required]"
                                          item-value="id"></v-select>

                                <v-select :items="documents"
                                          v-model="siteInfo.pdpp_document_id"
                                          label="Файл политики обработки персональных данных"
                                          :item-text="(item) => `[${item.id}] ${item.name}`"
                                          :rules="[rules.required]"
                                          item-value="id"></v-select>

                                <v-select :items="documents"
                                          v-model="siteInfo.eula_document_id"
                                          label="Файл пользовательского соглашения"
                                          :item-text="(item) => `[${item.id}] ${item.name}`"
                                          :rules="[rules.required]"
                                          item-value="id"></v-select>
                            </v-tab-item>
                            <v-tab-item key="images">
                                <image-field v-model="siteInfo.header_logo" background-color="#666"
                                             label="Логотип в заголовке"></image-field>
                                <image-field v-model="siteInfo.footer_logo" background-color="#666"
                                             label="Логотип в футере"></image-field>
                                <image-field v-model="siteInfo.passageway_image"
                                             label="Изображение пешего пути"></image-field>
                                <image-field v-model="siteInfo.trust_clients_image"
                                             label="Изображение клиентов на главной странице"></image-field>
                            </v-tab-item>
                            <v-tab-item key="scripts">
                                <v-textarea v-model="siteInfo.script_head"
                                            label="Скрипты в <head>"
                                            auto-grow></v-textarea>
                                <v-textarea v-model="siteInfo.script_before_body"
                                            label="Скрипты в начале <body>"
                                            auto-grow></v-textarea>
                                <v-textarea v-model="siteInfo.script_after_body"
                                            label="Скрипты перед </body>"
                                            auto-grow></v-textarea>
                            </v-tab-item>
                            <v-tab-item key="meta">
                                <v-textarea v-model="siteInfo.meta_description"
                                            label="Описание (meta-description)"
                                            auto-grow></v-textarea>
                                <v-textarea v-model="siteInfo.meta_keywords"
                                            label="Ключевые слова (meta-keywords)"
                                            hint="Слова или фразы через запятую"
                                            auto-grow></v-textarea>
                            </v-tab-item>
                        </v-tabs-items>
                        <v-row align="center" justify="space-around">
                            <v-btn
                                color="success"
                                class="mr-4"
                                type="submit">
                                Сохранить
                            </v-btn>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import PostFormToolbar from "../post-form/post-form-toolbar";
    import ImageField      from "../fields/image";
    import {
        mapState,
        mapActions
    }                      from "vuex";
    import {last}          from "lodash";
    import {updateEntity}  from "../../../../api/updateEntity";

    export default {
        name:       "site-info-form",
        components: {
            ImageField,
            PostFormToolbar
        },
        props:      {
            id: {
                default: null
            }
        },
        data() {
            return {
                sending:   false,
                formValid: true,
                rules:     {
                    required: value => !!value || 'Обязательно'
                },
                siteInfo:  {},
                tab:       null,
                tabs:      [
                    {
                        key:  'main',
                        name: 'Основное'
                    },
                    {
                        key:  'ways',
                        name: 'Описания проезда'
                    },
                    {
                        key:  'map',
                        name: 'Карта'
                    },
                    {
                        key:  'documents',
                        name: 'Документы'
                    },
                    {
                        key:  'images',
                        name: 'Изображения'
                    },
                    {
                        key:  'scripts',
                        name: 'Скрипты'
                    },
                    {
                        key:  'meta',
                        name: 'Мета-информация'
                    }
                ]
            };
        },
        computed:   {
            ...mapState({
                documents: state => state.documents,
                users:     state => state.users
            }),
            backLink() {
                return '/admin/site-info/';
            },
            isCreate() {
                return !this.id;
            }
        },
        methods:    {
            ...mapActions([
                'getUsers',
                'getDocuments'
            ]),
            hasHistory() {
                return window.history.length > 2;
            },
            submitForm(e) {
                e.preventDefault();
                if (this.formValid) {
                    this.storeSiteInfo();
                }
                else {
                    this.$notify.error('Не заполнены обязательные поля');
                }
            },
            loadSiteInfo() {
                axios.get(`/api/site-info/${this.id}`)
                    .then(({data}) => {
                        if (data.status === 'success') {
                            this.siteInfo = data.data;

                            let siteInfo = data.data;

                            const imagesLoaded = new Promise(() => {
                                Object.keys(siteInfo).map((key) => {
                                    const value = siteInfo[key];
                                    if (typeof value === 'string' && value.includes('site_info')) {
                                        fetch(`/storage/${value}`)
                                            .then(res => res.blob())
                                            .then(blob => {
                                                const type = value.includes('svg') ? "image/svg+xml;charset=utf-8" : '';
                                                const fileName = last(value.split(/\s*\/\s*/));
                                                siteInfo[key] = new File([blob], fileName, {type});
                                            });
                                    }
                                });
                            });

                            imagesLoaded.finally(() => this.siteInfo = {...siteInfo});
                        }
                    });
            },
            storeSiteInfo() {
                this.sending = true;
                updateEntity('site-info', this.siteInfo)
                    .then(({data}) => {
                        this.$notify.success('Успешно сохранено!');
                    })
                    .catch((err) => this.$notify.error(err))
                    .finally(() => {
                        this.sending = false;
                    });
            }
        },
        mounted() {
            if (!this.isCreate) {
                this.loadSiteInfo();
            }

            this.getUsers();
            this.getDocuments();
        }
    };
</script>
