<template>
    <items-list title="Заявки"
                :actions="{show: true}"
                admin-link="/admin/form-requests"
                api-link="/api/form-requests"
                no-elements-text="Пока нет ни одной заявки."
                :headers="headers"></items-list>
</template>

<script>
    import ItemsList from "../../../components/admin/items-list";

    export default {
        name:       "form-requests-index",
        components: {ItemsList},
        data() {
            return {
                headers: [
                    {
                        text:  'ID',
                        value: 'id'
                    },
                    {
                        text:  'Форма',
                        value: 'form_name'
                    },
                    {
                        text:  'Имя',
                        value: 'name'
                    },
                    {
                        text:  'E-mail',
                        value: 'email'
                    },
                    {
                        text:  'Телефон',
                        value: 'phone_number'
                    },
                    {
                        text:  'Создано',
                        value: 'created_at'
                    },
                    {
                        text:     '',
                        value:    'actions',
                        sortable: false,
                        align:    'end'
                    }
                ]
            };
        },
        mounted() {
            this.$title.set('Заявки');
        }
    };
</script>
