<template>
    <form-requests-card :id="id"></form-requests-card>
</template>

<script>

    import FormRequestsCard from "../../../components/admin/form-requests/card";

    export default {
        name:       "form-requests-show",
        components: {
            FormRequestsCard
        },
        data() {
            return {
                id: null
            };
        },
        created() {
            this.$title.set('Заявка');
            this.id = this.$route.params.id;
        }
    };
</script>
